# SPARK API

## Documentation: 

- RDD API
    - https://spark.apache.org/docs/latest/rdd-programming-guide.html
    - https://spark.apache.org/docs/latest/api/python/reference/pyspark.html#rdd-apis
    - https://intellipaat.com/blog/tutorial/spark-tutorial/programming-with-rdds/
    
- Spark SQL, Dataframe API: https://spark.apache.org/docs/latest/sql-programming-guide.html

In [1]:
import findspark
findspark.init()
import pyspark
import random

from pyspark.sql import SparkSession

sc = pyspark.SparkContext(appName="SPARK_API")
spark = SparkSession(sc)

.

## RDD API

RDD (Resilient Distributed Dataset) is the core data structure of Spark, which allows distributed processing of data on the Spark cluster. An RDD is a non-modifiable, partitioned dataset with no strict ordering between its elements.

The RDD supports the following basic operations:

- Transformation: RDDs can be transformed using transformation operations. RDDs cannot be modified, so each transformation operation results in a new RDD.
- Action: RDDs can be subject to action operations, the result of which is returned to the Spark control program.

RDDs can be created as follows:

- RDDs can be created from data sources such as text files, databases, or Hadoop HDFS.
- RDDs can be created by transformations of existing RDDs.
- RDDs can be created from data in the Spark driver.

The RDD API is part of PySpark and provides the following functionality for managing RDDs (Resilient Distributed Datasets):

- Transformations: are used to modify the data in RDDs. For example, map(), filter(), flatMap(), reduceByKey(), etc.

- Actions: are used to write out the data of RDDs or to retrieve the results. For example, collect (), take (), first (), count (), etc.

- Persistence: can be used to cache RDDs or to save data. For example, cache(), persist(), saveAsTextFile(), etc.

- Partitioning: RDDs are used to partition and move data in a cluster. Examples are repartition (), coalesce (), etc.


- RDD operations: RDDs provide basic operations for processing data. For example, union (), intersection (), subtract (), etc.

In [2]:
titanic_rdd = spark.read.format("parquet").load("titanic_parquet").rdd

In [4]:
#titanic_rdd.show()

# no show function available

In [5]:
#titanic_rdd.printSchema()

# no function printSchema

In [3]:
titanic_rdd.foreach(print)

### RDD API

| Function | description |
|---|---|
| map(func) | Returns a new RDD while executing the function passed in the parameter |
| flatMap(func) | |
| filter(func) | Returns with a new RDD, while only those elements will be included for which the function returned True |
| reduceByKey(func) | Aggregate values by key |
| groupByKey() | Convert Key/Value pair to Key/List |
| union(otherDataset) | Combines both the current RDD and the RDD passed to the parameter |
| intersection(otherDataset) | Returns the common elements |
| distinct() | Removes duplicate rows |
| coalesce(numPartitions) | Change the partitions to the specified number without reshuffling |
| repartition(numPartitions) | Change the partitions to the specified number, with reshuffling |
| reduce( func) | Aggregate mapped data |
| collect() | Retrieve data in rdd into python list |
| count() | Return the number of rows in RDD in python |
| first() | Returns the first element |
| take( n) | Returns N elements |
| foreach( func) | Executes the func function on all elements of the RDD |

### map function

The map() function is a basic transformation of PySpark RDDs. Using map(), all elements in an RDD can be transformed into a list of elements in a new RDD.

The new RDD returned by map() is the transformed version of the original RDD. The original RDD is not modified.

The map() function has a single parameter, which can be a lambda expression, a function or a method. The lambda expression is usually the simplest solution, especially if the transformation is short and simple. A function or method may also be used if the transformation is more complex and/or requires more parameters.

The use of the map() function is very useful in preparing the data and converting, extracting and transforming dates or numbers into the desired format. When using the map() function, it is important to note that transformations are only performed when action functions (e.g. collect(), count(), saveAsTextFile()) are called with RDD. This means that the map() function does not perform all computations immediately, but only when the RDD is evaluated in some way.

### filter function
The filter() function is used to select from the elements in the RDD only those that satisfy a given condition, which is a lambda expression or a function. Those elements that match the condition are kept in the RDD, while those that do not are discarded.



### count function
The count() function of PySpark RDDs is one of the basic actions to count the number of elements in the RDD.

The count() function has no parameters, and returns an integer number that specifies the number of elements in the RDD. This is useful because it allows the size of the RDD to be checked, which can be particularly important when analysing and processing data.

The count() function is very fast, as it does not check all the elements in the RDD, but only their number. This function can be used to check the size of the RDD and to review and examine data from the RDD.

If the RDD is empty, the result will be 0.

In [7]:
# Extract only the names from the full data, which is the fourth column

names = titanic_rdd.map(lambda x: x[3])
print(names.collect())

['Braund, Mr. Owen Harris', 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)', 'Heikkinen, Miss. Laina', 'Futrelle, Mrs. Jacques Heath (Lily May Peel)', 'Allen, Mr. William Henry', 'Moran, Mr. James', 'McCarthy, Mr. Timothy J', 'Palsson, Master. Gosta Leonard', 'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)', 'Nasser, Mrs. Nicholas (Adele Achem)', 'Sandstrom, Miss. Marguerite Rut', 'Bonnell, Miss. Elizabeth', 'Saundercock, Mr. William Henry', 'Andersson, Mr. Anders Johan', 'Vestrom, Miss. Hulda Amanda Adolfina', 'Hewlett, Mrs. (Mary D Kingcome) ', 'Rice, Master. Eugene', 'Williams, Mr. Charles Eugene', 'Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)', 'Masselmani, Mrs. Fatima', 'Fynney, Mr. Joseph J', 'Beesley, Mr. Lawrence', '"McGowan, Miss. Anna ""Annie"""', 'Sloper, Mr. William Thompson', 'Palsson, Miss. Torborg Danira', 'Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)', 'Emir, Mr. Farred Chehab', 'Fortune, Mr. Charles Alexander', '"O\'Dwyer, Miss. Ellen ""Nellie"""', 'Todoroff, Mr. Lalio', 'Uruchurtu, Don. Manuel E', 'Spencer, Mrs. William Augustus (Marie Eugenie)', 'Glynn, Miss. Mary Agatha', 'Wheadon, Mr. Edward H', 'Meyer, Mr. Edgar Joseph', 'Holverson, Mr. Alexander Oskar', 'Mamee, Mr. Hanna', 'Cann, Mr. Ernest Charles', 'Vander Planke, Miss. Augusta Maria', 'Nicola-Yarred, Miss. Jamila', 'Ahlin, Mrs. Johan (Johanna Persdotter Larsson)', 'Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)', 'Kraeff, Mr. Theodor', 'Laroche, Miss. Simonne Marie Anne Andree', 'Devaney, Miss. Margaret Delia', 'Rogers, Mr. William John', 'Lennon, Mr. Denis', "O'Driscoll, Miss. Bridget", 'Samaan, Mr. Youssef', 'Arnold-Franchi, Mrs. Josef (Josefine Franchi)', 'Panula, Master. Juha Niilo', 'Nosworthy, Mr. Richard Cater', 'Harper, Mrs. Henry Sleeper (Myna Haxtun)', 'Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)', 'Ostby, Mr. Engelhart Cornelius', 'Woolner, Mr. Hugh', 'Rugg, Miss. Emily', 'Novel, Mr. Mansouer', 'West, Miss. Constance Mirium', 'Goodwin, Master. William Frederick', 'Sirayanian, Mr. Orsen', 'Icard, Miss. Amelie', 'Harris, Mr. Henry Birkhardt', 'Skoog, Master. Harald', 'Stewart, Mr. Albert A', 'Moubarek, Master. Gerios', 'Nye, Mrs. (Elizabeth Ramell)', 'Crease, Mr. Ernest James', 'Andersson, Miss. Erna Alexandra', 'Kink, Mr. Vincenz', 'Jenkin, Mr. Stephen Curnow', 'Goodwin, Miss. Lillian Amy', 'Hood, Mr. Ambrose Jr', 'Chronopoulos, Mr. Apostolos', 'Bing, Mr. Lee', 'Moen, Mr. Sigurd Hansen', 'Staneff, Mr. Ivan', 'Moutal, Mr. Rahamin Haim', 'Caldwell, Master. Alden Gates', 'Dowdell, Miss. Elizabeth', 'Waelens, Mr. Achille', 'Sheerlinck, Mr. Jan Baptist', 'McDermott, Miss. Brigdet Delia', 'Carrau, Mr. Francisco M', 'Ilett, Miss. Bertha', 'Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)', 'Ford, Mr. William Neal', 'Slocovski, Mr. Selman Francis', 'Fortune, Miss. Mabel Helen', 'Celotti, Mr. Francesco', 'Christmann, Mr. Emil', 'Andreasson, Mr. Paul Edvin', 'Chaffee, Mr. Herbert Fuller', 'Dean, Mr. Bertram Frank', 'Coxon, Mr. Daniel', 'Shorney, Mr. Charles Joseph', 'Goldschmidt, Mr. George B', 'Greenfield, Mr. William Bertram', 'Doling, Mrs. John T (Ada Julia Bone)', 'Kantor, Mr. Sinai', 'Petranec, Miss. Matilda', '"Petroff, Mr. Pastcho (""Pentcho"")"', 'White, Mr. Richard Frasar', 'Johansson, Mr. Gustaf Joel', 'Gustafsson, Mr. Anders Vilhelm', 'Mionoff, Mr. Stoytcho', 'Salkjelsvik, Miss. Anna Kristine', 'Moss, Mr. Albert Johan', 'Rekic, Mr. Tido', 'Moran, Miss. Bertha', 'Porter, Mr. Walter Chamberlain', 'Zabour, Miss. Hileni', 'Barton, Mr. David John', 'Jussila, Miss. Katriina', 'Attalah, Miss. Malake', 'Pekoniemi, Mr. Edvard', 'Connors, Mr. Patrick', 'Turpin, Mr. William John Robert', 'Baxter, Mr. Quigg Edmond', 'Andersson, Miss. Ellis Anna Maria', 'Hickman, Mr. Stanley George', 'Moore, Mr. Leonard Charles', 'Nasser, Mr. Nicholas', 'Webber, Miss. Susan', 'White, Mr. Percival Wayland', 'Nicola-Yarred, Master. Elias', 'McMahon, Mr. Martin', 'Madsen, Mr. Fridtjof Arne', 'Peter, Miss. Anna', 'Ekstrom, Mr. Johan', 'Drazenoic, Mr. Jozef', 'Coelho, Mr. Domingos Fernandeo', 'Robins, Mrs. Alexander A (Grace Charity Laury)', 'Weisz, Mrs. Leopold (Mathilde Francoise Pede)', 'Sobey, Mr. Samuel James Hayden', 'Richard, Mr. Emile', 'Newsom, Miss. Helen Monypeny', 'Futrelle, Mr. Jacques Heath', 'Osen, Mr. Olaf Elon', 'Giglio, Mr. Victor', 'Boulos, Mrs. Joseph (Sultana)', 'Nysten, Miss. Anna Sofia', 'Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck)', 'Burke, Mr. Jeremiah', 'Andrew, Mr. Edgardo Samuel', 'Nicholls, Mr. Joseph Charles', '"Andersson, Mr. August Edvard (""Wennerstrom"")"', '"Ford, Miss. Robina Maggie ""Ruby"""', '"Navratil, Mr. Michel (""Louis M Hoffman"")"', 'Byles, Rev. Thomas Roussel Davids', 'Bateman, Rev. Robert James', 'Pears, Mrs. Thomas (Edith Wearne)', 'Meo, Mr. Alfonzo', 'van Billiard, Mr. Austin Blyler', 'Olsen, Mr. Ole Martin', 'Williams, Mr. Charles Duane', '"Gilnagh, Miss. Katherine ""Katie"""', 'Corn, Mr. Harry', 'Smiljanic, Mr. Mile', 'Sage, Master. Thomas Henry', 'Cribb, Mr. John Hatfield', '"Watt, Mrs. James (Elizabeth ""Bessie"" Inglis Milne)"', 'Bengtsson, Mr. John Viktor', 'Calic, Mr. Jovo', 'Panula, Master. Eino Viljami', '"Goldsmith, Master. Frank John William ""Frankie"""', 'Chibnall, Mrs. (Edith Martha Bowerman)', 'Skoog, Mrs. William (Anna Bernhardina Karlsson)', 'Baumann, Mr. John D', 'Ling, Mr. Lee', 'Van der hoef, Mr. Wyckoff', 'Rice, Master. Arthur', 'Johnson, Miss. Eleanor Ileen', 'Sivola, Mr. Antti Wilhelm', 'Smith, Mr. James Clinch', 'Klasen, Mr. Klas Albin', 'Lefebre, Master. Henry Forbes', 'Isham, Miss. Ann Elizabeth', 'Hale, Mr. Reginald', 'Leonard, Mr. Lionel', 'Sage, Miss. Constance Gladys', 'Pernot, Mr. Rene', 'Asplund, Master. Clarence Gustaf Hugo', 'Becker, Master. Richard F', 'Kink-Heilmann, Miss. Luise Gretchen', 'Rood, Mr. Hugh Roscoe', '"O\'Brien, Mrs. Thomas (Johanna ""Hannah"" Godfrey)"', '"Romaine, Mr. Charles Hallace (""Mr C Rolmane"")"', 'Bourke, Mr. John', 'Turcin, Mr. Stjepan', 'Pinsky, Mrs. (Rosa)', 'Carbines, Mr. William', 'Andersen-Jensen, Miss. Carla Christine Nielsine', 'Navratil, Master. Michel M', 'Brown, Mrs. James Joseph (Margaret Tobin)', 'Lurette, Miss. Elise', 'Mernagh, Mr. Robert', 'Olsen, Mr. Karl Siegwart Andreas', '"Madigan, Miss. Margaret ""Maggie"""', '"Yrois, Miss. Henriette (""Mrs Harbeck"")"', 'Vande Walle, Mr. Nestor Cyriel', 'Sage, Mr. Frederick', 'Johanson, Mr. Jakob Alfred', 'Youseff, Mr. Gerious', '"Cohen, Mr. Gurshon ""Gus"""', 'Strom, Miss. Telma Matilda', 'Backstrom, Mr. Karl Alfred', 'Albimona, Mr. Nassef Cassem', '"Carr, Miss. Helen ""Ellen"""', 'Blank, Mr. Henry', 'Ali, Mr. Ahmed', 'Cameron, Miss. Clear Annie', 'Perkin, Mr. John Henry', 'Givard, Mr. Hans Kristensen', 'Kiernan, Mr. Philip', 'Newell, Miss. Madeleine', 'Honkanen, Miss. Eliina', 'Jacobsohn, Mr. Sidney Samuel', 'Bazzani, Miss. Albina', 'Harris, Mr. Walter', 'Sunderland, Mr. Victor Francis', 'Bracken, Mr. James H', 'Green, Mr. George Henry', 'Nenkoff, Mr. Christo', 'Hoyt, Mr. Frederick Maxfield', 'Berglund, Mr. Karl Ivar Sven', 'Mellors, Mr. William John', '"Lovell, Mr. John Hall (""Henry"")"', 'Fahlstrom, Mr. Arne Jonas', 'Lefebre, Miss. Mathilde', 'Harris, Mrs. Henry Birkhardt (Irene Wallach)', 'Larsson, Mr. Bengt Edvin', 'Sjostedt, Mr. Ernst Adolf', 'Asplund, Miss. Lillian Gertrud', 'Leyson, Mr. Robert William Norman', 'Harknett, Miss. Alice Phoebe', 'Hold, Mr. Stephen', '"Collyer, Miss. Marjorie ""Lottie"""', 'Pengelly, Mr. Frederick William', 'Hunt, Mr. George Henry', 'Zabour, Miss. Thamine', '"Murphy, Miss. Katherine ""Kate"""', 'Coleridge, Mr. Reginald Charles', 'Maenpaa, Mr. Matti Alexanteri', 'Attalah, Mr. Sleiman', 'Minahan, Dr. William Edward', 'Lindahl, Miss. Agda Thorilda Viktoria', 'Hamalainen, Mrs. William (Anna)', 'Beckwith, Mr. Richard Leonard', 'Carter, Rev. Ernest Courtenay', 'Reed, Mr. James George', 'Strom, Mrs. Wilhelm (Elna Matilda Persson)', 'Stead, Mr. William Thomas', 'Lobb, Mr. William Arthur', 'Rosblom, Mrs. Viktor (Helena Wilhelmina)', 'Touma, Mrs. Darwis (Hanne Youssef Razi)', 'Thorne, Mrs. Gertrude Maybelle', 'Cherry, Miss. Gladys', 'Ward, Miss. Anna', 'Parrish, Mrs. (Lutie Davis)', 'Smith, Mr. Thomas', 'Asplund, Master. Edvin Rojj Felix', 'Taussig, Mr. Emil', 'Harrison, Mr. William', 'Henry, Miss. Delia', 'Reeves, Mr. David', 'Panula, Mr. Ernesti Arvid', 'Persson, Mr. Ernst Ulrik', 'Graham, Mrs. William Thompson (Edith Junkins)', 'Bissette, Miss. Amelia', 'Cairns, Mr. Alexander', 'Tornquist, Mr. William Henry', 'Mellinger, Mrs. (Elizabeth Anne Maidment)', 'Natsch, Mr. Charles H', '"Healy, Miss. Hanora ""Nora"""', 'Andrews, Miss. Kornelia Theodosia', 'Lindblom, Miss. Augusta Charlotta', '"Parkes, Mr. Francis ""Frank"""', 'Rice, Master. Eric', 'Abbott, Mrs. Stanton (Rosa Hunt)', 'Duane, Mr. Frank', 'Olsson, Mr. Nils Johan Goransson', 'de Pelsmaeker, Mr. Alfons', 'Dorking, Mr. Edward Arthur', 'Smith, Mr. Richard William', 'Stankovic, Mr. Ivan', 'de Mulder, Mr. Theodore', 'Naidenoff, Mr. Penko', 'Hosono, Mr. Masabumi', 'Connolly, Miss. Kate', '"Barber, Miss. Ellen ""Nellie"""', 'Bishop, Mrs. Dickinson H (Helen Walton)', 'Levy, Mr. Rene Jacques', 'Haas, Miss. Aloisia', 'Mineff, Mr. Ivan', 'Lewy, Mr. Ervin G', 'Hanna, Mr. Mansour', 'Allison, Miss. Helen Loraine', 'Saalfeld, Mr. Adolphe', 'Baxter, Mrs. James (Helene DeLaudeniere Chaput)', '"Kelly, Miss. Anna Katherine ""Annie Kate"""', 'McCoy, Mr. Bernard', 'Johnson, Mr. William Cahoone Jr', 'Keane, Miss. Nora A', '"Williams, Mr. Howard Hugh ""Harry"""', 'Allison, Master. Hudson Trevor', 'Fleming, Miss. Margaret', 'Penasco y Castellana, Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo)', 'Abelson, Mr. Samuel', 'Francatelli, Miss. Laura Mabel', 'Hays, Miss. Margaret Bechstein', 'Ryerson, Miss. Emily Borie', 'Lahtinen, Mrs. William (Anna Sylfven)', 'Hendekovic, Mr. Ignjac', 'Hart, Mr. Benjamin', 'Nilsson, Miss. Helmina Josefina', 'Kantor, Mrs. Sinai (Miriam Sternin)', 'Moraweck, Dr. Ernest', 'Wick, Miss. Mary Natalie', 'Spedden, Mrs. Frederic Oakley (Margaretta Corning Stone)', 'Dennis, Mr. Samuel', 'Danoff, Mr. Yoto', 'Slayter, Miss. Hilda Mary', 'Caldwell, Mrs. Albert Francis (Sylvia Mae Harbaugh)', 'Sage, Mr. George John Jr', 'Young, Miss. Marie Grice', 'Nysveen, Mr. Johan Hansen', 'Ball, Mrs. (Ada E Hall)', 'Goldsmith, Mrs. Frank John (Emily Alice Brown)', 'Hippach, Miss. Jean Gertrude', 'McCoy, Miss. Agnes', 'Partner, Mr. Austen', 'Graham, Mr. George Edward', 'Vander Planke, Mr. Leo Edmondus', 'Frauenthal, Mrs. Henry William (Clara Heinsheimer)', 'Denkoff, Mr. Mitto', 'Pears, Mr. Thomas Clinton', 'Burns, Miss. Elizabeth Margaret', 'Dahl, Mr. Karl Edwart', 'Blackwell, Mr. Stephen Weart', 'Navratil, Master. Edmond Roger', 'Fortune, Miss. Alice Elizabeth', 'Collander, Mr. Erik Gustaf', 'Sedgwick, Mr. Charles Frederick Waddington', 'Fox, Mr. Stanley Hubert', '"Brown, Miss. Amelia ""Mildred"""', 'Smith, Miss. Marion Elsie', 'Davison, Mrs. Thomas Henry (Mary E Finck)', '"Coutts, Master. William Loch ""William"""', 'Dimic, Mr. Jovan', 'Odahl, Mr. Nils Martin', 'Williams-Lambert, Mr. Fletcher Fellows', 'Elias, Mr. Tannous', 'Arnold-Franchi, Mr. Josef', 'Yousif, Mr. Wazli', 'Vanden Steen, Mr. Leo Peter', 'Bowerman, Miss. Elsie Edith', 'Funk, Miss. Annie Clemmer', 'McGovern, Miss. Mary', '"Mockler, Miss. Helen Mary ""Ellie"""', 'Skoog, Mr. Wilhelm', 'del Carlo, Mr. Sebastiano', 'Barbara, Mrs. (Catherine David)', 'Asim, Mr. Adola', "O'Brien, Mr. Thomas", 'Adahl, Mr. Mauritz Nils Martin', 'Warren, Mrs. Frank Manley (Anna Sophia Atkinson)', 'Moussa, Mrs. (Mantoura Boulos)', 'Jermyn, Miss. Annie', 'Aubart, Mme. Leontine Pauline', 'Harder, Mr. George Achilles', 'Wiklund, Mr. Jakob Alfred', 'Beavan, Mr. William Thomas', 'Ringhini, Mr. Sante', 'Palsson, Miss. Stina Viola', 'Meyer, Mrs. Edgar Joseph (Leila Saks)', 'Landergren, Miss. Aurora Adelia', 'Widener, Mr. Harry Elkins', 'Betros, Mr. Tannous', 'Gustafsson, Mr. Karl Gideon', 'Bidois, Miss. Rosalie', '"Nakid, Miss. Maria (""Mary"")"', 'Tikkanen, Mr. Juho', 'Holverson, Mrs. Alexander Oskar (Mary Aline Towner)', 'Plotcharsky, Mr. Vasil', 'Davies, Mr. Charles Henry', 'Goodwin, Master. Sidney Leonard', 'Buss, Miss. Kate', 'Sadlier, Mr. Matthew', 'Lehmann, Miss. Bertha', 'Carter, Mr. William Ernest', 'Jansson, Mr. Carl Olof', 'Gustafsson, Mr. Johan Birger', 'Newell, Miss. Marjorie', 'Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengtsson)', 'Johansson, Mr. Erik', 'Olsson, Miss. Elina', 'McKane, Mr. Peter David', 'Pain, Dr. Alfred', 'Trout, Mrs. William H (Jessie L)', 'Niskanen, Mr. Juha', 'Adams, Mr. John', 'Jussila, Miss. Mari Aina', 'Hakkarainen, Mr. Pekka Pietari', 'Oreskovic, Miss. Marija', 'Gale, Mr. Shadrach', 'Widegren, Mr. Carl/Charles Peter', 'Richards, Master. William Rowe', 'Birkeland, Mr. Hans Martin Monsen', 'Lefebre, Miss. Ida', 'Sdycoff, Mr. Todor', 'Hart, Mr. Henry', 'Minahan, Miss. Daisy E', 'Cunningham, Mr. Alfred Fleming', 'Sundman, Mr. Johan Julian', 'Meek, Mrs. Thomas (Annie Louise Rowley)', 'Drew, Mrs. James Vivian (Lulu Thorne Christian)', 'Silven, Miss. Lyyli Karoliina', 'Matthews, Mr. William John', 'Van Impe, Miss. Catharina', 'Gheorgheff, Mr. Stanio', 'Charters, Mr. David', 'Zimmerman, Mr. Leo', 'Danbom, Mrs. Ernst Gilbert (Anna Sigrid Maria Brogren)', 'Rosblom, Mr. Viktor Richard', 'Wiseman, Mr. Phillippe', 'Clarke, Mrs. Charles V (Ada Maria Winfield)', '"Phillips, Miss. Kate Florence (""Mrs Kate Louise Phillips Marshall"")"', 'Flynn, Mr. James', 'Pickard, Mr. Berk (Berk Trembisky)', 'Bjornstrom-Steffansson, Mr. Mauritz Hakan', 'Thorneycroft, Mrs. Percival (Florence Kate White)', 'Louch, Mrs. Charles Alexander (Alice Adelaide Slow)', 'Kallio, Mr. Nikolai Erland', 'Silvey, Mr. William Baird', 'Carter, Miss. Lucile Polk', '"Ford, Miss. Doolina Margaret ""Daisy"""', 'Richards, Mrs. Sidney (Emily Hocking)', 'Fortune, Mr. Mark', 'Kvillner, Mr. Johan Henrik Johannesson', 'Hart, Mrs. Benjamin (Esther Ada Bloomfield)', 'Hampe, Mr. Leon', 'Petterson, Mr. Johan Emil', 'Reynaldo, Ms. Encarnacion', 'Johannesen-Bratthammer, Mr. Bernt', 'Dodge, Master. Washington', 'Mellinger, Miss. Madeleine Violet', 'Seward, Mr. Frederic Kimber', 'Baclini, Miss. Marie Catherine', 'Peuchen, Major. Arthur Godfrey', 'West, Mr. Edwy Arthur', 'Hagland, Mr. Ingvald Olai Olsen', 'Foreman, Mr. Benjamin Laventall', 'Goldenberg, Mr. Samuel L', 'Peduzzi, Mr. Joseph', 'Jalsevac, Mr. Ivan', 'Millet, Mr. Francis Davis', 'Kenyon, Mrs. Frederick R (Marion)', 'Toomey, Miss. Ellen', "O'Connor, Mr. Maurice", 'Anderson, Mr. Harry', 'Morley, Mr. William', 'Gee, Mr. Arthur H', 'Milling, Mr. Jacob Christian', 'Maisner, Mr. Simon', 'Goncalves, Mr. Manuel Estanslas', 'Campbell, Mr. William', 'Smart, Mr. John Montgomery', 'Scanlan, Mr. James', 'Baclini, Miss. Helene Barbara', 'Keefe, Mr. Arthur', 'Cacic, Mr. Luka', 'West, Mrs. Edwy Arthur (Ada Mary Worth)', 'Jerwan, Mrs. Amin S (Marie Marthe Thuillard)', 'Strandberg, Miss. Ida Sofia', 'Clifford, Mr. George Quincy', 'Renouf, Mr. Peter Henry', 'Braund, Mr. Lewis Richard', 'Karlsson, Mr. Nils August', 'Hirvonen, Miss. Hildur E', 'Goodwin, Master. Harold Victor', '"Frost, Mr. Anthony Wood ""Archie"""', 'Rouse, Mr. Richard Henry', 'Turkula, Mrs. (Hedwig)', 'Bishop, Mr. Dickinson H', 'Lefebre, Miss. Jeannie', 'Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)', 'Kent, Mr. Edward Austin', 'Somerton, Mr. Francis William', '"Coutts, Master. Eden Leslie ""Neville"""', 'Hagland, Mr. Konrad Mathias Reiersen', 'Windelov, Mr. Einar', 'Molson, Mr. Harry Markland', 'Artagaveytia, Mr. Ramon', 'Stanley, Mr. Edward Roland', 'Yousseff, Mr. Gerious', 'Eustis, Miss. Elizabeth Mussey', 'Shellard, Mr. Frederick William', 'Allison, Mrs. Hudson J C (Bessie Waldo Daniels)', 'Svensson, Mr. Olof', 'Calic, Mr. Petar', 'Canavan, Miss. Mary', "O'Sullivan, Miss. Bridget Mary", 'Laitinen, Miss. Kristina Sofia', 'Maioni, Miss. Roberta', 'Penasco y Castellana, Mr. Victor de Satode', 'Quick, Mrs. Frederick Charles (Jane Richards)', '"Bradley, Mr. George (""George Arthur Brayton"")"', 'Olsen, Mr. Henry Margido', 'Lang, Mr. Fang', 'Daly, Mr. Eugene Patrick', 'Webber, Mr. James', 'McGough, Mr. James Robert', 'Rothschild, Mrs. Martin (Elizabeth L. Barrett)', 'Coleff, Mr. Satio', 'Walker, Mr. William Anderson', 'Lemore, Mrs. (Amelia Milley)', 'Ryan, Mr. Patrick', '"Angle, Mrs. William A (Florence ""Mary"" Agnes Hughes)"', 'Pavlovic, Mr. Stefo', 'Perreault, Miss. Anne', 'Vovk, Mr. Janko', 'Lahoud, Mr. Sarkis', 'Hippach, Mrs. Louis Albert (Ida Sophia Fischer)', 'Kassem, Mr. Fared', 'Farrell, Mr. James', 'Ridsdale, Miss. Lucy', 'Farthing, Mr. John', 'Salonen, Mr. Johan Werner', 'Hocking, Mr. Richard George', 'Quick, Miss. Phyllis May', 'Toufik, Mr. Nakli', 'Elias, Mr. Joseph Jr', 'Peter, Mrs. Catherine (Catherine Rizk)', 'Cacic, Miss. Marija', 'Hart, Miss. Eva Miriam', 'Butt, Major. Archibald Willingham', 'LeRoy, Miss. Bertha', 'Risien, Mr. Samuel Beard', 'Frolicher, Miss. Hedwig Margaritha', 'Crosby, Miss. Harriet R', 'Andersson, Miss. Ingeborg Constanzia', 'Andersson, Miss. Sigrid Elisabeth', 'Beane, Mr. Edward', 'Douglas, Mr. Walter Donald', 'Nicholson, Mr. Arthur Ernest', 'Beane, Mrs. Edward (Ethel Clarke)', 'Padro y Manent, Mr. Julian', 'Goldsmith, Mr. Frank John', 'Davies, Master. John Morgan Jr', 'Thayer, Mr. John Borland Jr', 'Sharp, Mr. Percival James R', "O'Brien, Mr. Timothy", '"Leeni, Mr. Fahim (""Philip Zenni"")"', 'Ohman, Miss. Velin', 'Wright, Mr. George', '"Duff Gordon, Lady. (Lucille Christiana Sutherland) (""Mrs Morgan"")"', 'Robbins, Mr. Victor', 'Taussig, Mrs. Emil (Tillie Mandelbaum)', 'de Messemaeker, Mrs. Guillaume Joseph (Emma)', 'Morrow, Mr. Thomas Rowan', 'Sivic, Mr. Husein', 'Norman, Mr. Robert Douglas', 'Simmons, Mr. John', 'Meanwell, Miss. (Marion Ogden)', 'Davies, Mr. Alfred J', 'Stoytcheff, Mr. Ilia', 'Palsson, Mrs. Nils (Alma Cornelia Berglund)', 'Doharr, Mr. Tannous', 'Jonsson, Mr. Carl', 'Harris, Mr. George', 'Appleton, Mrs. Edward Dale (Charlotte Lamson)', '"Flynn, Mr. John Irwin (""Irving"")"', 'Kelly, Miss. Mary', 'Rush, Mr. Alfred George John', 'Patchett, Mr. George', 'Garside, Miss. Ethel', 'Silvey, Mrs. William Baird (Alice Munger)', 'Caram, Mrs. Joseph (Maria Elias)', 'Jussila, Mr. Eiriik', 'Christy, Miss. Julie Rachel', 'Thayer, Mrs. John Borland (Marian Longstreth Morris)', 'Downton, Mr. William James', 'Ross, Mr. John Hugo', 'Paulner, Mr. Uscher', 'Taussig, Miss. Ruth', 'Jarvis, Mr. John Denzil', 'Frolicher-Stehli, Mr. Maxmillian', 'Gilinski, Mr. Eliezer', 'Murdlin, Mr. Joseph', 'Rintamaki, Mr. Matti', 'Stephenson, Mrs. Walter Bertram (Martha Eustis)', 'Elsbury, Mr. William James', 'Bourke, Miss. Mary', 'Chapman, Mr. John Henry', 'Van Impe, Mr. Jean Baptiste', 'Leitch, Miss. Jessie Wills', 'Johnson, Mr. Alfred', 'Boulos, Mr. Hanna', '"Duff Gordon, Sir. Cosmo Edmund (""Mr Morgan"")"', 'Jacobsohn, Mrs. Sidney Samuel (Amy Frances Christy)', 'Slabenoff, Mr. Petco', 'Harrington, Mr. Charles H', 'Torber, Mr. Ernst William', '"Homer, Mr. Harry (""Mr E Haven"")"', 'Lindell, Mr. Edvard Bengtsson', 'Karaic, Mr. Milan', 'Daniel, Mr. Robert Williams', 'Laroche, Mrs. Joseph (Juliette Marie Louise Lafargue)', 'Shutes, Miss. Elizabeth W', 'Andersson, Mrs. Anders Johan (Alfrida Konstantia Brogren)', 'Jardin, Mr. Jose Neto', 'Murphy, Miss. Margaret Jane', 'Horgan, Mr. John', 'Brocklebank, Mr. William Alfred', 'Herman, Miss. Alice', 'Danbom, Mr. Ernst Gilbert', 'Lobb, Mrs. William Arthur (Cordelia K Stanlick)', 'Becker, Miss. Marion Louise', 'Gavey, Mr. Lawrence', 'Yasbeck, Mr. Antoni', 'Kimball, Mr. Edwin Nelson Jr', 'Nakid, Mr. Sahid', 'Hansen, Mr. Henry Damsgaard', '"Bowen, Mr. David John ""Dai"""', 'Sutton, Mr. Frederick', 'Kirkland, Rev. Charles Leonard', 'Longley, Miss. Gretchen Fiske', 'Bostandyeff, Mr. Guentcho', "O'Connell, Mr. Patrick D", 'Barkworth, Mr. Algernon Henry Wilson', 'Lundahl, Mr. Johan Svensson', 'Stahelin-Maeglin, Dr. Max', 'Parr, Mr. William Henry Marsh', 'Skoog, Miss. Mabel', 'Davis, Miss. Mary', 'Leinonen, Mr. Antti Gustaf', 'Collyer, Mr. Harvey', 'Panula, Mrs. Juha (Maria Emilia Ojala)', 'T

In [4]:
# Total number of passengers in the dataset (.count())

passenger_count = titanic_rdd.count()
print(passenger_count)

891

In [5]:
# How many people were in first class? (Pclass, third column) (.count() function)

titanic_first_class_count = titanic_rdd.filter(lambda row: row[2] == 1) \
                    .count()
print(titanic_first_class_count)

216

In [6]:
# Hány ember volt, akik nem élték túl a Titanic tragédiáját? (.count() függvény segítségével)

titanic_rdd.map(lambda row: int(row[1])) \
           .filter(lambda survived: survived == 0) \
           .count()

549

In [7]:
# What proportion of first class passengers survived compared to second and third class? (.count())

first_class_survived_count = titanic_rdd \
                            .filter(lambda row: row[2] == 1 and row[1] == 1) \
                            .count()
second_class_survived_count = titanic_rdd \
                            .filter(lambda row: row[2] == 2 and row[1] == 1) \
                            .count()
third_class_survived_count = titanic_rdd \
                            .filter(lambda row: row[2] == 3 and row[1] == 1) \
                            .count()
total_survived_count = titanic_rdd \
                      .map(lambda row: int(row[1])) \
                      .filter(lambda survived: survived == 1) \
                      .count()
print(f"First class survival rate: {first_class_survived_count / total_survived_count}")
print(f"Second class survival rate: {second_class_survived_count / total_survived_count}")
print(f"Third class survival rate: {third_class_survived_count / total_survived_count}")

First class survival rate: 0.39766081871345027
Second class survival rate: 0.2543859649122807
Third class survival rate: 0.347953216374269

In [8]:
# What was the ratio of women to men in first class? (.count() function)

first_class_male_count = titanic_rdd \
                         .filter(lambda row: row[2] == 1 and row[4] == "male") \
                         .count()
first_class_female_count = titanic_rdd \
                           .filter(lambda row: row[2] == 1 and row[4] == "female") \
                           .count()
total_first_class_count = titanic_rdd \
                           .filter(lambda row: row[2] == 1) \
                           .count()
print(f"male: {first_class_male_count/total_first_class_count}")
print(f"female: {first_class_female_count/total_first_class_count}")

male: 0.5648148148148148
female: 0.4351851851851852

## Practice

In [13]:
# Extract only the names from the total data, which is the fourth column

names = titanic_rdd.map(lambda x: x[3])
print(names.collect())

['Braund, Mr. Owen Harris', 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)', 'Heikkinen, Miss. Laina', 'Futrelle, Mrs. Jacques Heath (Lily May Peel)', 'Allen, Mr. William Henry', 'Moran, Mr. James', 'McCarthy, Mr. Timothy J', 'Palsson, Master. Gosta Leonard', 'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)', 'Nasser, Mrs. Nicholas (Adele Achem)', 'Sandstrom, Miss. Marguerite Rut', 'Bonnell, Miss. Elizabeth', 'Saundercock, Mr. William Henry', 'Andersson, Mr. Anders Johan', 'Vestrom, Miss. Hulda Amanda Adolfina', 'Hewlett, Mrs. (Mary D Kingcome) ', 'Rice, Master. Eugene', 'Williams, Mr. Charles Eugene', 'Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)', 'Masselmani, Mrs. Fatima', 'Fynney, Mr. Joseph J', 'Beesley, Mr. Lawrence', '"McGowan, Miss. Anna ""Annie"""', 'Sloper, Mr. William Thompson', 'Palsson, Miss. Torborg Danira', 'Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)', 'Emir, Mr. Farred Chehab', 'Fortune, Mr. Charles Alexander', '"O\'Dwyer, Miss. Ellen ""Nellie"""', 'Todoroff, Mr. Lalio', 'Uruchurtu, Don. Manuel E', 'Spencer, Mrs. William Augustus (Marie Eugenie)', 'Glynn, Miss. Mary Agatha', 'Wheadon, Mr. Edward H', 'Meyer, Mr. Edgar Joseph', 'Holverson, Mr. Alexander Oskar', 'Mamee, Mr. Hanna', 'Cann, Mr. Ernest Charles', 'Vander Planke, Miss. Augusta Maria', 'Nicola-Yarred, Miss. Jamila', 'Ahlin, Mrs. Johan (Johanna Persdotter Larsson)', 'Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)', 'Kraeff, Mr. Theodor', 'Laroche, Miss. Simonne Marie Anne Andree', 'Devaney, Miss. Margaret Delia', 'Rogers, Mr. William John', 'Lennon, Mr. Denis', "O'Driscoll, Miss. Bridget", 'Samaan, Mr. Youssef', 'Arnold-Franchi, Mrs. Josef (Josefine Franchi)', 'Panula, Master. Juha Niilo', 'Nosworthy, Mr. Richard Cater', 'Harper, Mrs. Henry Sleeper (Myna Haxtun)', 'Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)', 'Ostby, Mr. Engelhart Cornelius', 'Woolner, Mr. Hugh', 'Rugg, Miss. Emily', 'Novel, Mr. Mansouer', 'West, Miss. Constance Mirium', 'Goodwin, Master. William Frederick', 'Sirayanian, Mr. Orsen', 'Icard, Miss. Amelie', 'Harris, Mr. Henry Birkhardt', 'Skoog, Master. Harald', 'Stewart, Mr. Albert A', 'Moubarek, Master. Gerios', 'Nye, Mrs. (Elizabeth Ramell)', 'Crease, Mr. Ernest James', 'Andersson, Miss. Erna Alexandra', 'Kink, Mr. Vincenz', 'Jenkin, Mr. Stephen Curnow', 'Goodwin, Miss. Lillian Amy', 'Hood, Mr. Ambrose Jr', 'Chronopoulos, Mr. Apostolos', 'Bing, Mr. Lee', 'Moen, Mr. Sigurd Hansen', 'Staneff, Mr. Ivan', 'Moutal, Mr. Rahamin Haim', 'Caldwell, Master. Alden Gates', 'Dowdell, Miss. Elizabeth', 'Waelens, Mr. Achille', 'Sheerlinck, Mr. Jan Baptist', 'McDermott, Miss. Brigdet Delia', 'Carrau, Mr. Francisco M', 'Ilett, Miss. Bertha', 'Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)', 'Ford, Mr. William Neal', 'Slocovski, Mr. Selman Francis', 'Fortune, Miss. Mabel Helen', 'Celotti, Mr. Francesco', 'Christmann, Mr. Emil', 'Andreasson, Mr. Paul Edvin', 'Chaffee, Mr. Herbert Fuller', 'Dean, Mr. Bertram Frank', 'Coxon, Mr. Daniel', 'Shorney, Mr. Charles Joseph', 'Goldschmidt, Mr. George B', 'Greenfield, Mr. William Bertram', 'Doling, Mrs. John T (Ada Julia Bone)', 'Kantor, Mr. Sinai', 'Petranec, Miss. Matilda', '"Petroff, Mr. Pastcho (""Pentcho"")"', 'White, Mr. Richard Frasar', 'Johansson, Mr. Gustaf Joel', 'Gustafsson, Mr. Anders Vilhelm', 'Mionoff, Mr. Stoytcho', 'Salkjelsvik, Miss. Anna Kristine', 'Moss, Mr. Albert Johan', 'Rekic, Mr. Tido', 'Moran, Miss. Bertha', 'Porter, Mr. Walter Chamberlain', 'Zabour, Miss. Hileni', 'Barton, Mr. David John', 'Jussila, Miss. Katriina', 'Attalah, Miss. Malake', 'Pekoniemi, Mr. Edvard', 'Connors, Mr. Patrick', 'Turpin, Mr. William John Robert', 'Baxter, Mr. Quigg Edmond', 'Andersson, Miss. Ellis Anna Maria', 'Hickman, Mr. Stanley George', 'Moore, Mr. Leonard Charles', 'Nasser, Mr. Nicholas', 'Webber, Miss. Susan', 'White, Mr. Percival Wayland', 'Nicola-Yarred, Master. Elias', 'McMahon, Mr. Martin', 'Madsen, Mr. Fridtjof Arne', 'Peter, Miss. Anna', 'Ekstrom, Mr. Johan', 'Drazenoic, Mr. Jozef', 'Coelho, Mr. Domingos Fernandeo', 'Robins, Mrs. Alexander A (Grace Charity Laury)', 'Weisz, Mrs. Leopold (Mathilde Francoise Pede)', 'Sobey, Mr. Samuel James Hayden', 'Richard, Mr. Emile', 'Newsom, Miss. Helen Monypeny', 'Futrelle, Mr. Jacques Heath', 'Osen, Mr. Olaf Elon', 'Giglio, Mr. Victor', 'Boulos, Mrs. Joseph (Sultana)', 'Nysten, Miss. Anna Sofia', 'Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck)', 'Burke, Mr. Jeremiah', 'Andrew, Mr. Edgardo Samuel', 'Nicholls, Mr. Joseph Charles', '"Andersson, Mr. August Edvard (""Wennerstrom"")"', '"Ford, Miss. Robina Maggie ""Ruby"""', '"Navratil, Mr. Michel (""Louis M Hoffman"")"', 'Byles, Rev. Thomas Roussel Davids', 'Bateman, Rev. Robert James', 'Pears, Mrs. Thomas (Edith Wearne)', 'Meo, Mr. Alfonzo', 'van Billiard, Mr. Austin Blyler', 'Olsen, Mr. Ole Martin', 'Williams, Mr. Charles Duane', '"Gilnagh, Miss. Katherine ""Katie"""', 'Corn, Mr. Harry', 'Smiljanic, Mr. Mile', 'Sage, Master. Thomas Henry', 'Cribb, Mr. John Hatfield', '"Watt, Mrs. James (Elizabeth ""Bessie"" Inglis Milne)"', 'Bengtsson, Mr. John Viktor', 'Calic, Mr. Jovo', 'Panula, Master. Eino Viljami', '"Goldsmith, Master. Frank John William ""Frankie"""', 'Chibnall, Mrs. (Edith Martha Bowerman)', 'Skoog, Mrs. William (Anna Bernhardina Karlsson)', 'Baumann, Mr. John D', 'Ling, Mr. Lee', 'Van der hoef, Mr. Wyckoff', 'Rice, Master. Arthur', 'Johnson, Miss. Eleanor Ileen', 'Sivola, Mr. Antti Wilhelm', 'Smith, Mr. James Clinch', 'Klasen, Mr. Klas Albin', 'Lefebre, Master. Henry Forbes', 'Isham, Miss. Ann Elizabeth', 'Hale, Mr. Reginald', 'Leonard, Mr. Lionel', 'Sage, Miss. Constance Gladys', 'Pernot, Mr. Rene', 'Asplund, Master. Clarence Gustaf Hugo', 'Becker, Master. Richard F', 'Kink-Heilmann, Miss. Luise Gretchen', 'Rood, Mr. Hugh Roscoe', '"O\'Brien, Mrs. Thomas (Johanna ""Hannah"" Godfrey)"', '"Romaine, Mr. Charles Hallace (""Mr C Rolmane"")"', 'Bourke, Mr. John', 'Turcin, Mr. Stjepan', 'Pinsky, Mrs. (Rosa)', 'Carbines, Mr. William', 'Andersen-Jensen, Miss. Carla Christine Nielsine', 'Navratil, Master. Michel M', 'Brown, Mrs. James Joseph (Margaret Tobin)', 'Lurette, Miss. Elise', 'Mernagh, Mr. Robert', 'Olsen, Mr. Karl Siegwart Andreas', '"Madigan, Miss. Margaret ""Maggie"""', '"Yrois, Miss. Henriette (""Mrs Harbeck"")"', 'Vande Walle, Mr. Nestor Cyriel', 'Sage, Mr. Frederick', 'Johanson, Mr. Jakob Alfred', 'Youseff, Mr. Gerious', '"Cohen, Mr. Gurshon ""Gus"""', 'Strom, Miss. Telma Matilda', 'Backstrom, Mr. Karl Alfred', 'Albimona, Mr. Nassef Cassem', '"Carr, Miss. Helen ""Ellen"""', 'Blank, Mr. Henry', 'Ali, Mr. Ahmed', 'Cameron, Miss. Clear Annie', 'Perkin, Mr. John Henry', 'Givard, Mr. Hans Kristensen', 'Kiernan, Mr. Philip', 'Newell, Miss. Madeleine', 'Honkanen, Miss. Eliina', 'Jacobsohn, Mr. Sidney Samuel', 'Bazzani, Miss. Albina', 'Harris, Mr. Walter', 'Sunderland, Mr. Victor Francis', 'Bracken, Mr. James H', 'Green, Mr. George Henry', 'Nenkoff, Mr. Christo', 'Hoyt, Mr. Frederick Maxfield', 'Berglund, Mr. Karl Ivar Sven', 'Mellors, Mr. William John', '"Lovell, Mr. John Hall (""Henry"")"', 'Fahlstrom, Mr. Arne Jonas', 'Lefebre, Miss. Mathilde', 'Harris, Mrs. Henry Birkhardt (Irene Wallach)', 'Larsson, Mr. Bengt Edvin', 'Sjostedt, Mr. Ernst Adolf', 'Asplund, Miss. Lillian Gertrud', 'Leyson, Mr. Robert William Norman', 'Harknett, Miss. Alice Phoebe', 'Hold, Mr. Stephen', '"Collyer, Miss. Marjorie ""Lottie"""', 'Pengelly, Mr. Frederick William', 'Hunt, Mr. George Henry', 'Zabour, Miss. Thamine', '"Murphy, Miss. Katherine ""Kate"""', 'Coleridge, Mr. Reginald Charles', 'Maenpaa, Mr. Matti Alexanteri', 'Attalah, Mr. Sleiman', 'Minahan, Dr. William Edward', 'Lindahl, Miss. Agda Thorilda Viktoria', 'Hamalainen, Mrs. William (Anna)', 'Beckwith, Mr. Richard Leonard', 'Carter, Rev. Ernest Courtenay', 'Reed, Mr. James George', 'Strom, Mrs. Wilhelm (Elna Matilda Persson)', 'Stead, Mr. William Thomas', 'Lobb, Mr. William Arthur', 'Rosblom, Mrs. Viktor (Helena Wilhelmina)', 'Touma, Mrs. Darwis (Hanne Youssef Razi)', 'Thorne, Mrs. Gertrude Maybelle', 'Cherry, Miss. Gladys', 'Ward, Miss. Anna', 'Parrish, Mrs. (Lutie Davis)', 'Smith, Mr. Thomas', 'Asplund, Master. Edvin Rojj Felix', 'Taussig, Mr. Emil', 'Harrison, Mr. William', 'Henry, Miss. Delia', 'Reeves, Mr. David', 'Panula, Mr. Ernesti Arvid', 'Persson, Mr. Ernst Ulrik', 'Graham, Mrs. William Thompson (Edith Junkins)', 'Bissette, Miss. Amelia', 'Cairns, Mr. Alexander', 'Tornquist, Mr. William Henry', 'Mellinger, Mrs. (Elizabeth Anne Maidment)', 'Natsch, Mr. Charles H', '"Healy, Miss. Hanora ""Nora"""', 'Andrews, Miss. Kornelia Theodosia', 'Lindblom, Miss. Augusta Charlotta', '"Parkes, Mr. Francis ""Frank"""', 'Rice, Master. Eric', 'Abbott, Mrs. Stanton (Rosa Hunt)', 'Duane, Mr. Frank', 'Olsson, Mr. Nils Johan Goransson', 'de Pelsmaeker, Mr. Alfons', 'Dorking, Mr. Edward Arthur', 'Smith, Mr. Richard William', 'Stankovic, Mr. Ivan', 'de Mulder, Mr. Theodore', 'Naidenoff, Mr. Penko', 'Hosono, Mr. Masabumi', 'Connolly, Miss. Kate', '"Barber, Miss. Ellen ""Nellie"""', 'Bishop, Mrs. Dickinson H (Helen Walton)', 'Levy, Mr. Rene Jacques', 'Haas, Miss. Aloisia', 'Mineff, Mr. Ivan', 'Lewy, Mr. Ervin G', 'Hanna, Mr. Mansour', 'Allison, Miss. Helen Loraine', 'Saalfeld, Mr. Adolphe', 'Baxter, Mrs. James (Helene DeLaudeniere Chaput)', '"Kelly, Miss. Anna Katherine ""Annie Kate"""', 'McCoy, Mr. Bernard', 'Johnson, Mr. William Cahoone Jr', 'Keane, Miss. Nora A', '"Williams, Mr. Howard Hugh ""Harry"""', 'Allison, Master. Hudson Trevor', 'Fleming, Miss. Margaret', 'Penasco y Castellana, Mrs. Victor de Satode (Maria Josefa Perez de Soto y Vallejo)', 'Abelson, Mr. Samuel', 'Francatelli, Miss. Laura Mabel', 'Hays, Miss. Margaret Bechstein', 'Ryerson, Miss. Emily Borie', 'Lahtinen, Mrs. William (Anna Sylfven)', 'Hendekovic, Mr. Ignjac', 'Hart, Mr. Benjamin', 'Nilsson, Miss. Helmina Josefina', 'Kantor, Mrs. Sinai (Miriam Sternin)', 'Moraweck, Dr. Ernest', 'Wick, Miss. Mary Natalie', 'Spedden, Mrs. Frederic Oakley (Margaretta Corning Stone)', 'Dennis, Mr. Samuel', 'Danoff, Mr. Yoto', 'Slayter, Miss. Hilda Mary', 'Caldwell, Mrs. Albert Francis (Sylvia Mae Harbaugh)', 'Sage, Mr. George John Jr', 'Young, Miss. Marie Grice', 'Nysveen, Mr. Johan Hansen', 'Ball, Mrs. (Ada E Hall)', 'Goldsmith, Mrs. Frank John (Emily Alice Brown)', 'Hippach, Miss. Jean Gertrude', 'McCoy, Miss. Agnes', 'Partner, Mr. Austen', 'Graham, Mr. George Edward', 'Vander Planke, Mr. Leo Edmondus', 'Frauenthal, Mrs. Henry William (Clara Heinsheimer)', 'Denkoff, Mr. Mitto', 'Pears, Mr. Thomas Clinton', 'Burns, Miss. Elizabeth Margaret', 'Dahl, Mr. Karl Edwart', 'Blackwell, Mr. Stephen Weart', 'Navratil, Master. Edmond Roger', 'Fortune, Miss. Alice Elizabeth', 'Collander, Mr. Erik Gustaf', 'Sedgwick, Mr. Charles Frederick Waddington', 'Fox, Mr. Stanley Hubert', '"Brown, Miss. Amelia ""Mildred"""', 'Smith, Miss. Marion Elsie', 'Davison, Mrs. Thomas Henry (Mary E Finck)', '"Coutts, Master. William Loch ""William"""', 'Dimic, Mr. Jovan', 'Odahl, Mr. Nils Martin', 'Williams-Lambert, Mr. Fletcher Fellows', 'Elias, Mr. Tannous', 'Arnold-Franchi, Mr. Josef', 'Yousif, Mr. Wazli', 'Vanden Steen, Mr. Leo Peter', 'Bowerman, Miss. Elsie Edith', 'Funk, Miss. Annie Clemmer', 'McGovern, Miss. Mary', '"Mockler, Miss. Helen Mary ""Ellie"""', 'Skoog, Mr. Wilhelm', 'del Carlo, Mr. Sebastiano', 'Barbara, Mrs. (Catherine David)', 'Asim, Mr. Adola', "O'Brien, Mr. Thomas", 'Adahl, Mr. Mauritz Nils Martin', 'Warren, Mrs. Frank Manley (Anna Sophia Atkinson)', 'Moussa, Mrs. (Mantoura Boulos)', 'Jermyn, Miss. Annie', 'Aubart, Mme. Leontine Pauline', 'Harder, Mr. George Achilles', 'Wiklund, Mr. Jakob Alfred', 'Beavan, Mr. William Thomas', 'Ringhini, Mr. Sante', 'Palsson, Miss. Stina Viola', 'Meyer, Mrs. Edgar Joseph (Leila Saks)', 'Landergren, Miss. Aurora Adelia', 'Widener, Mr. Harry Elkins', 'Betros, Mr. Tannous', 'Gustafsson, Mr. Karl Gideon', 'Bidois, Miss. Rosalie', '"Nakid, Miss. Maria (""Mary"")"', 'Tikkanen, Mr. Juho', 'Holverson, Mrs. Alexander Oskar (Mary Aline Towner)', 'Plotcharsky, Mr. Vasil', 'Davies, Mr. Charles Henry', 'Goodwin, Master. Sidney Leonard', 'Buss, Miss. Kate', 'Sadlier, Mr. Matthew', 'Lehmann, Miss. Bertha', 'Carter, Mr. William Ernest', 'Jansson, Mr. Carl Olof', 'Gustafsson, Mr. Johan Birger', 'Newell, Miss. Marjorie', 'Sandstrom, Mrs. Hjalmar (Agnes Charlotta Bengtsson)', 'Johansson, Mr. Erik', 'Olsson, Miss. Elina', 'McKane, Mr. Peter David', 'Pain, Dr. Alfred', 'Trout, Mrs. William H (Jessie L)', 'Niskanen, Mr. Juha', 'Adams, Mr. John', 'Jussila, Miss. Mari Aina', 'Hakkarainen, Mr. Pekka Pietari', 'Oreskovic, Miss. Marija', 'Gale, Mr. Shadrach', 'Widegren, Mr. Carl/Charles Peter', 'Richards, Master. William Rowe', 'Birkeland, Mr. Hans Martin Monsen', 'Lefebre, Miss. Ida', 'Sdycoff, Mr. Todor', 'Hart, Mr. Henry', 'Minahan, Miss. Daisy E', 'Cunningham, Mr. Alfred Fleming', 'Sundman, Mr. Johan Julian', 'Meek, Mrs. Thomas (Annie Louise Rowley)', 'Drew, Mrs. James Vivian (Lulu Thorne Christian)', 'Silven, Miss. Lyyli Karoliina', 'Matthews, Mr. William John', 'Van Impe, Miss. Catharina', 'Gheorgheff, Mr. Stanio', 'Charters, Mr. David', 'Zimmerman, Mr. Leo', 'Danbom, Mrs. Ernst Gilbert (Anna Sigrid Maria Brogren)', 'Rosblom, Mr. Viktor Richard', 'Wiseman, Mr. Phillippe', 'Clarke, Mrs. Charles V (Ada Maria Winfield)', '"Phillips, Miss. Kate Florence (""Mrs Kate Louise Phillips Marshall"")"', 'Flynn, Mr. James', 'Pickard, Mr. Berk (Berk Trembisky)', 'Bjornstrom-Steffansson, Mr. Mauritz Hakan', 'Thorneycroft, Mrs. Percival (Florence Kate White)', 'Louch, Mrs. Charles Alexander (Alice Adelaide Slow)', 'Kallio, Mr. Nikolai Erland', 'Silvey, Mr. William Baird', 'Carter, Miss. Lucile Polk', '"Ford, Miss. Doolina Margaret ""Daisy"""', 'Richards, Mrs. Sidney (Emily Hocking)', 'Fortune, Mr. Mark', 'Kvillner, Mr. Johan Henrik Johannesson', 'Hart, Mrs. Benjamin (Esther Ada Bloomfield)', 'Hampe, Mr. Leon', 'Petterson, Mr. Johan Emil', 'Reynaldo, Ms. Encarnacion', 'Johannesen-Bratthammer, Mr. Bernt', 'Dodge, Master. Washington', 'Mellinger, Miss. Madeleine Violet', 'Seward, Mr. Frederic Kimber', 'Baclini, Miss. Marie Catherine', 'Peuchen, Major. Arthur Godfrey', 'West, Mr. Edwy Arthur', 'Hagland, Mr. Ingvald Olai Olsen', 'Foreman, Mr. Benjamin Laventall', 'Goldenberg, Mr. Samuel L', 'Peduzzi, Mr. Joseph', 'Jalsevac, Mr. Ivan', 'Millet, Mr. Francis Davis', 'Kenyon, Mrs. Frederick R (Marion)', 'Toomey, Miss. Ellen', "O'Connor, Mr. Maurice", 'Anderson, Mr. Harry', 'Morley, Mr. William', 'Gee, Mr. Arthur H', 'Milling, Mr. Jacob Christian', 'Maisner, Mr. Simon', 'Goncalves, Mr. Manuel Estanslas', 'Campbell, Mr. William', 'Smart, Mr. John Montgomery', 'Scanlan, Mr. James', 'Baclini, Miss. Helene Barbara', 'Keefe, Mr. Arthur', 'Cacic, Mr. Luka', 'West, Mrs. Edwy Arthur (Ada Mary Worth)', 'Jerwan, Mrs. Amin S (Marie Marthe Thuillard)', 'Strandberg, Miss. Ida Sofia', 'Clifford, Mr. George Quincy', 'Renouf, Mr. Peter Henry', 'Braund, Mr. Lewis Richard', 'Karlsson, Mr. Nils August', 'Hirvonen, Miss. Hildur E', 'Goodwin, Master. Harold Victor', '"Frost, Mr. Anthony Wood ""Archie"""', 'Rouse, Mr. Richard Henry', 'Turkula, Mrs. (Hedwig)', 'Bishop, Mr. Dickinson H', 'Lefebre, Miss. Jeannie', 'Hoyt, Mrs. Frederick Maxfield (Jane Anne Forby)', 'Kent, Mr. Edward Austin', 'Somerton, Mr. Francis William', '"Coutts, Master. Eden Leslie ""Neville"""', 'Hagland, Mr. Konrad Mathias Reiersen', 'Windelov, Mr. Einar', 'Molson, Mr. Harry Markland', 'Artagaveytia, Mr. Ramon', 'Stanley, Mr. Edward Roland', 'Yousseff, Mr. Gerious', 'Eustis, Miss. Elizabeth Mussey', 'Shellard, Mr. Frederick William', 'Allison, Mrs. Hudson J C (Bessie Waldo Daniels)', 'Svensson, Mr. Olof', 'Calic, Mr. Petar', 'Canavan, Miss. Mary', "O'Sullivan, Miss. Bridget Mary", 'Laitinen, Miss. Kristina Sofia', 'Maioni, Miss. Roberta', 'Penasco y Castellana, Mr. Victor de Satode', 'Quick, Mrs. Frederick Charles (Jane Richards)', '"Bradley, Mr. George (""George Arthur Brayton"")"', 'Olsen, Mr. Henry Margido', 'Lang, Mr. Fang', 'Daly, Mr. Eugene Patrick', 'Webber, Mr. James', 'McGough, Mr. James Robert', 'Rothschild, Mrs. Martin (Elizabeth L. Barrett)', 'Coleff, Mr. Satio', 'Walker, Mr. William Anderson', 'Lemore, Mrs. (Amelia Milley)', 'Ryan, Mr. Patrick', '"Angle, Mrs. William A (Florence ""Mary"" Agnes Hughes)"', 'Pavlovic, Mr. Stefo', 'Perreault, Miss. Anne', 'Vovk, Mr. Janko', 'Lahoud, Mr. Sarkis', 'Hippach, Mrs. Louis Albert (Ida Sophia Fischer)', 'Kassem, Mr. Fared', 'Farrell, Mr. James', 'Ridsdale, Miss. Lucy', 'Farthing, Mr. John', 'Salonen, Mr. Johan Werner', 'Hocking, Mr. Richard George', 'Quick, Miss. Phyllis May', 'Toufik, Mr. Nakli', 'Elias, Mr. Joseph Jr', 'Peter, Mrs. Catherine (Catherine Rizk)', 'Cacic, Miss. Marija', 'Hart, Miss. Eva Miriam', 'Butt, Major. Archibald Willingham', 'LeRoy, Miss. Bertha', 'Risien, Mr. Samuel Beard', 'Frolicher, Miss. Hedwig Margaritha', 'Crosby, Miss. Harriet R', 'Andersson, Miss. Ingeborg Constanzia', 'Andersson, Miss. Sigrid Elisabeth', 'Beane, Mr. Edward', 'Douglas, Mr. Walter Donald', 'Nicholson, Mr. Arthur Ernest', 'Beane, Mrs. Edward (Ethel Clarke)', 'Padro y Manent, Mr. Julian', 'Goldsmith, Mr. Frank John', 'Davies, Master. John Morgan Jr', 'Thayer, Mr. John Borland Jr', 'Sharp, Mr. Percival James R', "O'Brien, Mr. Timothy", '"Leeni, Mr. Fahim (""Philip Zenni"")"', 'Ohman, Miss. Velin', 'Wright, Mr. George', '"Duff Gordon, Lady. (Lucille Christiana Sutherland) (""Mrs Morgan"")"', 'Robbins, Mr. Victor', 'Taussig, Mrs. Emil (Tillie Mandelbaum)', 'de Messemaeker, Mrs. Guillaume Joseph (Emma)', 'Morrow, Mr. Thomas Rowan', 'Sivic, Mr. Husein', 'Norman, Mr. Robert Douglas', 'Simmons, Mr. John', 'Meanwell, Miss. (Marion Ogden)', 'Davies, Mr. Alfred J', 'Stoytcheff, Mr. Ilia', 'Palsson, Mrs. Nils (Alma Cornelia Berglund)', 'Doharr, Mr. Tannous', 'Jonsson, Mr. Carl', 'Harris, Mr. George', 'Appleton, Mrs. Edward Dale (Charlotte Lamson)', '"Flynn, Mr. John Irwin (""Irving"")"', 'Kelly, Miss. Mary', 'Rush, Mr. Alfred George John', 'Patchett, Mr. George', 'Garside, Miss. Ethel', 'Silvey, Mrs. William Baird (Alice Munger)', 'Caram, Mrs. Joseph (Maria Elias)', 'Jussila, Mr. Eiriik', 'Christy, Miss. Julie Rachel', 'Thayer, Mrs. John Borland (Marian Longstreth Morris)', 'Downton, Mr. William James', 'Ross, Mr. John Hugo', 'Paulner, Mr. Uscher', 'Taussig, Miss. Ruth', 'Jarvis, Mr. John Denzil', 'Frolicher-Stehli, Mr. Maxmillian', 'Gilinski, Mr. Eliezer', 'Murdlin, Mr. Joseph', 'Rintamaki, Mr. Matti', 'Stephenson, Mrs. Walter Bertram (Martha Eustis)', 'Elsbury, Mr. William James', 'Bourke, Miss. Mary', 'Chapman, Mr. John Henry', 'Van Impe, Mr. Jean Baptiste', 'Leitch, Miss. Jessie Wills', 'Johnson, Mr. Alfred', 'Boulos, Mr. Hanna', '"Duff Gordon, Sir. Cosmo Edmund (""Mr Morgan"")"', 'Jacobsohn, Mrs. Sidney Samuel (Amy Frances Christy)', 'Slabenoff, Mr. Petco', 'Harrington, Mr. Charles H', 'Torber, Mr. Ernst William', '"Homer, Mr. Harry (""Mr E Haven"")"', 'Lindell, Mr. Edvard Bengtsson', 'Karaic, Mr. Milan', 'Daniel, Mr. Robert Williams', 'Laroche, Mrs. Joseph (Juliette Marie Louise Lafargue)', 'Shutes, Miss. Elizabeth W', 'Andersson, Mrs. Anders Johan (Alfrida Konstantia Brogren)', 'Jardin, Mr. Jose Neto', 'Murphy, Miss. Margaret Jane', 'Horgan, Mr. John', 'Brocklebank, Mr. William Alfred', 'Herman, Miss. Alice', 'Danbom, Mr. Ernst Gilbert', 'Lobb, Mrs. William Arthur (Cordelia K Stanlick)', 'Becker, Miss. Marion Louise', 'Gavey, Mr. Lawrence', 'Yasbeck, Mr. Antoni', 'Kimball, Mr. Edwin Nelson Jr', 'Nakid, Mr. Sahid', 'Hansen, Mr. Henry Damsgaard', '"Bowen, Mr. David John ""Dai"""', 'Sutton, Mr. Frederick', 'Kirkland, Rev. Charles Leonard', 'Longley, Miss. Gretchen Fiske', 'Bostandyeff, Mr. Guentcho', "O'Connell, Mr. Patrick D", 'Barkworth, Mr. Algernon Henry Wilson', 'Lundahl, Mr. Johan Svensson', 'Stahelin-Maeglin, Dr. Max', 'Parr, Mr. William Henry Marsh', 'Skoog, Miss. Mabel', 'Davis, Miss. Mary', 'Leinonen, Mr. Antti Gustaf', 'Collyer, Mr. Harvey', 'Panula, Mrs. Juha (Maria Emilia Ojala)', 'T

In [14]:
# Total number of passengers in the dataset? 

passenger_count = titanic_rdd.count()
print(passenger_count)

891

In [15]:
# How many people were in first class? (Pclass, third column) 

titanic_first_class_count = titanic_rdd.filter(lambda row: row[2] == 1) \
                    .count()
print(titanic_first_class_count)

216

In [16]:
# How many people did not survive the Titanic tragedy? (.count() function) 

titanic_rdd.map(lambda row: int(row[1])) \
           .filter(lambda survived: survived == 0) \
           .count()

549

In [18]:
# What proportion of first class passengers survived compared to second and third class? (.count())

first_class_survived_count = titanic_rdd \
                            .filter(lambda row: row[2] == 1 and row[1] == 1) \
                            .count()
second_class_survived_count = titanic_rdd \
                            .filter(lambda row: row[2] == 2 and row[1] == 1) \
                            .count()
third_class_survived_count = titanic_rdd \
                            .filter(lambda row: row[2] == 3 and row[1] == 1) \
                            .count()
total_survived_count = titanic_rdd \
                      .map(lambda row: int(row[1])) \
                      .filter(lambda survived: survived == 1) \
                      .count()
print(f"First class survival rate: {first_class_survived_count / total_survived_count}")
print(f"Second class survival rate: {second_class_survived_count / total_survived_count}")
print(f"Third class survival rate: {third_class_survived_count / total_survived_count}")

First class survival rate: 0.39766081871345027
Second class survival rate: 0.2543859649122807
Third class survival rate: 0.347953216374269

In [19]:
# What was the ratio of women to men in first class? (.count() function)

first_class_male_count = titanic_rdd \
                         .filter(lambda row: row[2] == 1 and row[4] == "male") \
                         .count()
first_class_female_count = titanic_rdd \
                           .filter(lambda row: row[2] == 1 and row[4] == "female") \
                           .count()
total_first_class_count = titanic_rdd \
                           .filter(lambda row: row[2] == 1) \
                           .count()
print(f"male: {first_class_male_count/total_first_class_count}")
print(f"female: {first_class_female_count/total_first_class_count}")

male: 0.5648148148148148
female: 0.4351851851851852

### map and reduce function together

PySpark RDDs use the Hadoop-like __MapReduce__ pattern to transform and aggregate data. The transformation is the Map operation, while the aggregation is the Reduce operation. The transformation and aggregation operations are performed in a sequence on PySpark RDDs.

The steps in the MapReduce pattern are as follows:

- Convert: the RDD is converted to another RDD using the Map operation.
- Aggregate: The RDD is aggregated using the Reduce operation.

The general syntax of the Map and Reduce operations is as follows:

```python
rdd.map(lambda x: f(x)).reduce(lambda x, y: g(x, y))
```

Where rdd is an RDD, f(x) is a transformation function, g(x,y) is an aggregation function, and lambda is a lambda expression representing the functions f and g.

The map operation applies the function f to each element of the RDD and creates a new RDD from the results. The reduce operation converts the new RDD to a single value using the function g.

For example, if we want to add an RDD, the MapReduce pattern looks like this:


```python
rdd.map(lambda x: x).reduce(lambda x, y: x + y)
```

This simple example sums all the elements of the RDD. The elements of the RDD are not modified in the map operation, they are just passed to the reduce operation where all elements are summed.

This is a simple example, but the MapReduce pattern is very efficient for aggregating and transforming large data sets. The PySpark RDDs provide very powerful tools for using the MapReduce pattern, allowing users to analyze large data sets.

In [20]:
# What was the age of the youngest passenger on board? (using map and reduce functions)

youngest_age = titanic_rdd \
               .map(lambda row: row[5]) \
               .filter(lambda age: age != None ) \
               .reduce(lambda age1, age2: min(age1, age2))
print(f"Youngest passenger age: {youngest_age}")

Youngest passenger age: 0.42

In [21]:
# How many passengers whose age could not be mapped on board?

traveller_count = titanic_rdd \
                    .map(lambda row: 1) \
                    .reduce(lambda count1, count2: count1 + count2)
print(f"Traveller count: {traveller_count}")

Traveller count: 891

In [22]:
# How many passengers whose age could not be mapped on board?

unknown_age_count = titanic_rdd \
                    .map(lambda row: row[5]) \
                    .filter(lambda age: age == None) \
                    .map(lambda age: 1) \
                    .reduce(lambda count1, count2: count1 + count2)
print(f"Unknown age count: {unknown_age_count}")

Unknown age count: 177

In [23]:
# Please show the names of all passengers in the Titanic database, 
# and then convert them to upper case using the map function.

passenger_names = titanic_rdd \
                 .map(lambda row: row[3]) \
                 .map(lambda name: name.upper()) \
                 .collect()
print(passenger_names)

['BRAUND, MR. OWEN HARRIS', 'CUMINGS, MRS. JOHN BRADLEY (FLORENCE BRIGGS THAYER)', 'HEIKKINEN, MISS. LAINA', 'FUTRELLE, MRS. JACQUES HEATH (LILY MAY PEEL)', 'ALLEN, MR. WILLIAM HENRY', 'MORAN, MR. JAMES', 'MCCARTHY, MR. TIMOTHY J', 'PALSSON, MASTER. GOSTA LEONARD', 'JOHNSON, MRS. OSCAR W (ELISABETH VILHELMINA BERG)', 'NASSER, MRS. NICHOLAS (ADELE ACHEM)', 'SANDSTROM, MISS. MARGUERITE RUT', 'BONNELL, MISS. ELIZABETH', 'SAUNDERCOCK, MR. WILLIAM HENRY', 'ANDERSSON, MR. ANDERS JOHAN', 'VESTROM, MISS. HULDA AMANDA ADOLFINA', 'HEWLETT, MRS. (MARY D KINGCOME) ', 'RICE, MASTER. EUGENE', 'WILLIAMS, MR. CHARLES EUGENE', 'VANDER PLANKE, MRS. JULIUS (EMELIA MARIA VANDEMOORTELE)', 'MASSELMANI, MRS. FATIMA', 'FYNNEY, MR. JOSEPH J', 'BEESLEY, MR. LAWRENCE', '"MCGOWAN, MISS. ANNA ""ANNIE"""', 'SLOPER, MR. WILLIAM THOMPSON', 'PALSSON, MISS. TORBORG DANIRA', 'ASPLUND, MRS. CARL OSCAR (SELMA AUGUSTA EMILIA JOHANSSON)', 'EMIR, MR. FARRED CHEHAB', 'FORTUNE, MR. CHARLES ALEXANDER', '"O\'DWYER, MISS. ELLEN ""NELLIE"""', 'TODOROFF, MR. LALIO', 'URUCHURTU, DON. MANUEL E', 'SPENCER, MRS. WILLIAM AUGUSTUS (MARIE EUGENIE)', 'GLYNN, MISS. MARY AGATHA', 'WHEADON, MR. EDWARD H', 'MEYER, MR. EDGAR JOSEPH', 'HOLVERSON, MR. ALEXANDER OSKAR', 'MAMEE, MR. HANNA', 'CANN, MR. ERNEST CHARLES', 'VANDER PLANKE, MISS. AUGUSTA MARIA', 'NICOLA-YARRED, MISS. JAMILA', 'AHLIN, MRS. JOHAN (JOHANNA PERSDOTTER LARSSON)', 'TURPIN, MRS. WILLIAM JOHN ROBERT (DOROTHY ANN WONNACOTT)', 'KRAEFF, MR. THEODOR', 'LAROCHE, MISS. SIMONNE MARIE ANNE ANDREE', 'DEVANEY, MISS. MARGARET DELIA', 'ROGERS, MR. WILLIAM JOHN', 'LENNON, MR. DENIS', "O'DRISCOLL, MISS. BRIDGET", 'SAMAAN, MR. YOUSSEF', 'ARNOLD-FRANCHI, MRS. JOSEF (JOSEFINE FRANCHI)', 'PANULA, MASTER. JUHA NIILO', 'NOSWORTHY, MR. RICHARD CATER', 'HARPER, MRS. HENRY SLEEPER (MYNA HAXTUN)', 'FAUNTHORPE, MRS. LIZZIE (ELIZABETH ANNE WILKINSON)', 'OSTBY, MR. ENGELHART CORNELIUS', 'WOOLNER, MR. HUGH', 'RUGG, MISS. EMILY', 'NOVEL, MR. MANSOUER', 'WEST, MISS. CONSTANCE MIRIUM', 'GOODWIN, MASTER. WILLIAM FREDERICK', 'SIRAYANIAN, MR. ORSEN', 'ICARD, MISS. AMELIE', 'HARRIS, MR. HENRY BIRKHARDT', 'SKOOG, MASTER. HARALD', 'STEWART, MR. ALBERT A', 'MOUBAREK, MASTER. GERIOS', 'NYE, MRS. (ELIZABETH RAMELL)', 'CREASE, MR. ERNEST JAMES', 'ANDERSSON, MISS. ERNA ALEXANDRA', 'KINK, MR. VINCENZ', 'JENKIN, MR. STEPHEN CURNOW', 'GOODWIN, MISS. LILLIAN AMY', 'HOOD, MR. AMBROSE JR', 'CHRONOPOULOS, MR. APOSTOLOS', 'BING, MR. LEE', 'MOEN, MR. SIGURD HANSEN', 'STANEFF, MR. IVAN', 'MOUTAL, MR. RAHAMIN HAIM', 'CALDWELL, MASTER. ALDEN GATES', 'DOWDELL, MISS. ELIZABETH', 'WAELENS, MR. ACHILLE', 'SHEERLINCK, MR. JAN BAPTIST', 'MCDERMOTT, MISS. BRIGDET DELIA', 'CARRAU, MR. FRANCISCO M', 'ILETT, MISS. BERTHA', 'BACKSTROM, MRS. KARL ALFRED (MARIA MATHILDA GUSTAFSSON)', 'FORD, MR. WILLIAM NEAL', 'SLOCOVSKI, MR. SELMAN FRANCIS', 'FORTUNE, MISS. MABEL HELEN', 'CELOTTI, MR. FRANCESCO', 'CHRISTMANN, MR. EMIL', 'ANDREASSON, MR. PAUL EDVIN', 'CHAFFEE, MR. HERBERT FULLER', 'DEAN, MR. BERTRAM FRANK', 'COXON, MR. DANIEL', 'SHORNEY, MR. CHARLES JOSEPH', 'GOLDSCHMIDT, MR. GEORGE B', 'GREENFIELD, MR. WILLIAM BERTRAM', 'DOLING, MRS. JOHN T (ADA JULIA BONE)', 'KANTOR, MR. SINAI', 'PETRANEC, MISS. MATILDA', '"PETROFF, MR. PASTCHO (""PENTCHO"")"', 'WHITE, MR. RICHARD FRASAR', 'JOHANSSON, MR. GUSTAF JOEL', 'GUSTAFSSON, MR. ANDERS VILHELM', 'MIONOFF, MR. STOYTCHO', 'SALKJELSVIK, MISS. ANNA KRISTINE', 'MOSS, MR. ALBERT JOHAN', 'REKIC, MR. TIDO', 'MORAN, MISS. BERTHA', 'PORTER, MR. WALTER CHAMBERLAIN', 'ZABOUR, MISS. HILENI', 'BARTON, MR. DAVID JOHN', 'JUSSILA, MISS. KATRIINA', 'ATTALAH, MISS. MALAKE', 'PEKONIEMI, MR. EDVARD', 'CONNORS, MR. PATRICK', 'TURPIN, MR. WILLIAM JOHN ROBERT', 'BAXTER, MR. QUIGG EDMOND', 'ANDERSSON, MISS. ELLIS ANNA MARIA', 'HICKMAN, MR. STANLEY GEORGE', 'MOORE, MR. LEONARD CHARLES', 'NASSER, MR. NICHOLAS', 'WEBBER, MISS. SUSAN', 'WHITE, MR. PERCIVAL WAYLAND', 'NICOLA-YARRED, MASTER. ELIAS', 'MCMAHON, MR. MARTIN', 'MADSEN, MR. FRIDTJOF ARNE', 'PETER, MISS. ANNA', 'EKSTROM, MR. JOHAN', 'DRAZENOIC, MR. JOZEF', 'COELHO, MR. DOMINGOS FERNANDEO', 'ROBINS, MRS. ALEXANDER A (GRACE CHARITY LAURY)', 'WEISZ, MRS. LEOPOLD (MATHILDE FRANCOISE PEDE)', 'SOBEY, MR. SAMUEL JAMES HAYDEN', 'RICHARD, MR. EMILE', 'NEWSOM, MISS. HELEN MONYPENY', 'FUTRELLE, MR. JACQUES HEATH', 'OSEN, MR. OLAF ELON', 'GIGLIO, MR. VICTOR', 'BOULOS, MRS. JOSEPH (SULTANA)', 'NYSTEN, MISS. ANNA SOFIA', 'HAKKARAINEN, MRS. PEKKA PIETARI (ELIN MATILDA DOLCK)', 'BURKE, MR. JEREMIAH', 'ANDREW, MR. EDGARDO SAMUEL', 'NICHOLLS, MR. JOSEPH CHARLES', '"ANDERSSON, MR. AUGUST EDVARD (""WENNERSTROM"")"', '"FORD, MISS. ROBINA MAGGIE ""RUBY"""', '"NAVRATIL, MR. MICHEL (""LOUIS M HOFFMAN"")"', 'BYLES, REV. THOMAS ROUSSEL DAVIDS', 'BATEMAN, REV. ROBERT JAMES', 'PEARS, MRS. THOMAS (EDITH WEARNE)', 'MEO, MR. ALFONZO', 'VAN BILLIARD, MR. AUSTIN BLYLER', 'OLSEN, MR. OLE MARTIN', 'WILLIAMS, MR. CHARLES DUANE', '"GILNAGH, MISS. KATHERINE ""KATIE"""', 'CORN, MR. HARRY', 'SMILJANIC, MR. MILE', 'SAGE, MASTER. THOMAS HENRY', 'CRIBB, MR. JOHN HATFIELD', '"WATT, MRS. JAMES (ELIZABETH ""BESSIE"" INGLIS MILNE)"', 'BENGTSSON, MR. JOHN VIKTOR', 'CALIC, MR. JOVO', 'PANULA, MASTER. EINO VILJAMI', '"GOLDSMITH, MASTER. FRANK JOHN WILLIAM ""FRANKIE"""', 'CHIBNALL, MRS. (EDITH MARTHA BOWERMAN)', 'SKOOG, MRS. WILLIAM (ANNA BERNHARDINA KARLSSON)', 'BAUMANN, MR. JOHN D', 'LING, MR. LEE', 'VAN DER HOEF, MR. WYCKOFF', 'RICE, MASTER. ARTHUR', 'JOHNSON, MISS. ELEANOR ILEEN', 'SIVOLA, MR. ANTTI WILHELM', 'SMITH, MR. JAMES CLINCH', 'KLASEN, MR. KLAS ALBIN', 'LEFEBRE, MASTER. HENRY FORBES', 'ISHAM, MISS. ANN ELIZABETH', 'HALE, MR. REGINALD', 'LEONARD, MR. LIONEL', 'SAGE, MISS. CONSTANCE GLADYS', 'PERNOT, MR. RENE', 'ASPLUND, MASTER. CLARENCE GUSTAF HUGO', 'BECKER, MASTER. RICHARD F', 'KINK-HEILMANN, MISS. LUISE GRETCHEN', 'ROOD, MR. HUGH ROSCOE', '"O\'BRIEN, MRS. THOMAS (JOHANNA ""HANNAH"" GODFREY)"', '"ROMAINE, MR. CHARLES HALLACE (""MR C ROLMANE"")"', 'BOURKE, MR. JOHN', 'TURCIN, MR. STJEPAN', 'PINSKY, MRS. (ROSA)', 'CARBINES, MR. WILLIAM', 'ANDERSEN-JENSEN, MISS. CARLA CHRISTINE NIELSINE', 'NAVRATIL, MASTER. MICHEL M', 'BROWN, MRS. JAMES JOSEPH (MARGARET TOBIN)', 'LURETTE, MISS. ELISE', 'MERNAGH, MR. ROBERT', 'OLSEN, MR. KARL SIEGWART ANDREAS', '"MADIGAN, MISS. MARGARET ""MAGGIE"""', '"YROIS, MISS. HENRIETTE (""MRS HARBECK"")"', 'VANDE WALLE, MR. NESTOR CYRIEL', 'SAGE, MR. FREDERICK', 'JOHANSON, MR. JAKOB ALFRED', 'YOUSEFF, MR. GERIOUS', '"COHEN, MR. GURSHON ""GUS"""', 'STROM, MISS. TELMA MATILDA', 'BACKSTROM, MR. KARL ALFRED', 'ALBIMONA, MR. NASSEF CASSEM', '"CARR, MISS. HELEN ""ELLEN"""', 'BLANK, MR. HENRY', 'ALI, MR. AHMED', 'CAMERON, MISS. CLEAR ANNIE', 'PERKIN, MR. JOHN HENRY', 'GIVARD, MR. HANS KRISTENSEN', 'KIERNAN, MR. PHILIP', 'NEWELL, MISS. MADELEINE', 'HONKANEN, MISS. ELIINA', 'JACOBSOHN, MR. SIDNEY SAMUEL', 'BAZZANI, MISS. ALBINA', 'HARRIS, MR. WALTER', 'SUNDERLAND, MR. VICTOR FRANCIS', 'BRACKEN, MR. JAMES H', 'GREEN, MR. GEORGE HENRY', 'NENKOFF, MR. CHRISTO', 'HOYT, MR. FREDERICK MAXFIELD', 'BERGLUND, MR. KARL IVAR SVEN', 'MELLORS, MR. WILLIAM JOHN', '"LOVELL, MR. JOHN HALL (""HENRY"")"', 'FAHLSTROM, MR. ARNE JONAS', 'LEFEBRE, MISS. MATHILDE', 'HARRIS, MRS. HENRY BIRKHARDT (IRENE WALLACH)', 'LARSSON, MR. BENGT EDVIN', 'SJOSTEDT, MR. ERNST ADOLF', 'ASPLUND, MISS. LILLIAN GERTRUD', 'LEYSON, MR. ROBERT WILLIAM NORMAN', 'HARKNETT, MISS. ALICE PHOEBE', 'HOLD, MR. STEPHEN', '"COLLYER, MISS. MARJORIE ""LOTTIE"""', 'PENGELLY, MR. FREDERICK WILLIAM', 'HUNT, MR. GEORGE HENRY', 'ZABOUR, MISS. THAMINE', '"MURPHY, MISS. KATHERINE ""KATE"""', 'COLERIDGE, MR. REGINALD CHARLES', 'MAENPAA, MR. MATTI ALEXANTERI', 'ATTALAH, MR. SLEIMAN', 'MINAHAN, DR. WILLIAM EDWARD', 'LINDAHL, MISS. AGDA THORILDA VIKTORIA', 'HAMALAINEN, MRS. WILLIAM (ANNA)', 'BECKWITH, MR. RICHARD LEONARD', 'CARTER, REV. ERNEST COURTENAY', 'REED, MR. JAMES GEORGE', 'STROM, MRS. WILHELM (ELNA MATILDA PERSSON)', 'STEAD, MR. WILLIAM THOMAS', 'LOBB, MR. WILLIAM ARTHUR', 'ROSBLOM, MRS. VIKTOR (HELENA WILHELMINA)', 'TOUMA, MRS. DARWIS (HANNE YOUSSEF RAZI)', 'THORNE, MRS. GERTRUDE MAYBELLE', 'CHERRY, MISS. GLADYS', 'WARD, MISS. ANNA', 'PARRISH, MRS. (LUTIE DAVIS)', 'SMITH, MR. THOMAS', 'ASPLUND, MASTER. EDVIN ROJJ FELIX', 'TAUSSIG, MR. EMIL', 'HARRISON, MR. WILLIAM', 'HENRY, MISS. DELIA', 'REEVES, MR. DAVID', 'PANULA, MR. ERNESTI ARVID', 'PERSSON, MR. ERNST ULRIK', 'GRAHAM, MRS. WILLIAM THOMPSON (EDITH JUNKINS)', 'BISSETTE, MISS. AMELIA', 'CAIRNS, MR. ALEXANDER', 'TORNQUIST, MR. WILLIAM HENRY', 'MELLINGER, MRS. (ELIZABETH ANNE MAIDMENT)', 'NATSCH, MR. CHARLES H', '"HEALY, MISS. HANORA ""NORA"""', 'ANDREWS, MISS. KORNELIA THEODOSIA', 'LINDBLOM, MISS. AUGUSTA CHARLOTTA', '"PARKES, MR. FRANCIS ""FRANK"""', 'RICE, MASTER. ERIC', 'ABBOTT, MRS. STANTON (ROSA HUNT)', 'DUANE, MR. FRANK', 'OLSSON, MR. NILS JOHAN GORANSSON', 'DE PELSMAEKER, MR. ALFONS', 'DORKING, MR. EDWARD ARTHUR', 'SMITH, MR. RICHARD WILLIAM', 'STANKOVIC, MR. IVAN', 'DE MULDER, MR. THEODORE', 'NAIDENOFF, MR. PENKO', 'HOSONO, MR. MASABUMI', 'CONNOLLY, MISS. KATE', '"BARBER, MISS. ELLEN ""NELLIE"""', 'BISHOP, MRS. DICKINSON H (HELEN WALTON)', 'LEVY, MR. RENE JACQUES', 'HAAS, MISS. ALOISIA', 'MINEFF, MR. IVAN', 'LEWY, MR. ERVIN G', 'HANNA, MR. MANSOUR', 'ALLISON, MISS. HELEN LORAINE', 'SAALFELD, MR. ADOLPHE', 'BAXTER, MRS. JAMES (HELENE DELAUDENIERE CHAPUT)', '"KELLY, MISS. ANNA KATHERINE ""ANNIE KATE"""', 'MCCOY, MR. BERNARD', 'JOHNSON, MR. WILLIAM CAHOONE JR', 'KEANE, MISS. NORA A', '"WILLIAMS, MR. HOWARD HUGH ""HARRY"""', 'ALLISON, MASTER. HUDSON TREVOR', 'FLEMING, MISS. MARGARET', 'PENASCO Y CASTELLANA, MRS. VICTOR DE SATODE (MARIA JOSEFA PEREZ DE SOTO Y VALLEJO)', 'ABELSON, MR. SAMUEL', 'FRANCATELLI, MISS. LAURA MABEL', 'HAYS, MISS. MARGARET BECHSTEIN', 'RYERSON, MISS. EMILY BORIE', 'LAHTINEN, MRS. WILLIAM (ANNA SYLFVEN)', 'HENDEKOVIC, MR. IGNJAC', 'HART, MR. BENJAMIN', 'NILSSON, MISS. HELMINA JOSEFINA', 'KANTOR, MRS. SINAI (MIRIAM STERNIN)', 'MORAWECK, DR. ERNEST', 'WICK, MISS. MARY NATALIE', 'SPEDDEN, MRS. FREDERIC OAKLEY (MARGARETTA CORNING STONE)', 'DENNIS, MR. SAMUEL', 'DANOFF, MR. YOTO', 'SLAYTER, MISS. HILDA MARY', 'CALDWELL, MRS. ALBERT FRANCIS (SYLVIA MAE HARBAUGH)', 'SAGE, MR. GEORGE JOHN JR', 'YOUNG, MISS. MARIE GRICE', 'NYSVEEN, MR. JOHAN HANSEN', 'BALL, MRS. (ADA E HALL)', 'GOLDSMITH, MRS. FRANK JOHN (EMILY ALICE BROWN)', 'HIPPACH, MISS. JEAN GERTRUDE', 'MCCOY, MISS. AGNES', 'PARTNER, MR. AUSTEN', 'GRAHAM, MR. GEORGE EDWARD', 'VANDER PLANKE, MR. LEO EDMONDUS', 'FRAUENTHAL, MRS. HENRY WILLIAM (CLARA HEINSHEIMER)', 'DENKOFF, MR. MITTO', 'PEARS, MR. THOMAS CLINTON', 'BURNS, MISS. ELIZABETH MARGARET', 'DAHL, MR. KARL EDWART', 'BLACKWELL, MR. STEPHEN WEART', 'NAVRATIL, MASTER. EDMOND ROGER', 'FORTUNE, MISS. ALICE ELIZABETH', 'COLLANDER, MR. ERIK GUSTAF', 'SEDGWICK, MR. CHARLES FREDERICK WADDINGTON', 'FOX, MR. STANLEY HUBERT', '"BROWN, MISS. AMELIA ""MILDRED"""', 'SMITH, MISS. MARION ELSIE', 'DAVISON, MRS. THOMAS HENRY (MARY E FINCK)', '"COUTTS, MASTER. WILLIAM LOCH ""WILLIAM"""', 'DIMIC, MR. JOVAN', 'ODAHL, MR. NILS MARTIN', 'WILLIAMS-LAMBERT, MR. FLETCHER FELLOWS', 'ELIAS, MR. TANNOUS', 'ARNOLD-FRANCHI, MR. JOSEF', 'YOUSIF, MR. WAZLI', 'VANDEN STEEN, MR. LEO PETER', 'BOWERMAN, MISS. ELSIE EDITH', 'FUNK, MISS. ANNIE CLEMMER', 'MCGOVERN, MISS. MARY', '"MOCKLER, MISS. HELEN MARY ""ELLIE"""', 'SKOOG, MR. WILHELM', 'DEL CARLO, MR. SEBASTIANO', 'BARBARA, MRS. (CATHERINE DAVID)', 'ASIM, MR. ADOLA', "O'BRIEN, MR. THOMAS", 'ADAHL, MR. MAURITZ NILS MARTIN', 'WARREN, MRS. FRANK MANLEY (ANNA SOPHIA ATKINSON)', 'MOUSSA, MRS. (MANTOURA BOULOS)', 'JERMYN, MISS. ANNIE', 'AUBART, MME. LEONTINE PAULINE', 'HARDER, MR. GEORGE ACHILLES', 'WIKLUND, MR. JAKOB ALFRED', 'BEAVAN, MR. WILLIAM THOMAS', 'RINGHINI, MR. SANTE', 'PALSSON, MISS. STINA VIOLA', 'MEYER, MRS. EDGAR JOSEPH (LEILA SAKS)', 'LANDERGREN, MISS. AURORA ADELIA', 'WIDENER, MR. HARRY ELKINS', 'BETROS, MR. TANNOUS', 'GUSTAFSSON, MR. KARL GIDEON', 'BIDOIS, MISS. ROSALIE', '"NAKID, MISS. MARIA (""MARY"")"', 'TIKKANEN, MR. JUHO', 'HOLVERSON, MRS. ALEXANDER OSKAR (MARY ALINE TOWNER)', 'PLOTCHARSKY, MR. VASIL', 'DAVIES, MR. CHARLES HENRY', 'GOODWIN, MASTER. SIDNEY LEONARD', 'BUSS, MISS. KATE', 'SADLIER, MR. MATTHEW', 'LEHMANN, MISS. BERTHA', 'CARTER, MR. WILLIAM ERNEST', 'JANSSON, MR. CARL OLOF', 'GUSTAFSSON, MR. JOHAN BIRGER', 'NEWELL, MISS. MARJORIE', 'SANDSTROM, MRS. HJALMAR (AGNES CHARLOTTA BENGTSSON)', 'JOHANSSON, MR. ERIK', 'OLSSON, MISS. ELINA', 'MCKANE, MR. PETER DAVID', 'PAIN, DR. ALFRED', 'TROUT, MRS. WILLIAM H (JESSIE L)', 'NISKANEN, MR. JUHA', 'ADAMS, MR. JOHN', 'JUSSILA, MISS. MARI AINA', 'HAKKARAINEN, MR. PEKKA PIETARI', 'ORESKOVIC, MISS. MARIJA', 'GALE, MR. SHADRACH', 'WIDEGREN, MR. CARL/CHARLES PETER', 'RICHARDS, MASTER. WILLIAM ROWE', 'BIRKELAND, MR. HANS MARTIN MONSEN', 'LEFEBRE, MISS. IDA', 'SDYCOFF, MR. TODOR', 'HART, MR. HENRY', 'MINAHAN, MISS. DAISY E', 'CUNNINGHAM, MR. ALFRED FLEMING', 'SUNDMAN, MR. JOHAN JULIAN', 'MEEK, MRS. THOMAS (ANNIE LOUISE ROWLEY)', 'DREW, MRS. JAMES VIVIAN (LULU THORNE CHRISTIAN)', 'SILVEN, MISS. LYYLI KAROLIINA', 'MATTHEWS, MR. WILLIAM JOHN', 'VAN IMPE, MISS. CATHARINA', 'GHEORGHEFF, MR. STANIO', 'CHARTERS, MR. DAVID', 'ZIMMERMAN, MR. LEO', 'DANBOM, MRS. ERNST GILBERT (ANNA SIGRID MARIA BROGREN)', 'ROSBLOM, MR. VIKTOR RICHARD', 'WISEMAN, MR. PHILLIPPE', 'CLARKE, MRS. CHARLES V (ADA MARIA WINFIELD)', '"PHILLIPS, MISS. KATE FLORENCE (""MRS KATE LOUISE PHILLIPS MARSHALL"")"', 'FLYNN, MR. JAMES', 'PICKARD, MR. BERK (BERK TREMBISKY)', 'BJORNSTROM-STEFFANSSON, MR. MAURITZ HAKAN', 'THORNEYCROFT, MRS. PERCIVAL (FLORENCE KATE WHITE)', 'LOUCH, MRS. CHARLES ALEXANDER (ALICE ADELAIDE SLOW)', 'KALLIO, MR. NIKOLAI ERLAND', 'SILVEY, MR. WILLIAM BAIRD', 'CARTER, MISS. LUCILE POLK', '"FORD, MISS. DOOLINA MARGARET ""DAISY"""', 'RICHARDS, MRS. SIDNEY (EMILY HOCKING)', 'FORTUNE, MR. MARK', 'KVILLNER, MR. JOHAN HENRIK JOHANNESSON', 'HART, MRS. BENJAMIN (ESTHER ADA BLOOMFIELD)', 'HAMPE, MR. LEON', 'PETTERSON, MR. JOHAN EMIL', 'REYNALDO, MS. ENCARNACION', 'JOHANNESEN-BRATTHAMMER, MR. BERNT', 'DODGE, MASTER. WASHINGTON', 'MELLINGER, MISS. MADELEINE VIOLET', 'SEWARD, MR. FREDERIC KIMBER', 'BACLINI, MISS. MARIE CATHERINE', 'PEUCHEN, MAJOR. ARTHUR GODFREY', 'WEST, MR. EDWY ARTHUR', 'HAGLAND, MR. INGVALD OLAI OLSEN', 'FOREMAN, MR. BENJAMIN LAVENTALL', 'GOLDENBERG, MR. SAMUEL L', 'PEDUZZI, MR. JOSEPH', 'JALSEVAC, MR. IVAN', 'MILLET, MR. FRANCIS DAVIS', 'KENYON, MRS. FREDERICK R (MARION)', 'TOOMEY, MISS. ELLEN', "O'CONNOR, MR. MAURICE", 'ANDERSON, MR. HARRY', 'MORLEY, MR. WILLIAM', 'GEE, MR. ARTHUR H', 'MILLING, MR. JACOB CHRISTIAN', 'MAISNER, MR. SIMON', 'GONCALVES, MR. MANUEL ESTANSLAS', 'CAMPBELL, MR. WILLIAM', 'SMART, MR. JOHN MONTGOMERY', 'SCANLAN, MR. JAMES', 'BACLINI, MISS. HELENE BARBARA', 'KEEFE, MR. ARTHUR', 'CACIC, MR. LUKA', 'WEST, MRS. EDWY ARTHUR (ADA MARY WORTH)', 'JERWAN, MRS. AMIN S (MARIE MARTHE THUILLARD)', 'STRANDBERG, MISS. IDA SOFIA', 'CLIFFORD, MR. GEORGE QUINCY', 'RENOUF, MR. PETER HENRY', 'BRAUND, MR. LEWIS RICHARD', 'KARLSSON, MR. NILS AUGUST', 'HIRVONEN, MISS. HILDUR E', 'GOODWIN, MASTER. HAROLD VICTOR', '"FROST, MR. ANTHONY WOOD ""ARCHIE"""', 'ROUSE, MR. RICHARD HENRY', 'TURKULA, MRS. (HEDWIG)', 'BISHOP, MR. DICKINSON H', 'LEFEBRE, MISS. JEANNIE', 'HOYT, MRS. FREDERICK MAXFIELD (JANE ANNE FORBY)', 'KENT, MR. EDWARD AUSTIN', 'SOMERTON, MR. FRANCIS WILLIAM', '"COUTTS, MASTER. EDEN LESLIE ""NEVILLE"""', 'HAGLAND, MR. KONRAD MATHIAS REIERSEN', 'WINDELOV, MR. EINAR', 'MOLSON, MR. HARRY MARKLAND', 'ARTAGAVEYTIA, MR. RAMON', 'STANLEY, MR. EDWARD ROLAND', 'YOUSSEFF, MR. GERIOUS', 'EUSTIS, MISS. ELIZABETH MUSSEY', 'SHELLARD, MR. FREDERICK WILLIAM', 'ALLISON, MRS. HUDSON J C (BESSIE WALDO DANIELS)', 'SVENSSON, MR. OLOF', 'CALIC, MR. PETAR', 'CANAVAN, MISS. MARY', "O'SULLIVAN, MISS. BRIDGET MARY", 'LAITINEN, MISS. KRISTINA SOFIA', 'MAIONI, MISS. ROBERTA', 'PENASCO Y CASTELLANA, MR. VICTOR DE SATODE', 'QUICK, MRS. FREDERICK CHARLES (JANE RICHARDS)', '"BRADLEY, MR. GEORGE (""GEORGE ARTHUR BRAYTON"")"', 'OLSEN, MR. HENRY MARGIDO', 'LANG, MR. FANG', 'DALY, MR. EUGENE PATRICK', 'WEBBER, MR. JAMES', 'MCGOUGH, MR. JAMES ROBERT', 'ROTHSCHILD, MRS. MARTIN (ELIZABETH L. BARRETT)', 'COLEFF, MR. SATIO', 'WALKER, MR. WILLIAM ANDERSON', 'LEMORE, MRS. (AMELIA MILLEY)', 'RYAN, MR. PATRICK', '"ANGLE, MRS. WILLIAM A (FLORENCE ""MARY"" AGNES HUGHES)"', 'PAVLOVIC, MR. STEFO', 'PERREAULT, MISS. ANNE', 'VOVK, MR. JANKO', 'LAHOUD, MR. SARKIS', 'HIPPACH, MRS. LOUIS ALBERT (IDA SOPHIA FISCHER)', 'KASSEM, MR. FARED', 'FARRELL, MR. JAMES', 'RIDSDALE, MISS. LUCY', 'FARTHING, MR. JOHN', 'SALONEN, MR. JOHAN WERNER', 'HOCKING, MR. RICHARD GEORGE', 'QUICK, MISS. PHYLLIS MAY', 'TOUFIK, MR. NAKLI', 'ELIAS, MR. JOSEPH JR', 'PETER, MRS. CATHERINE (CATHERINE RIZK)', 'CACIC, MISS. MARIJA', 'HART, MISS. EVA MIRIAM', 'BUTT, MAJOR. ARCHIBALD WILLINGHAM', 'LEROY, MISS. BERTHA', 'RISIEN, MR. SAMUEL BEARD', 'FROLICHER, MISS. HEDWIG MARGARITHA', 'CROSBY, MISS. HARRIET R', 'ANDERSSON, MISS. INGEBORG CONSTANZIA', 'ANDERSSON, MISS. SIGRID ELISABETH', 'BEANE, MR. EDWARD', 'DOUGLAS, MR. WALTER DONALD', 'NICHOLSON, MR. ARTHUR ERNEST', 'BEANE, MRS. EDWARD (ETHEL CLARKE)', 'PADRO Y MANENT, MR. JULIAN', 'GOLDSMITH, MR. FRANK JOHN', 'DAVIES, MASTER. JOHN MORGAN JR', 'THAYER, MR. JOHN BORLAND JR', 'SHARP, MR. PERCIVAL JAMES R', "O'BRIEN, MR. TIMOTHY", '"LEENI, MR. FAHIM (""PHILIP ZENNI"")"', 'OHMAN, MISS. VELIN', 'WRIGHT, MR. GEORGE', '"DUFF GORDON, LADY. (LUCILLE CHRISTIANA SUTHERLAND) (""MRS MORGAN"")"', 'ROBBINS, MR. VICTOR', 'TAUSSIG, MRS. EMIL (TILLIE MANDELBAUM)', 'DE MESSEMAEKER, MRS. GUILLAUME JOSEPH (EMMA)', 'MORROW, MR. THOMAS ROWAN', 'SIVIC, MR. HUSEIN', 'NORMAN, MR. ROBERT DOUGLAS', 'SIMMONS, MR. JOHN', 'MEANWELL, MISS. (MARION OGDEN)', 'DAVIES, MR. ALFRED J', 'STOYTCHEFF, MR. ILIA', 'PALSSON, MRS. NILS (ALMA CORNELIA BERGLUND)', 'DOHARR, MR. TANNOUS', 'JONSSON, MR. CARL', 'HARRIS, MR. GEORGE', 'APPLETON, MRS. EDWARD DALE (CHARLOTTE LAMSON)', '"FLYNN, MR. JOHN IRWIN (""IRVING"")"', 'KELLY, MISS. MARY', 'RUSH, MR. ALFRED GEORGE JOHN', 'PATCHETT, MR. GEORGE', 'GARSIDE, MISS. ETHEL', 'SILVEY, MRS. WILLIAM BAIRD (ALICE MUNGER)', 'CARAM, MRS. JOSEPH (MARIA ELIAS)', 'JUSSILA, MR. EIRIIK', 'CHRISTY, MISS. JULIE RACHEL', 'THAYER, MRS. JOHN BORLAND (MARIAN LONGSTRETH MORRIS)', 'DOWNTON, MR. WILLIAM JAMES', 'ROSS, MR. JOHN HUGO', 'PAULNER, MR. USCHER', 'TAUSSIG, MISS. RUTH', 'JARVIS, MR. JOHN DENZIL', 'FROLICHER-STEHLI, MR. MAXMILLIAN', 'GILINSKI, MR. ELIEZER', 'MURDLIN, MR. JOSEPH', 'RINTAMAKI, MR. MATTI', 'STEPHENSON, MRS. WALTER BERTRAM (MARTHA EUSTIS)', 'ELSBURY, MR. WILLIAM JAMES', 'BOURKE, MISS. MARY', 'CHAPMAN, MR. JOHN HENRY', 'VAN IMPE, MR. JEAN BAPTISTE', 'LEITCH, MISS. JESSIE WILLS', 'JOHNSON, MR. ALFRED', 'BOULOS, MR. HANNA', '"DUFF GORDON, SIR. COSMO EDMUND (""MR MORGAN"")"', 'JACOBSOHN, MRS. SIDNEY SAMUEL (AMY FRANCES CHRISTY)', 'SLABENOFF, MR. PETCO', 'HARRINGTON, MR. CHARLES H', 'TORBER, MR. ERNST WILLIAM', '"HOMER, MR. HARRY (""MR E HAVEN"")"', 'LINDELL, MR. EDVARD BENGTSSON', 'KARAIC, MR. MILAN', 'DANIEL, MR. ROBERT WILLIAMS', 'LAROCHE, MRS. JOSEPH (JULIETTE MARIE LOUISE LAFARGUE)', 'SHUTES, MISS. ELIZABETH W', 'ANDERSSON, MRS. ANDERS JOHAN (ALFRIDA KONSTANTIA BROGREN)', 'JARDIN, MR. JOSE NETO', 'MURPHY, MISS. MARGARET JANE', 'HORGAN, MR. JOHN', 'BROCKLEBANK, MR. WILLIAM ALFRED', 'HERMAN, MISS. ALICE', 'DANBOM, MR. ERNST GILBERT', 'LOBB, MRS. WILLIAM ARTHUR (CORDELIA K STANLICK)', 'BECKER, MISS. MARION LOUISE', 'GAVEY, MR. LAWRENCE', 'YASBECK, MR. ANTONI', 'KIMBALL, MR. EDWIN NELSON JR', 'NAKID, MR. SAHID', 'HANSEN, MR. HENRY DAMSGAARD', '"BOWEN, MR. DAVID JOHN ""DAI"""', 'SUTTON, MR. FREDERICK', 'KIRKLAND, REV. CHARLES LEONARD', 'LONGLEY, MISS. GRETCHEN FISKE', 'BOSTANDYEFF, MR. GUENTCHO', "O'CONNELL, MR. PATRICK D", 'BARKWORTH, MR. ALGERNON HENRY WILSON', 'LUNDAHL, MR. JOHAN SVENSSON', 'STAHELIN-MAEGLIN, DR. MAX', 'PARR, MR. WILLIAM HENRY MARSH', 'SKOOG, MISS. MABEL', 'DAVIS, MISS. MARY', 'LEINONEN, MR. ANTTI GUSTAF', 'COLLYER, MR. HARVEY', 'PANULA, MRS. JUHA (MARIA EMILIA OJALA)', 'T

## Practice

In [24]:
# What was the age of the youngest passenger on board? (using map and reduce functions)
youngest_age = titanic_rdd \
               .map(lambda row: row[5]) \
               .filter(lambda age: age != None ) \
               .reduce(lambda age1, age2: min(age1, age2))
print(f"Youngest passenger age: {youngest_age}")

Youngest passenger age: 0.42

In [10]:
# What was the age of the oldest passenger on board? (using map and reduce functions)
oldest_age = titanic_rdd \
               .map(lambda row: row[5]) \
               .filter(lambda age: age != None ) \
               .reduce(lambda age1, age2: max(age1, age2))
print(f"Oldest passenger age: {oldest_age}")

Oldest passenger age: 80.0

In [11]:
# Total number of passengers (using map and reduce functions)

traveller_count = titanic_rdd \
                    .map(lambda row: 1) \
                    .reduce(lambda count1, count2 : count1 + count2)
    
print(f"Traveller count: {traveller_count}")

Traveller count: 891

In [13]:
# How many passengers whose age could not be mapped on board?

unknown_age_count = titanic_rdd \
                    .map(lambda row: row[5]) \
                    .filter(lambda age: age == None)\
                    .map(lambda age: 1) \
                    .reduce(lambda count1, count2 : count1 + count2)
    
    
print(f"Unknown age count: {unknown_age_count}")

Unknown age count: 177

In [16]:
# Please show the names of all passengers in the Titanic database, 
# and then convert them to lowercase using the map function.

passenger_names = titanic_rdd \
                 .map(lambda row: row[3])\
                 .map(lambda name: name.lower())\
                 .collect()

print(passenger_names)

['braund, mr. owen harris', 'cumings, mrs. john bradley (florence briggs thayer)', 'heikkinen, miss. laina', 'futrelle, mrs. jacques heath (lily may peel)', 'allen, mr. william henry', 'moran, mr. james', 'mccarthy, mr. timothy j', 'palsson, master. gosta leonard', 'johnson, mrs. oscar w (elisabeth vilhelmina berg)', 'nasser, mrs. nicholas (adele achem)', 'sandstrom, miss. marguerite rut', 'bonnell, miss. elizabeth', 'saundercock, mr. william henry', 'andersson, mr. anders johan', 'vestrom, miss. hulda amanda adolfina', 'hewlett, mrs. (mary d kingcome) ', 'rice, master. eugene', 'williams, mr. charles eugene', 'vander planke, mrs. julius (emelia maria vandemoortele)', 'masselmani, mrs. fatima', 'fynney, mr. joseph j', 'beesley, mr. lawrence', '"mcgowan, miss. anna ""annie"""', 'sloper, mr. william thompson', 'palsson, miss. torborg danira', 'asplund, mrs. carl oscar (selma augusta emilia johansson)', 'emir, mr. farred chehab', 'fortune, mr. charles alexander', '"o\'dwyer, miss. ellen ""nellie"""', 'todoroff, mr. lalio', 'uruchurtu, don. manuel e', 'spencer, mrs. william augustus (marie eugenie)', 'glynn, miss. mary agatha', 'wheadon, mr. edward h', 'meyer, mr. edgar joseph', 'holverson, mr. alexander oskar', 'mamee, mr. hanna', 'cann, mr. ernest charles', 'vander planke, miss. augusta maria', 'nicola-yarred, miss. jamila', 'ahlin, mrs. johan (johanna persdotter larsson)', 'turpin, mrs. william john robert (dorothy ann wonnacott)', 'kraeff, mr. theodor', 'laroche, miss. simonne marie anne andree', 'devaney, miss. margaret delia', 'rogers, mr. william john', 'lennon, mr. denis', "o'driscoll, miss. bridget", 'samaan, mr. youssef', 'arnold-franchi, mrs. josef (josefine franchi)', 'panula, master. juha niilo', 'nosworthy, mr. richard cater', 'harper, mrs. henry sleeper (myna haxtun)', 'faunthorpe, mrs. lizzie (elizabeth anne wilkinson)', 'ostby, mr. engelhart cornelius', 'woolner, mr. hugh', 'rugg, miss. emily', 'novel, mr. mansouer', 'west, miss. constance mirium', 'goodwin, master. william frederick', 'sirayanian, mr. orsen', 'icard, miss. amelie', 'harris, mr. henry birkhardt', 'skoog, master. harald', 'stewart, mr. albert a', 'moubarek, master. gerios', 'nye, mrs. (elizabeth ramell)', 'crease, mr. ernest james', 'andersson, miss. erna alexandra', 'kink, mr. vincenz', 'jenkin, mr. stephen curnow', 'goodwin, miss. lillian amy', 'hood, mr. ambrose jr', 'chronopoulos, mr. apostolos', 'bing, mr. lee', 'moen, mr. sigurd hansen', 'staneff, mr. ivan', 'moutal, mr. rahamin haim', 'caldwell, master. alden gates', 'dowdell, miss. elizabeth', 'waelens, mr. achille', 'sheerlinck, mr. jan baptist', 'mcdermott, miss. brigdet delia', 'carrau, mr. francisco m', 'ilett, miss. bertha', 'backstrom, mrs. karl alfred (maria mathilda gustafsson)', 'ford, mr. william neal', 'slocovski, mr. selman francis', 'fortune, miss. mabel helen', 'celotti, mr. francesco', 'christmann, mr. emil', 'andreasson, mr. paul edvin', 'chaffee, mr. herbert fuller', 'dean, mr. bertram frank', 'coxon, mr. daniel', 'shorney, mr. charles joseph', 'goldschmidt, mr. george b', 'greenfield, mr. william bertram', 'doling, mrs. john t (ada julia bone)', 'kantor, mr. sinai', 'petranec, miss. matilda', '"petroff, mr. pastcho (""pentcho"")"', 'white, mr. richard frasar', 'johansson, mr. gustaf joel', 'gustafsson, mr. anders vilhelm', 'mionoff, mr. stoytcho', 'salkjelsvik, miss. anna kristine', 'moss, mr. albert johan', 'rekic, mr. tido', 'moran, miss. bertha', 'porter, mr. walter chamberlain', 'zabour, miss. hileni', 'barton, mr. david john', 'jussila, miss. katriina', 'attalah, miss. malake', 'pekoniemi, mr. edvard', 'connors, mr. patrick', 'turpin, mr. william john robert', 'baxter, mr. quigg edmond', 'andersson, miss. ellis anna maria', 'hickman, mr. stanley george', 'moore, mr. leonard charles', 'nasser, mr. nicholas', 'webber, miss. susan', 'white, mr. percival wayland', 'nicola-yarred, master. elias', 'mcmahon, mr. martin', 'madsen, mr. fridtjof arne', 'peter, miss. anna', 'ekstrom, mr. johan', 'drazenoic, mr. jozef', 'coelho, mr. domingos fernandeo', 'robins, mrs. alexander a (grace charity laury)', 'weisz, mrs. leopold (mathilde francoise pede)', 'sobey, mr. samuel james hayden', 'richard, mr. emile', 'newsom, miss. helen monypeny', 'futrelle, mr. jacques heath', 'osen, mr. olaf elon', 'giglio, mr. victor', 'boulos, mrs. joseph (sultana)', 'nysten, miss. anna sofia', 'hakkarainen, mrs. pekka pietari (elin matilda dolck)', 'burke, mr. jeremiah', 'andrew, mr. edgardo samuel', 'nicholls, mr. joseph charles', '"andersson, mr. august edvard (""wennerstrom"")"', '"ford, miss. robina maggie ""ruby"""', '"navratil, mr. michel (""louis m hoffman"")"', 'byles, rev. thomas roussel davids', 'bateman, rev. robert james', 'pears, mrs. thomas (edith wearne)', 'meo, mr. alfonzo', 'van billiard, mr. austin blyler', 'olsen, mr. ole martin', 'williams, mr. charles duane', '"gilnagh, miss. katherine ""katie"""', 'corn, mr. harry', 'smiljanic, mr. mile', 'sage, master. thomas henry', 'cribb, mr. john hatfield', '"watt, mrs. james (elizabeth ""bessie"" inglis milne)"', 'bengtsson, mr. john viktor', 'calic, mr. jovo', 'panula, master. eino viljami', '"goldsmith, master. frank john william ""frankie"""', 'chibnall, mrs. (edith martha bowerman)', 'skoog, mrs. william (anna bernhardina karlsson)', 'baumann, mr. john d', 'ling, mr. lee', 'van der hoef, mr. wyckoff', 'rice, master. arthur', 'johnson, miss. eleanor ileen', 'sivola, mr. antti wilhelm', 'smith, mr. james clinch', 'klasen, mr. klas albin', 'lefebre, master. henry forbes', 'isham, miss. ann elizabeth', 'hale, mr. reginald', 'leonard, mr. lionel', 'sage, miss. constance gladys', 'pernot, mr. rene', 'asplund, master. clarence gustaf hugo', 'becker, master. richard f', 'kink-heilmann, miss. luise gretchen', 'rood, mr. hugh roscoe', '"o\'brien, mrs. thomas (johanna ""hannah"" godfrey)"', '"romaine, mr. charles hallace (""mr c rolmane"")"', 'bourke, mr. john', 'turcin, mr. stjepan', 'pinsky, mrs. (rosa)', 'carbines, mr. william', 'andersen-jensen, miss. carla christine nielsine', 'navratil, master. michel m', 'brown, mrs. james joseph (margaret tobin)', 'lurette, miss. elise', 'mernagh, mr. robert', 'olsen, mr. karl siegwart andreas', '"madigan, miss. margaret ""maggie"""', '"yrois, miss. henriette (""mrs harbeck"")"', 'vande walle, mr. nestor cyriel', 'sage, mr. frederick', 'johanson, mr. jakob alfred', 'youseff, mr. gerious', '"cohen, mr. gurshon ""gus"""', 'strom, miss. telma matilda', 'backstrom, mr. karl alfred', 'albimona, mr. nassef cassem', '"carr, miss. helen ""ellen"""', 'blank, mr. henry', 'ali, mr. ahmed', 'cameron, miss. clear annie', 'perkin, mr. john henry', 'givard, mr. hans kristensen', 'kiernan, mr. philip', 'newell, miss. madeleine', 'honkanen, miss. eliina', 'jacobsohn, mr. sidney samuel', 'bazzani, miss. albina', 'harris, mr. walter', 'sunderland, mr. victor francis', 'bracken, mr. james h', 'green, mr. george henry', 'nenkoff, mr. christo', 'hoyt, mr. frederick maxfield', 'berglund, mr. karl ivar sven', 'mellors, mr. william john', '"lovell, mr. john hall (""henry"")"', 'fahlstrom, mr. arne jonas', 'lefebre, miss. mathilde', 'harris, mrs. henry birkhardt (irene wallach)', 'larsson, mr. bengt edvin', 'sjostedt, mr. ernst adolf', 'asplund, miss. lillian gertrud', 'leyson, mr. robert william norman', 'harknett, miss. alice phoebe', 'hold, mr. stephen', '"collyer, miss. marjorie ""lottie"""', 'pengelly, mr. frederick william', 'hunt, mr. george henry', 'zabour, miss. thamine', '"murphy, miss. katherine ""kate"""', 'coleridge, mr. reginald charles', 'maenpaa, mr. matti alexanteri', 'attalah, mr. sleiman', 'minahan, dr. william edward', 'lindahl, miss. agda thorilda viktoria', 'hamalainen, mrs. william (anna)', 'beckwith, mr. richard leonard', 'carter, rev. ernest courtenay', 'reed, mr. james george', 'strom, mrs. wilhelm (elna matilda persson)', 'stead, mr. william thomas', 'lobb, mr. william arthur', 'rosblom, mrs. viktor (helena wilhelmina)', 'touma, mrs. darwis (hanne youssef razi)', 'thorne, mrs. gertrude maybelle', 'cherry, miss. gladys', 'ward, miss. anna', 'parrish, mrs. (lutie davis)', 'smith, mr. thomas', 'asplund, master. edvin rojj felix', 'taussig, mr. emil', 'harrison, mr. william', 'henry, miss. delia', 'reeves, mr. david', 'panula, mr. ernesti arvid', 'persson, mr. ernst ulrik', 'graham, mrs. william thompson (edith junkins)', 'bissette, miss. amelia', 'cairns, mr. alexander', 'tornquist, mr. william henry', 'mellinger, mrs. (elizabeth anne maidment)', 'natsch, mr. charles h', '"healy, miss. hanora ""nora"""', 'andrews, miss. kornelia theodosia', 'lindblom, miss. augusta charlotta', '"parkes, mr. francis ""frank"""', 'rice, master. eric', 'abbott, mrs. stanton (rosa hunt)', 'duane, mr. frank', 'olsson, mr. nils johan goransson', 'de pelsmaeker, mr. alfons', 'dorking, mr. edward arthur', 'smith, mr. richard william', 'stankovic, mr. ivan', 'de mulder, mr. theodore', 'naidenoff, mr. penko', 'hosono, mr. masabumi', 'connolly, miss. kate', '"barber, miss. ellen ""nellie"""', 'bishop, mrs. dickinson h (helen walton)', 'levy, mr. rene jacques', 'haas, miss. aloisia', 'mineff, mr. ivan', 'lewy, mr. ervin g', 'hanna, mr. mansour', 'allison, miss. helen loraine', 'saalfeld, mr. adolphe', 'baxter, mrs. james (helene delaudeniere chaput)', '"kelly, miss. anna katherine ""annie kate"""', 'mccoy, mr. bernard', 'johnson, mr. william cahoone jr', 'keane, miss. nora a', '"williams, mr. howard hugh ""harry"""', 'allison, master. hudson trevor', 'fleming, miss. margaret', 'penasco y castellana, mrs. victor de satode (maria josefa perez de soto y vallejo)', 'abelson, mr. samuel', 'francatelli, miss. laura mabel', 'hays, miss. margaret bechstein', 'ryerson, miss. emily borie', 'lahtinen, mrs. william (anna sylfven)', 'hendekovic, mr. ignjac', 'hart, mr. benjamin', 'nilsson, miss. helmina josefina', 'kantor, mrs. sinai (miriam sternin)', 'moraweck, dr. ernest', 'wick, miss. mary natalie', 'spedden, mrs. frederic oakley (margaretta corning stone)', 'dennis, mr. samuel', 'danoff, mr. yoto', 'slayter, miss. hilda mary', 'caldwell, mrs. albert francis (sylvia mae harbaugh)', 'sage, mr. george john jr', 'young, miss. marie grice', 'nysveen, mr. johan hansen', 'ball, mrs. (ada e hall)', 'goldsmith, mrs. frank john (emily alice brown)', 'hippach, miss. jean gertrude', 'mccoy, miss. agnes', 'partner, mr. austen', 'graham, mr. george edward', 'vander planke, mr. leo edmondus', 'frauenthal, mrs. henry william (clara heinsheimer)', 'denkoff, mr. mitto', 'pears, mr. thomas clinton', 'burns, miss. elizabeth margaret', 'dahl, mr. karl edwart', 'blackwell, mr. stephen weart', 'navratil, master. edmond roger', 'fortune, miss. alice elizabeth', 'collander, mr. erik gustaf', 'sedgwick, mr. charles frederick waddington', 'fox, mr. stanley hubert', '"brown, miss. amelia ""mildred"""', 'smith, miss. marion elsie', 'davison, mrs. thomas henry (mary e finck)', '"coutts, master. william loch ""william"""', 'dimic, mr. jovan', 'odahl, mr. nils martin', 'williams-lambert, mr. fletcher fellows', 'elias, mr. tannous', 'arnold-franchi, mr. josef', 'yousif, mr. wazli', 'vanden steen, mr. leo peter', 'bowerman, miss. elsie edith', 'funk, miss. annie clemmer', 'mcgovern, miss. mary', '"mockler, miss. helen mary ""ellie"""', 'skoog, mr. wilhelm', 'del carlo, mr. sebastiano', 'barbara, mrs. (catherine david)', 'asim, mr. adola', "o'brien, mr. thomas", 'adahl, mr. mauritz nils martin', 'warren, mrs. frank manley (anna sophia atkinson)', 'moussa, mrs. (mantoura boulos)', 'jermyn, miss. annie', 'aubart, mme. leontine pauline', 'harder, mr. george achilles', 'wiklund, mr. jakob alfred', 'beavan, mr. william thomas', 'ringhini, mr. sante', 'palsson, miss. stina viola', 'meyer, mrs. edgar joseph (leila saks)', 'landergren, miss. aurora adelia', 'widener, mr. harry elkins', 'betros, mr. tannous', 'gustafsson, mr. karl gideon', 'bidois, miss. rosalie', '"nakid, miss. maria (""mary"")"', 'tikkanen, mr. juho', 'holverson, mrs. alexander oskar (mary aline towner)', 'plotcharsky, mr. vasil', 'davies, mr. charles henry', 'goodwin, master. sidney leonard', 'buss, miss. kate', 'sadlier, mr. matthew', 'lehmann, miss. bertha', 'carter, mr. william ernest', 'jansson, mr. carl olof', 'gustafsson, mr. johan birger', 'newell, miss. marjorie', 'sandstrom, mrs. hjalmar (agnes charlotta bengtsson)', 'johansson, mr. erik', 'olsson, miss. elina', 'mckane, mr. peter david', 'pain, dr. alfred', 'trout, mrs. william h (jessie l)', 'niskanen, mr. juha', 'adams, mr. john', 'jussila, miss. mari aina', 'hakkarainen, mr. pekka pietari', 'oreskovic, miss. marija', 'gale, mr. shadrach', 'widegren, mr. carl/charles peter', 'richards, master. william rowe', 'birkeland, mr. hans martin monsen', 'lefebre, miss. ida', 'sdycoff, mr. todor', 'hart, mr. henry', 'minahan, miss. daisy e', 'cunningham, mr. alfred fleming', 'sundman, mr. johan julian', 'meek, mrs. thomas (annie louise rowley)', 'drew, mrs. james vivian (lulu thorne christian)', 'silven, miss. lyyli karoliina', 'matthews, mr. william john', 'van impe, miss. catharina', 'gheorgheff, mr. stanio', 'charters, mr. david', 'zimmerman, mr. leo', 'danbom, mrs. ernst gilbert (anna sigrid maria brogren)', 'rosblom, mr. viktor richard', 'wiseman, mr. phillippe', 'clarke, mrs. charles v (ada maria winfield)', '"phillips, miss. kate florence (""mrs kate louise phillips marshall"")"', 'flynn, mr. james', 'pickard, mr. berk (berk trembisky)', 'bjornstrom-steffansson, mr. mauritz hakan', 'thorneycroft, mrs. percival (florence kate white)', 'louch, mrs. charles alexander (alice adelaide slow)', 'kallio, mr. nikolai erland', 'silvey, mr. william baird', 'carter, miss. lucile polk', '"ford, miss. doolina margaret ""daisy"""', 'richards, mrs. sidney (emily hocking)', 'fortune, mr. mark', 'kvillner, mr. johan henrik johannesson', 'hart, mrs. benjamin (esther ada bloomfield)', 'hampe, mr. leon', 'petterson, mr. johan emil', 'reynaldo, ms. encarnacion', 'johannesen-bratthammer, mr. bernt', 'dodge, master. washington', 'mellinger, miss. madeleine violet', 'seward, mr. frederic kimber', 'baclini, miss. marie catherine', 'peuchen, major. arthur godfrey', 'west, mr. edwy arthur', 'hagland, mr. ingvald olai olsen', 'foreman, mr. benjamin laventall', 'goldenberg, mr. samuel l', 'peduzzi, mr. joseph', 'jalsevac, mr. ivan', 'millet, mr. francis davis', 'kenyon, mrs. frederick r (marion)', 'toomey, miss. ellen', "o'connor, mr. maurice", 'anderson, mr. harry', 'morley, mr. william', 'gee, mr. arthur h', 'milling, mr. jacob christian', 'maisner, mr. simon', 'goncalves, mr. manuel estanslas', 'campbell, mr. william', 'smart, mr. john montgomery', 'scanlan, mr. james', 'baclini, miss. helene barbara', 'keefe, mr. arthur', 'cacic, mr. luka', 'west, mrs. edwy arthur (ada mary worth)', 'jerwan, mrs. amin s (marie marthe thuillard)', 'strandberg, miss. ida sofia', 'clifford, mr. george quincy', 'renouf, mr. peter henry', 'braund, mr. lewis richard', 'karlsson, mr. nils august', 'hirvonen, miss. hildur e', 'goodwin, master. harold victor', '"frost, mr. anthony wood ""archie"""', 'rouse, mr. richard henry', 'turkula, mrs. (hedwig)', 'bishop, mr. dickinson h', 'lefebre, miss. jeannie', 'hoyt, mrs. frederick maxfield (jane anne forby)', 'kent, mr. edward austin', 'somerton, mr. francis william', '"coutts, master. eden leslie ""neville"""', 'hagland, mr. konrad mathias reiersen', 'windelov, mr. einar', 'molson, mr. harry markland', 'artagaveytia, mr. ramon', 'stanley, mr. edward roland', 'yousseff, mr. gerious', 'eustis, miss. elizabeth mussey', 'shellard, mr. frederick william', 'allison, mrs. hudson j c (bessie waldo daniels)', 'svensson, mr. olof', 'calic, mr. petar', 'canavan, miss. mary', "o'sullivan, miss. bridget mary", 'laitinen, miss. kristina sofia', 'maioni, miss. roberta', 'penasco y castellana, mr. victor de satode', 'quick, mrs. frederick charles (jane richards)', '"bradley, mr. george (""george arthur brayton"")"', 'olsen, mr. henry margido', 'lang, mr. fang', 'daly, mr. eugene patrick', 'webber, mr. james', 'mcgough, mr. james robert', 'rothschild, mrs. martin (elizabeth l. barrett)', 'coleff, mr. satio', 'walker, mr. william anderson', 'lemore, mrs. (amelia milley)', 'ryan, mr. patrick', '"angle, mrs. william a (florence ""mary"" agnes hughes)"', 'pavlovic, mr. stefo', 'perreault, miss. anne', 'vovk, mr. janko', 'lahoud, mr. sarkis', 'hippach, mrs. louis albert (ida sophia fischer)', 'kassem, mr. fared', 'farrell, mr. james', 'ridsdale, miss. lucy', 'farthing, mr. john', 'salonen, mr. johan werner', 'hocking, mr. richard george', 'quick, miss. phyllis may', 'toufik, mr. nakli', 'elias, mr. joseph jr', 'peter, mrs. catherine (catherine rizk)', 'cacic, miss. marija', 'hart, miss. eva miriam', 'butt, major. archibald willingham', 'leroy, miss. bertha', 'risien, mr. samuel beard', 'frolicher, miss. hedwig margaritha', 'crosby, miss. harriet r', 'andersson, miss. ingeborg constanzia', 'andersson, miss. sigrid elisabeth', 'beane, mr. edward', 'douglas, mr. walter donald', 'nicholson, mr. arthur ernest', 'beane, mrs. edward (ethel clarke)', 'padro y manent, mr. julian', 'goldsmith, mr. frank john', 'davies, master. john morgan jr', 'thayer, mr. john borland jr', 'sharp, mr. percival james r', "o'brien, mr. timothy", '"leeni, mr. fahim (""philip zenni"")"', 'ohman, miss. velin', 'wright, mr. george', '"duff gordon, lady. (lucille christiana sutherland) (""mrs morgan"")"', 'robbins, mr. victor', 'taussig, mrs. emil (tillie mandelbaum)', 'de messemaeker, mrs. guillaume joseph (emma)', 'morrow, mr. thomas rowan', 'sivic, mr. husein', 'norman, mr. robert douglas', 'simmons, mr. john', 'meanwell, miss. (marion ogden)', 'davies, mr. alfred j', 'stoytcheff, mr. ilia', 'palsson, mrs. nils (alma cornelia berglund)', 'doharr, mr. tannous', 'jonsson, mr. carl', 'harris, mr. george', 'appleton, mrs. edward dale (charlotte lamson)', '"flynn, mr. john irwin (""irving"")"', 'kelly, miss. mary', 'rush, mr. alfred george john', 'patchett, mr. george', 'garside, miss. ethel', 'silvey, mrs. william baird (alice munger)', 'caram, mrs. joseph (maria elias)', 'jussila, mr. eiriik', 'christy, miss. julie rachel', 'thayer, mrs. john borland (marian longstreth morris)', 'downton, mr. william james', 'ross, mr. john hugo', 'paulner, mr. uscher', 'taussig, miss. ruth', 'jarvis, mr. john denzil', 'frolicher-stehli, mr. maxmillian', 'gilinski, mr. eliezer', 'murdlin, mr. joseph', 'rintamaki, mr. matti', 'stephenson, mrs. walter bertram (martha eustis)', 'elsbury, mr. william james', 'bourke, miss. mary', 'chapman, mr. john henry', 'van impe, mr. jean baptiste', 'leitch, miss. jessie wills', 'johnson, mr. alfred', 'boulos, mr. hanna', '"duff gordon, sir. cosmo edmund (""mr morgan"")"', 'jacobsohn, mrs. sidney samuel (amy frances christy)', 'slabenoff, mr. petco', 'harrington, mr. charles h', 'torber, mr. ernst william', '"homer, mr. harry (""mr e haven"")"', 'lindell, mr. edvard bengtsson', 'karaic, mr. milan', 'daniel, mr. robert williams', 'laroche, mrs. joseph (juliette marie louise lafargue)', 'shutes, miss. elizabeth w', 'andersson, mrs. anders johan (alfrida konstantia brogren)', 'jardin, mr. jose neto', 'murphy, miss. margaret jane', 'horgan, mr. john', 'brocklebank, mr. william alfred', 'herman, miss. alice', 'danbom, mr. ernst gilbert', 'lobb, mrs. william arthur (cordelia k stanlick)', 'becker, miss. marion louise', 'gavey, mr. lawrence', 'yasbeck, mr. antoni', 'kimball, mr. edwin nelson jr', 'nakid, mr. sahid', 'hansen, mr. henry damsgaard', '"bowen, mr. david john ""dai"""', 'sutton, mr. frederick', 'kirkland, rev. charles leonard', 'longley, miss. gretchen fiske', 'bostandyeff, mr. guentcho', "o'connell, mr. patrick d", 'barkworth, mr. algernon henry wilson', 'lundahl, mr. johan svensson', 'stahelin-maeglin, dr. max', 'parr, mr. william henry marsh', 'skoog, miss. mabel', 'davis, miss. mary', 'leinonen, mr. antti gustaf', 'collyer, mr. harvey', 'panula, mrs. juha (maria emilia ojala)', 't

### sortBy function

The sortBy function is one of the functions of the PySpark RDD class, which can be used to sort RDD elements by key or value. The first parameter of the sortBy function is the key function, which is used to specify the sorting criteria. The second parameter can be set to False if descending ordering is required, and the default is ascending ordering.

```python
# Create an RDD containing strings
rdd = sc.parallelize(["apple", "banana", "cherry", "date", "elderberry", "fig"])

# Arrange the RDD in ascending order by the length of the strings
sorted_rdd = rdd.sortBy(lambda x: len(x))

# Print the result
print(sorted_rdd.collect())
```
Result:
```
['fig', 'date', 'apple', 'banana', 'cherry', 'elderberry']
```
In the above example, we have sorted the elements of the RDD in ascending order by the length of the strings using the sortBy function. In the result, the elements of the RDD are sorted by the initial letter if they are of the same length. The collect function is used to print the result.

### take function

The take function is a PySpark operation that returns the first n elements of the RDD in the form of a list. This function can be useful when examining the RDD, as it is not necessary to iterate over all the elements, but only the first few. Here is an example of using the take function:

```python
# Create an RDD with numbers
rdd = sc.parallelize([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

# Take the first 3 elements from the RDD
result = rdd.take(3)

# Write the result
print(result)
```
Result:
```python
[1, 2, 3]
```

In [17]:
# Make a list of the ages of the first 10 passengers in the Titanic dataset! 
# Use the map function to retrieve the ages, filter out those with None, 
# then sort them in ascending order and select the first 10.

first_10_ages = titanic_rdd \
                .map(lambda row: row[5]) \
                .filter(lambda age: age != None) \
                .map(lambda age: age) \
                .sortBy(lambda age: age) \
                .take(10)
print(first_10_ages)

[0.42, 0.67, 0.75, 0.75, 0.83, 0.83, 0.92, 1.0, 1.0, 1.0]

## Practice

In [18]:
# Make a list of the ages of the first 5 passengers in the Titanic dataset! 
# Use the map function to retrieve the ages, filter out those with None, 
# then sort them in descending order and select the first 5.

first_10_ages = titanic_rdd \
                .map(lambda row: row[5]) \
                .filter(lambda age: age != None) \
                .map(lambda age: age) \
                .sortBy(lambda age: age, False) \
                .take(5)
print(first_10_ages)

[80.0, 74.0, 71.0, 71.0, 70.5]

### partitioning

PySpark RDDs can be divided into parts, called partitions, into which the elements of the RDD are grouped. The number of particles can be set when the RDD is created or will be the default number set in the Spark context.

The role of partitioning is to divide the RDD into independent parts in the Spark cluster that can be processed in parallel. This allows Spark to make efficient use of available resources and process RDD elements faster.

Partitioning the RDD can be advantageous when the RDD is large or when you want to perform operations that allow parallel execution.

Partitioning of the RDD can be performed using the repartition or coalesce functions. The repartition function reorganizes the RDD to the specified number of partitions, while the coalesce function reorganizes the RDD to the default partitioning level.

```python
# Create an RDD with numbers
rdd = sc.parallelize(range(100), numSlices=4)

# Set the partitioning number to 2
rdd = rdd.repartition(2)

# Examine the number of partitions
print(rdd.getNumPartitions())

```
Result:

```python
2

```

In the above example, we first create an RDD with numbers, and then set the number of partitions to 4 using the numSlices parameter of the parallelize function. Then, using the repartition function, we transform the RDD to contain only 2 partitions. Finally, the getNumPartitions function is used to check the number of partitions and make sure that it is set to 2.

In [19]:
# Retrieve the number of partitions

titanic_rdd.getNumPartitions()

1

In [20]:
titanic_rdd.repartition(15).getNumPartitions()

15

In [21]:
# Please describe how much data the particles contain

partition_sizes = titanic_rdd.repartition(15).repartition(3).mapPartitions(lambda partition: [len(list(partition))]).collect()
print(partition_sizes)

[300, 300, 291]

### distinct function

The distinct function in PySpark is an operation on the RDD that removes duplicate elements and keeps only unique elements. The function does not perform any aggregation during its operation, i.e. the order and number of elements in the result is the same as the unique elements in the RDD.

The use of the distinct function is very simple, just call it on the RDD you want to apply it to and you will get the RDD with the unique elements. In the following example we will filter out the unique elements of the RDD:
    
```python
# Create RDD
rdd = sc.parallelize([1, 2, 3, 2, 1, 4, 5, 3, 6, 7, 6, 8, 9, 9])

# Filter RDD to individual elements
unique_rdd = rdd.distinct()

# Write out the unique elements
print(unique_rdd.collect())

```
Result:

```python
[1, 2, 3, 4, 5, 6, 7, 8, 9]

```

In [23]:
# Please describe the different passenger classes without repeating

titanic_rdd.map(lambda x: x[2]) \
           .distinct()          \
           .foreach(print)

### union function

The union function is used in PySpark to join two RDDs. When the function operates, the elements of the first RDD in the result will follow the elements of the second RDD, and the result RDD will be of the same type as the two input RDDs.

Using the union function is very simple, just call it on the two RDDs you want to apply it to, and the elements of the first RDD will follow the elements of the second RDD in the result. In the following example, two RDDs are merged:  
```python
# Create the first RDD
rdd1 = sc.parallelize([1, 2, 3, 4, 5])

# Create the second RDD
rdd2 = sc.parallelize([6, 7, 8, 9, 10])

# Merge the RDDs
union_rdd = rdd1.union(rdd2)

# Print the result
print(union_rdd.collect())


```
Result:

```python
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

```

In [24]:
# Please describe men and women separately and then combine the two RDDs with a union function.

male_rdd = titanic_rdd.filter(lambda row: row[4] == "male")
female_rdd = titanic_rdd.filter(lambda row: row[4] == "female")

male_and_female = male_rdd.union(female_rdd)

print(male_and_female.collect())

[Row(PassengerId=1, Survived=0, Pclass=3, Name='Braund, Mr. Owen Harris', Sex='male', Age=22.0, SibSp=1, Parch=0, Ticket='A/5 21171', Fare=7.25, Cabin=None, Embarked='S'), Row(PassengerId=5, Survived=0, Pclass=3, Name='Allen, Mr. William Henry', Sex='male', Age=35.0, SibSp=0, Parch=0, Ticket='373450', Fare=8.05, Cabin=None, Embarked='S'), Row(PassengerId=6, Survived=0, Pclass=3, Name='Moran, Mr. James', Sex='male', Age=None, SibSp=0, Parch=0, Ticket='330877', Fare=8.4583, Cabin=None, Embarked='Q'), Row(PassengerId=7, Survived=0, Pclass=1, Name='McCarthy, Mr. Timothy J', Sex='male', Age=54.0, SibSp=0, Parch=0, Ticket='17463', Fare=51.8625, Cabin='E46', Embarked='S'), Row(PassengerId=8, Survived=0, Pclass=3, Name='Palsson, Master. Gosta Leonard', Sex='male', Age=2.0, SibSp=3, Parch=1, Ticket='349909', Fare=21.075, Cabin=None, Embarked='S'), Row(PassengerId=13, Survived=0, Pclass=3, Name='Saundercock, Mr. William Henry', Sex='male', Age=20.0, SibSp=0, Parch=0, Ticket='A/5. 2151', Fare=8.05, Cabin=None, Embarked='S'), Row(PassengerId=14, Survived=0, Pclass=3, Name='Andersson, Mr. Anders Johan', Sex='male', Age=39.0, SibSp=1, Parch=5, Ticket='347082', Fare=31.275, Cabin=None, Embarked='S'), Row(PassengerId=17, Survived=0, Pclass=3, Name='Rice, Master. Eugene', Sex='male', Age=2.0, SibSp=4, Parch=1, Ticket='382652', Fare=29.125, Cabin=None, Embarked='Q'), Row(PassengerId=18, Survived=1, Pclass=2, Name='Williams, Mr. Charles Eugene', Sex='male', Age=None, SibSp=0, Parch=0, Ticket='244373', Fare=13.0, Cabin=None, Embarked='S'), Row(PassengerId=21, Survived=0, Pclass=2, Name='Fynney, Mr. Joseph J', Sex='male', Age=35.0, SibSp=0, Parch=0, Ticket='239865', Fare=26.0, Cabin=None, Embarked='S'), Row(PassengerId=22, Survived=1, Pclass=2, Name='Beesley, Mr. Lawrence', Sex='male', Age=34.0, SibSp=0, Parch=0, Ticket='248698', Fare=13.0, Cabin='D56', Embarked='S'), Row(PassengerId=24, Survived=1, Pclass=1, Name='Sloper, Mr. William Thompson', Sex='male', Age=28.0, SibSp=0, Parch=0, Ticket='113788', Fare=35.5, Cabin='A6', Embarked='S'), Row(PassengerId=27, Survived=0, Pclass=3, Name='Emir, Mr. Farred Chehab', Sex='male', Age=None, SibSp=0, Parch=0, Ticket='2631', Fare=7.225, Cabin=None, Embarked='C'), Row(PassengerId=28, Survived=0, Pclass=1, Name='Fortune, Mr. Charles Alexander', Sex='male', Age=19.0, SibSp=3, Parch=2, Ticket='19950', Fare=263.0, Cabin='C23 C25 C27', Embarked='S'), Row(PassengerId=30, Survived=0, Pclass=3, Name='Todoroff, Mr. Lalio', Sex='male', Age=None, SibSp=0, Parch=0, Ticket='349216', Fare=7.8958, Cabin=None, Embarked='S'), Row(PassengerId=31, Survived=0, Pclass=1, Name='Uruchurtu, Don. Manuel E', Sex='male', Age=40.0, SibSp=0, Parch=0, Ticket='PC 17601', Fare=27.7208, Cabin=None, Embarked='C'), Row(PassengerId=34, Survived=0, Pclass=2, Name='Wheadon, Mr. Edward H', Sex='male', Age=66.0, SibSp=0, Parch=0, Ticket='C.A. 24579', Fare=10.5, Cabin=None, Embarked='S'), Row(PassengerId=35, Survived=0, Pclass=1, Name='Meyer, Mr. Edgar Joseph', Sex='male', Age=28.0, SibSp=1, Parch=0, Ticket='PC 17604', Fare=82.1708, Cabin=None, Embarked='C'), Row(PassengerId=36, Survived=0, Pclass=1, Name='Holverson, Mr. Alexander Oskar', Sex='male', Age=42.0, SibSp=1, Parch=0, Ticket='113789', Fare=52.0, Cabin=None, Embarked='S'), Row(PassengerId=37, Survived=1, Pclass=3, Name='Mamee, Mr. Hanna', Sex='male', Age=None, SibSp=0, Parch=0, Ticket='2677', Fare=7.2292, Cabin=None, Embarked='C'), Row(PassengerId=38, Survived=0, Pclass=3, Name='Cann, Mr. Ernest Charles', Sex='male', Age=21.0, SibSp=0, Parch=0, Ticket='A./5. 2152', Fare=8.05, Cabin=None, Embarked='S'), Row(PassengerId=43, Survived=0, Pclass=3, Name='Kraeff, Mr. Theodor', Sex='male', Age=None, SibSp=0, Parch=0, Ticket='349253', Fare=7.8958, Cabin=None, Embarked='C'), Row(PassengerId=46, Survived=0, Pclass=3, Name='Rogers, Mr. William John', Sex='male', Age=None, SibSp=0, Parch=0, Ticket='S.C./A.4. 23567', Fare=8.05, Cabin=None, Embarked='S'), Row(PassengerId=47, Survived=0, Pclass=3, Name='Lennon, Mr. Denis', Sex='male', Age=None, SibSp=1, Parch=0, Ticket='370371', Fare=15.5, Cabin=None, Embarked='Q'), Row(PassengerId=49, Survived=0, Pclass=3, Name='Samaan, Mr. Youssef', Sex='male', Age=None, SibSp=2, Parch=0, Ticket='2662', Fare=21.6792, Cabin=None, Embarked='C'), Row(PassengerId=51, Survived=0, Pclass=3, Name='Panula, Master. Juha Niilo', Sex='male', Age=7.0, SibSp=4, Parch=1, Ticket='3101295', Fare=39.6875, Cabin=None, Embarked='S'), Row(PassengerId=52, Survived=0, Pclass=3, Name='Nosworthy, Mr. Richard Cater', Sex='male', Age=21.0, SibSp=0, Parch=0, Ticket='A/4. 39886', Fare=7.8, Cabin=None, Embarked='S'), Row(PassengerId=55, Survived=0, Pclass=1, Name='Ostby, Mr. Engelhart Cornelius', Sex='male', Age=65.0, SibSp=0, Parch=1, Ticket='113509', Fare=61.9792, Cabin='B30', Embarked='C'), Row(PassengerId=56, Survived=1, Pclass=1, Name='Woolner, Mr. Hugh', Sex='male', Age=None, SibSp=0, Parch=0, Ticket='19947', Fare=35.5, Cabin='C52', Embarked='S'), Row(PassengerId=58, Survived=0, Pclass=3, Name='Novel, Mr. Mansouer', Sex='male', Age=28.5, SibSp=0, Parch=0, Ticket='2697', Fare=7.2292, Cabin=None, Embarked='C'), Row(PassengerId=60, Survived=0, Pclass=3, Name='Goodwin, Master. William Frederick', Sex='male', Age=11.0, SibSp=5, Parch=2, Ticket='CA 2144', Fare=46.9, Cabin=None, Embarked='S'), Row(PassengerId=61, Survived=0, Pclass=3, Name='Sirayanian, Mr. Orsen', Sex='male', Age=22.0, SibSp=0, Parch=0, Ticket='2669', Fare=7.2292, Cabin=None, Embarked='C'), Row(PassengerId=63, Survived=0, Pclass=1, Name='Harris, Mr. Henry Birkhardt', Sex='male', Age=45.0, SibSp=1, Parch=0, Ticket='36973', Fare=83.475, Cabin='C83', Embarked='S'), Row(PassengerId=64, Survived=0, Pclass=3, Name='Skoog, Master. Harald', Sex='male', Age=4.0, SibSp=3, Parch=2, Ticket='347088', Fare=27.9, Cabin=None, Embarked='S'), Row(PassengerId=65, Survived=0, Pclass=1, Name='Stewart, Mr. Albert A', Sex='male', Age=None, SibSp=0, Parch=0, Ticket='PC 17605', Fare=27.7208, Cabin=None, Embarked='C'), Row(PassengerId=66, Survived=1, Pclass=3, Name='Moubarek, Master. Gerios', Sex='male', Age=None, SibSp=1, Parch=1, Ticket='2661', Fare=15.2458, Cabin=None, Embarked='C'), Row(PassengerId=68, Survived=0, Pclass=3, Name='Crease, Mr. Ernest James', Sex='male', Age=19.0, SibSp=0, Parch=0, Ticket='S.P. 3464', Fare=8.1583, Cabin=None, Embarked='S'), Row(PassengerId=70, Survived=0, Pclass=3, Name='Kink, Mr. Vincenz', Sex='male', Age=26.0, SibSp=2, Parch=0, Ticket='315151', Fare=8.6625, Cabin=None, Embarked='S'), Row(PassengerId=71, Survived=0, Pclass=2, Name='Jenkin, Mr. Stephen Curnow', Sex='male', Age=32.0, SibSp=0, Parch=0, Ticket='C.A. 33111', Fare=10.5, Cabin=None, Embarked='S'), Row(PassengerId=73, Survived=0, Pclass=2, Name='Hood, Mr. Ambrose Jr', Sex='male', Age=21.0, SibSp=0, Parch=0, Ticket='S.O.C. 14879', Fare=73.5, Cabin=None, Embarked='S'), Row(PassengerId=74, Survived=0, Pclass=3, Name='Chronopoulos, Mr. Apostolos', Sex='male', Age=26.0, SibSp=1, Parch=0, Ticket='2680', Fare=14.4542, Cabin=None, Embarked='C'), Row(PassengerId=75, Survived=1, Pclass=3, Name='Bing, Mr. Lee', Sex='male', Age=32.0, SibSp=0, Parch=0, Ticket='1601', Fare=56.4958, Cabin=None, Embarked='S'), Row(PassengerId=76, Survived=0, Pclass=3, Name='Moen, Mr. Sigurd Hansen', Sex='male', Age=25.0, SibSp=0, Parch=0, Ticket='348123', Fare=7.65, Cabin='F G73', Embarked='S'), Row(PassengerId=77, Survived=0, Pclass=3, Name='Staneff, Mr. Ivan', Sex='male', Age=None, SibSp=0, Parch=0, Ticket='349208', Fare=7.8958, Cabin=None, Embarked='S'), Row(PassengerId=78, Survived=0, Pclass=3, Name='Moutal, Mr. Rahamin Haim', Sex='male', Age=None, SibSp=0, Parch=0, Ticket='374746', Fare=8.05, Cabin=None, Embarked='S'), Row(PassengerId=79, Survived=1, Pclass=2, Name='Caldwell, Master. Alden Gates', Sex='male', Age=0.83, SibSp=0, Parch=2, Ticket='248738', Fare=29.0, Cabin=None, Embarked='S'), Row(PassengerId=81, Survived=0, Pclass=3, Name='Waelens, Mr. Achille', Sex='male', Age=22.0, SibSp=0, Parch=0, Ticket='345767', Fare=9.0, Cabin=None, Embarked='S'), Row(PassengerId=82, Survived=1, Pclass=3, Name='Sheerlinck, Mr. Jan Baptist', Sex='male', Age=29.0, SibSp=0, Parch=0, Ticket='345779', Fare=9.5, Cabin=None, Embarked='S'), Row(PassengerId=84, Survived=0, Pclass=1, Name='Carrau, Mr. Francisco M', Sex='male', Age=28.0, SibSp=0, Parch=0, Ticket='113059', Fare=47.1, Cabin=None, Embarked='S'), Row(PassengerId=87, Survived=0, Pclass=3, Name='Ford, Mr. William Neal', Sex='male', Age=16.0, SibSp=1, Parch=3, Ticket='W./C. 6608', Fare=34.375, Cabin=None, Embarked='S'), Row(PassengerId=88, Survived=0, Pclass=3, Name='Slocovski, Mr. Selman Francis', Sex='male', Age=None, SibSp=0, Parch=0, Ticket='SOTON/OQ 392086', Fare=8.05, Cabin=None, Embarked='S'), Row(PassengerId=90, Survived=0, Pclass=3, Name='Celotti, Mr. Francesco', Sex='male', Age=24.0, SibSp=0, Parch=0, Ticket='343275', Fare=8.05, Cabin=None, Embarked='S'), Row(PassengerId=91, Survived=0, Pclass=3, Name='Christmann, Mr. Emil', Sex='male', Age=29.0, SibSp=0, Parch=0, Ticket='343276', Fare=8.05, Cabin=None, Embarked='S'), Row(PassengerId=92, Survived=0, Pclass=3, Name='Andreasson, Mr. Paul Edvin', Sex='male', Age=20.0, SibSp=0, Parch=0, Ticket='347466', Fare=7.8542, Cabin=None, Embarked='S'), Row(PassengerId=93, Survived=0, Pclass=1, Name='Chaffee, Mr. Herbert Fuller', Sex='male', Age=46.0, SibSp=1, Parch=0, Ticket='W.E.P. 5734', Fare=61.175, Cabin='E31', Embarked='S'), Row(PassengerId=94, Survived=0, Pclass=3, Name='Dean, Mr. Bertram Frank', Sex='male', Age=26.0, SibSp=1, Parch=2, Ticket='C.A. 2315', Fare=20.575, Cabin=None, Embarked='S'), Row(PassengerId=95, Survived=0, Pclass=3, Name='Coxon, Mr. Daniel', Sex='male', Age=59.0, SibSp=0, Parch=0, Ticket='364500', Fare=7.25, Cabin=None, Embarked='S'), Row(PassengerId=96, Survived=0, Pclass=3, Name='Shorney, Mr. Charles Joseph', Sex='male', Age=None, SibSp=0, Parch=0, Ticket='374910', Fare=8.05, Cabin=None, Embarked='S'), Row(PassengerId=97, Survived=0, Pclass=1, Name='Goldschmidt, Mr. George B', Sex='male', Age=71.0, SibSp=0, Parch=0, Ticket='PC 17754', Fare=34.6542, Cabin='A5', Embarked='C'), Row(PassengerId=98, Survived=1, Pclass=1, Name='Greenfield, Mr. William Bertram', Sex='male', Age=23.0, SibSp=0, Parch=1, Ticket='PC 17759', Fare=63.3583, Cabin='D10 D12', Embarked='C'), Row(PassengerId=100, Survived=0, Pclass=2, Name='Kantor, Mr. Sinai', Sex='male', Age=34.0, SibSp=1, Parch=0, Ticket='244367', Fare=26.0, Cabin=None, Embarked='S'), Row(PassengerId=102, Survived=0, Pclass=3, Name='"Petroff, Mr. Pastcho (""Pentcho"")"', Sex='male', Age=None, SibSp=0, Parch=0, Ticket='349215', Fare=7.8958, Cabin=None, Embarked='S'), Row(PassengerId=103, Survived=0, Pclass=1, Name='White, Mr. Richard Frasar', Sex='male', Age=21.0, SibSp=0, Parch=1, Ticket='35281', Fare=77.2875, Cabin='D26', Embarked='S'), Row(PassengerId=104, Survived=0, Pclass=3, Name='Johansson, Mr. Gustaf Joel', Sex='male', Age=33.0, SibSp=0, Parch=0, Ticket='7540', Fare=8.6542, Cabin=None, Embarked='S'), Row(PassengerId=105, Survived=0, Pclass=3, Name='Gustafsson, Mr. Anders Vilhelm', Sex='male', Age=37.0, SibSp=2, Parch=0, Ticket='3101276', Fare=7.925, Cabin=None, Embarked='S'), Row(PassengerId=106, Survived=0, Pclass=3, Name='Mionoff, Mr. Stoytcho', Sex='male', Age=28.0, SibSp=0, Parch=0, Ticket='349207', Fare=7.8958, Cabin=None, Embarked='S'), Row(PassengerId=108, Survived=1, Pclass=3, Name='Moss, Mr. Albert Johan', Sex='male', Age=None, SibSp=0, Parch=0, Ticket='312991', Fare=7.775, Cabin=None, Embarked='S'), Row(PassengerId=109, Survived=0, Pclass=3, Name='Rekic, Mr. Tido', Sex='male', Age=38.0, SibSp=0, Parch=0, Ticket='349249', Fare=7.8958, Cabin=None, Embarked='S'), Row(PassengerId=111, Survived=0, Pclass=1, Name='Porter, Mr. Walter Chamberlain', Sex='male', Age=47.0, SibSp=0, Parch=0, Ticket='110465', Fare=52.0, Cabin='C110', Embarked='S'), Row(PassengerId=113, Survived=0, Pclass=3, Name='Barton, Mr. David John', Sex='male', Age=22.0, SibSp=0, Parch=0, Ticket='324669', Fare=8.05, Cabin=None, Embarked='S'), Row(PassengerId=116, Survived=0, Pclass=3, Name='Pekoniemi, Mr. Edvard', Sex='male', Age=21.0, SibSp=0, Parch=0, Ticket='STON/O 2. 3101294', Fare=7.925, Cabin=None, Embarked='S'), Row(PassengerId=117, Survived=0, Pclass=3, Name='Connors, Mr. Patrick', Sex='male', Age=70.5, SibSp=0, Parch=0, Ticket='370369', Fare=7.75, Cabin=None, Embarked='Q'), Row(PassengerId=118, Survived=0, Pclass=2, Name='Turpin, Mr. William John Robert', Sex='male', Age=29.0, SibSp=1, Parch=0, Ticket='11668', Fare=21.0, Cabin=None, Embarked='S'), Row(PassengerId=119, Survived=0, Pclass=1, Name='Baxter, Mr. Quigg Edmond', Sex='male', Age=24.0, SibSp=0, Parch=1, Ticket='PC 17558', Fare=247.5208, Cabin='B58 B60', Embarked='C'), Row(PassengerId=121, Survived=0, Pclass=2, Name='Hickman, Mr. Stanley George', Sex='male', Age=21.0, SibSp=2, Parch=0, Ticket='S.O.C. 14879', Fare=73.5, Cabin=None, Embarked='S'), Row(PassengerId=122, Survived=0, Pclass=3, Name='Moore, Mr. Leonard Charles', Sex='male', Age=None, SibSp=0, Parch=0, Ticket='A4. 54510', Fare=8.05, Cabin=None, Embarked='S'), Row(PassengerId=123, Survived=0, Pclass=2, Name='Nasser, Mr. Nicholas', Sex='male', Age=32.5, SibSp=1, Parch=0, Ticket='237736', Fare=30.0708, Cabin=None, Embarked='C'), Row(PassengerId=125, Survived=0, Pclass=1, Name='White, Mr. Percival Wayland', Sex='male', Age=54.0, SibSp=0, Parch=1, Ticket='35281', Fare=77.2875, Cabin='D26', Embarked='S'), Row(PassengerId=126, Survived=1, Pclass=3, Name='Nicola-Yarred, Master. Elias', Sex='male', Age=12.0, SibSp=1, Parch=0, Ticket='2651', Fare=11.2417, Cabin=None, Embarked='C'), Row(PassengerId=127, Survived=0, Pclass=3, Name='McMahon, Mr. Martin', Sex='male', Age=None, SibSp=0, Parch=0, Ticket='370372', Fare=7.75, Cabin=None, Embarked='Q'), Row(PassengerId=128, Survived=1, Pclass=3, Name='Madsen, Mr. Fridtjof Arne', Sex='male', Age=24.0, SibSp=0, Parch=0, Ticket='C 17369', Fare=7.1417, Cabin=None, Embarked='S'), Row(PassengerId=130, Survived=0, Pclass=3, Name='Ekstrom, Mr. Johan', Sex='male', Age=45.0, SibSp=0, Parch=0, Ticket='347061', Fare=6.975, Cabin=None, Embarked='S'), Row(PassengerId=131, Survived=0, Pclass=3, Name='Drazenoic, Mr. Jozef', Sex='male', Age=33.0, SibSp=0, Parch=0, Ticket='349241', Fare=7.8958, Cabin=None, Embarked='C'), Row(PassengerId=132, Survived=0, Pclass=3, Name='Coelho, Mr. Domingos Fernandeo', Sex='male', Age=20.0, SibSp=0, Parch=0, Ticket='SOTON/O.Q. 3101307', Fare=7.05, Cabin=None, Embarked='S'), Row(PassengerId=135, Survived=0, Pclass=2, Name='Sobey, Mr. Samuel James Hayden', Sex='male', Age=25.0, SibSp=0, Parch=0, Ticket='C.A. 29178', Fare=13.0, Cabin=None, Embarked='S'), Row(PassengerId=136, Survived=0, Pclass=2, Name='Richard, Mr. Emile', Sex='male', Age=23.0, SibSp=0, Parch=0, Ticket='SC/PARIS 2133', Fare=15.0458, Cabin=None, Embarked='C'), Row(PassengerId=138, Survived=0, Pclass=1, Name='Futrelle, Mr. Jacques Heath', Sex='male', Age=37.0, SibSp=1, Parch=0, Ticket='113803', Fare=53.1, Cabin='C123', Embarked='S'), Row(PassengerId=139, Survived=0, Pclass=3, Name='Osen, Mr. Olaf Elon', Sex='male', Age=16.0, SibSp=0, Parch=0, Ticket='7534', Fare=9.2167, Cabin=None, Embarked='S'), Row(PassengerId=140, Survived=0, Pclass=1, Name='Giglio, Mr. Victor', Sex='male', Age=24.0, SibSp=0, Parch=0, Ticket='PC 17593', Fare=79.2, Cabin='B86', Embarked='C'), Row(PassengerId=144, Survived=0, Pclass=3, Name='Burke, Mr. Jeremiah', Sex='male', Age=19.0, SibSp=0, Parch=0, Ticket='365222', Fare=6.75, Cabin=None, Embarked='Q'), Row(PassengerId=145, Survived=0, Pclass=2, Name='Andrew, Mr. Edgardo Samuel', Sex='male', Age=18.0, SibSp=0, Parch=0, Ticket='231945', Fare=11.5, Cabin=None, Embarked='S'), Row(PassengerId=146, Survived=0, Pclass=2, Name='Nicholls, Mr. Joseph Charles', Sex='male', Age=19.0, SibSp=1, Parch=1, Ticket='C.A. 33112', Fare=36.75, Cabin=None, Embarked='S'), Row(PassengerId=147, Survived=1, Pclass=3, Name='"Andersson, Mr. August Edvard (""Wennerstrom"")"', Sex='male', Age=27.0, SibSp=0, Parch=0, Ticket='350043', Fare=7.7958, Cabin=None, Embarked='S'), Row(PassengerId=149, Survived=0, Pclass=2, Name='"Navratil, Mr. Michel (""Louis M Hoffman"")"', Sex='male', Age=36.5, SibSp=0, Parch=2, Ticket='230080', Fare=26.0, Cabin='F2', Embarked='S'), Row(PassengerId=150, Survived=0, Pclass=2, Name='Byles, Rev. Thomas Roussel Davids', Sex='male', Age=42.0, SibSp=0, Parch=0, Ticket='244310', Fare=13.0, Cabin=None, Embarked='S'), Row(PassengerId=151, Survived=0, Pclass=2, Name='Bateman, Rev. Robert James', Sex='male', Age=51.0, SibSp=0, Parch=0, Ticket='S.O.P. 1166', Fare=12.525, Cabin=None, Embarked='S'), Row(PassengerId=153, Survived=0, Pclass=3, Name='Meo, Mr. Alfonzo', Sex='male', Age=55.5, SibSp=0, Parch=0, Ticket='A.5. 11206', Fare=8.05, Cabin=None, Embarked='S'), Row(PassengerId=154, Survived=0, Pclass=3, Name='van Billiard, Mr. Austin Blyler', Sex='male', Age=40.5, SibSp=0, Parch=2, Ticket='A/5. 851', Fare=14.5, Cabin=None, Embarked='S'), Row(PassengerId=155, Survived=0, Pclass=3, Name='Olsen, Mr. Ole Martin', Sex='male', Age=None, SibSp=0, Parch=0, Ticket='Fa 265302', Fare=7.3125, Cabin=None, Embarked='S'), Row(PassengerId=156, Survived=0, Pclass=1, Name='Williams, Mr. Charles Duane', Sex='male', Age=51.0, SibSp=0, Parch=1, Ticket='PC 17597', Fare=61.3792, Cabin=None, Embarked='C'), Row(PassengerId=158, Survived=0, Pclass=3, Name='Corn, Mr. Harry', Sex='male', Age=30.0, SibSp=0, Parch=0, Ticket='SOTON/OQ 392090', Fare=8.05, Cabin=None, Embarked='S'), Row(PassengerId=159, Survived=0, Pclass=3, Name='Smiljanic, Mr. Mile', Sex='male', Age=None, SibSp=0, Parch=0, Ticket='315037', Fare=8.6625, Cabin=None, Embarked='S'), Row(PassengerId=160, Survived=0, Pclass=3, Name='Sage, Master. Thomas Henry', Sex='male', Age=None, SibSp=8, Parch=2, Ticket='CA. 2343', Fare=69.55, Cabin=None, Embarked='S'), Row(PassengerId=161, Survived=0, Pclass=3, Name='Cribb, Mr. John Hatfield', Sex='male', Age=44.0, SibSp=0, Parch=1, Ticket='371362', Fare=16.1, Cabin=None, Embarked='S'), Row(PassengerId=163, Survived=0, Pclass=3, Name='Bengtsson, Mr. John Viktor', Sex='male', Age=26.0, SibSp=0, Parch=0, Ticket='347068', Fare=7.775, Cabin=None, Embarked='S'), Row(PassengerId=164, Survived=0, Pclass=3, Name='Calic, Mr. Jovo', Sex='male', Age=17.0, SibSp=0, Parch=0, Ticket='315093', Fare=8.6625, Cabin=None, Embarked='S'), Row(PassengerId=165, Survived=0, Pclass=3, Name='Panula, Master. Eino Viljami', Sex='male', Age=1.0, SibSp=4, Parch=1, Ticket='3101295', Fare=39.6875, Cabin=None, Embarked='S'), Row(PassengerId=166, Survived=1, Pclass=3, Name='"Goldsmith, Master. Frank John William ""Frankie"""', Sex='male', Age=9.0, SibSp=0, Parch=2, Ticket='363291', Fare=20.525, Cabin=None, Embarked='S'), Row(PassengerId=169, Survived=0, Pclass=1, Name='Baumann, Mr. John D', Sex='male', Age=None, SibSp=0, Parch=0, Ticket='PC 17318', Fare=25.925, Cabin=None, Embarked='S'), Row(PassengerId=170, Survived=0, Pclass=3, Name='Ling, Mr. Lee', Sex='male', Age=28.0, SibSp=0, Parch=0, Ticket='1601', Fare=56.4958, Cabin=None, Embarked='S'), Row(PassengerId=171, Survived=0, Pclass=1, Name='Van der hoef, Mr. Wyckoff', Sex='male', Age=61.0, SibSp=0, Parch=0, Ticket='111240', Fare=33.5, Cabin='B19', Embarked='S'), Row(PassengerId=172, Survived=0, Pclass=3, Name='Rice, Master. Arthur', Sex='male', Age=4.0, SibSp=4, Parch=1, Ticket='382652', Fare=29.125, Cabin=None, Embarked='Q'), Row(PassengerId=174, Survived=0, Pclass=3, Name='Sivola, Mr. Antti Wilhelm', Sex='male', Age=21.0, SibSp=0, Parch=0, Ticket='STON/O 2. 3101280', Fare=7.925, Cabin=None, Embarked='S'), Row(PassengerId=175, Survived=0, Pclass=1, Name='Smith, Mr. James Clinch', Sex='male', Age=56.0, SibSp=0, Parch=0, Ticket='17764', Fare=30.6958, Cabin='A7', Embarked='C'), Row(PassengerId=176, Survived=0, Pclass=3, Name='Klasen, Mr. Klas Albin', Sex='male', Age=18.0, SibSp=1, Parch=1, Ticket='350404', Fare=7.8542, Cabin=None, Embarked='S'), Row(PassengerId=177, Survived=0, Pclass=3, Name='Lefebre, Master. Henry Forbes', Sex='m

### reduceByKey function

The reduceByKey() function in PySpark is a transformation that can be applied to key-value pairs. The function takes an RDD stored in a key-value pair and returns another RDD in which the values associated with the keys are aggregated.

The reduceByKey() function is extremely simple to use. First, an RDD with key-value pairs must be created. Then apply the reduceByKey() function to the RDD, passing the reducing function as the first argument. The reducing function has two inputs and returns an output of the same type.

In the example below, an RDD is created in which the frequency of occurrence of each letter is calculated:  
```python
# Create RDD with key-value pairs
rdd = sc.parallelize(['a', 'b', 'c', 'a', 'b', 'a', 'd', 'b', 'c'])

# Create key-value pairs
key_value_rdd = rdd.map(lambda x: (x, 1))

# Aggregate keys by values
sums_rdd = key_value_rdd.reduceByKey(lambda a, b: a + b)

# Print the result
print(sums_rdd.collect())


```
In the result, all occurrences are summed up by key:


```python
[('a', 3), ('b', 3), ('c', 2), ('d', 1)]

```

### reduceByKey comparison with groupByKey

The reduceByKey() and groupByKey() functions are both used for aggregation in Spark. However, there are differences between the two functions:

groupByKey(): aggregates all the values for a given key into a given list and returns the keys and their associated values. It groups all the values associated with a key into a single iterable object (for example, a list) and returns this object with the keys. If the input RDD is very large, the groupByKey() operation may cause memory problems, since it puts all values into a single list.

reduceByKey(): Collect the values associated with the given keys and then apply the reduce() function to all the values assigned to the key. It then returns an RDD containing the keys and the aggregated values. The reduceByKey() operation allows Spark to pre-aggregate the data by key during partitioning, thus reducing communication between partitions and the memory required.

So the main difference is that reduceByKey() pre-partitions the data before aggregation and reduces memory requirements, whereas groupByKey() stores all values in a single list, which can cause memory problems for large amounts of data. In addition, reduceByKey() may be more efficient if the function used for aggregation is computationally intensive.

In [25]:
# Use Map-reduceByKey to count how many people travelled in which class?

class_travelers = titanic_rdd.filter(lambda row: row[2] != None) \
                             .map(lambda x: (x[2],1)) \
                             .reduceByKey(lambda a, b: a + b) \
                             .collect()

print(class_travelers)

[(3, 491), (1, 216), (2, 184)]

In [26]:
# Use Map-groupByKey to count how many people travelled in which class?

class_travelers = titanic_rdd.filter(lambda row: row[2] != None) \
                             .map(lambda x: (x[2],1)) \
                             .groupByKey().mapValues(sum) \
                             .collect()

print(class_travelers)

[(3, 491), (1, 216), (2, 184)]

## Practice

In [29]:
# Partition the titanic dataset into 15 partitions, then partition it back into 1 partition. 

# At the end, ask how many particles it consists of. 

fifteen_part_rdd = titanic_rdd.repartition(15).repartition(1)

fifteen_part_rdd.getNumPartitions()

1

In [31]:
# Please describe the different passenger classes without repeating

titanic_rdd.map(lambda x: x[2]) \
           .distinct() \
           .foreach(print)

In [32]:
# Please describe men and women separately and then combine the two RDDs with a union function.

male_rdd = titanic_rdd.filter(lambda row: row[4] == "male")
female_rdd = titanic_rdd.filter(lambda row: row[4] == "female")

male_and_female = female_rdd.union(male_rdd)

print(male_and_female.collect())

[Row(PassengerId=2, Survived=1, Pclass=1, Name='Cumings, Mrs. John Bradley (Florence Briggs Thayer)', Sex='female', Age=38.0, SibSp=1, Parch=0, Ticket='PC 17599', Fare=71.2833, Cabin='C85', Embarked='C'), Row(PassengerId=3, Survived=1, Pclass=3, Name='Heikkinen, Miss. Laina', Sex='female', Age=26.0, SibSp=0, Parch=0, Ticket='STON/O2. 3101282', Fare=7.925, Cabin=None, Embarked='S'), Row(PassengerId=4, Survived=1, Pclass=1, Name='Futrelle, Mrs. Jacques Heath (Lily May Peel)', Sex='female', Age=35.0, SibSp=1, Parch=0, Ticket='113803', Fare=53.1, Cabin='C123', Embarked='S'), Row(PassengerId=9, Survived=1, Pclass=3, Name='Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)', Sex='female', Age=27.0, SibSp=0, Parch=2, Ticket='347742', Fare=11.1333, Cabin=None, Embarked='S'), Row(PassengerId=10, Survived=1, Pclass=2, Name='Nasser, Mrs. Nicholas (Adele Achem)', Sex='female', Age=14.0, SibSp=1, Parch=0, Ticket='237736', Fare=30.0708, Cabin=None, Embarked='C'), Row(PassengerId=11, Survived=1, Pclass=3, Name='Sandstrom, Miss. Marguerite Rut', Sex='female', Age=4.0, SibSp=1, Parch=1, Ticket='PP 9549', Fare=16.7, Cabin='G6', Embarked='S'), Row(PassengerId=12, Survived=1, Pclass=1, Name='Bonnell, Miss. Elizabeth', Sex='female', Age=58.0, SibSp=0, Parch=0, Ticket='113783', Fare=26.55, Cabin='C103', Embarked='S'), Row(PassengerId=15, Survived=0, Pclass=3, Name='Vestrom, Miss. Hulda Amanda Adolfina', Sex='female', Age=14.0, SibSp=0, Parch=0, Ticket='350406', Fare=7.8542, Cabin=None, Embarked='S'), Row(PassengerId=16, Survived=1, Pclass=2, Name='Hewlett, Mrs. (Mary D Kingcome) ', Sex='female', Age=55.0, SibSp=0, Parch=0, Ticket='248706', Fare=16.0, Cabin=None, Embarked='S'), Row(PassengerId=19, Survived=0, Pclass=3, Name='Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)', Sex='female', Age=31.0, SibSp=1, Parch=0, Ticket='345763', Fare=18.0, Cabin=None, Embarked='S'), Row(PassengerId=20, Survived=1, Pclass=3, Name='Masselmani, Mrs. Fatima', Sex='female', Age=None, SibSp=0, Parch=0, Ticket='2649', Fare=7.225, Cabin=None, Embarked='C'), Row(PassengerId=23, Survived=1, Pclass=3, Name='"McGowan, Miss. Anna ""Annie"""', Sex='female', Age=15.0, SibSp=0, Parch=0, Ticket='330923', Fare=8.0292, Cabin=None, Embarked='Q'), Row(PassengerId=25, Survived=0, Pclass=3, Name='Palsson, Miss. Torborg Danira', Sex='female', Age=8.0, SibSp=3, Parch=1, Ticket='349909', Fare=21.075, Cabin=None, Embarked='S'), Row(PassengerId=26, Survived=1, Pclass=3, Name='Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)', Sex='female', Age=38.0, SibSp=1, Parch=5, Ticket='347077', Fare=31.3875, Cabin=None, Embarked='S'), Row(PassengerId=29, Survived=1, Pclass=3, Name='"O\'Dwyer, Miss. Ellen ""Nellie"""', Sex='female', Age=None, SibSp=0, Parch=0, Ticket='330959', Fare=7.8792, Cabin=None, Embarked='Q'), Row(PassengerId=32, Survived=1, Pclass=1, Name='Spencer, Mrs. William Augustus (Marie Eugenie)', Sex='female', Age=None, SibSp=1, Parch=0, Ticket='PC 17569', Fare=146.5208, Cabin='B78', Embarked='C'), Row(PassengerId=33, Survived=1, Pclass=3, Name='Glynn, Miss. Mary Agatha', Sex='female', Age=None, SibSp=0, Parch=0, Ticket='335677', Fare=7.75, Cabin=None, Embarked='Q'), Row(PassengerId=39, Survived=0, Pclass=3, Name='Vander Planke, Miss. Augusta Maria', Sex='female', Age=18.0, SibSp=2, Parch=0, Ticket='345764', Fare=18.0, Cabin=None, Embarked='S'), Row(PassengerId=40, Survived=1, Pclass=3, Name='Nicola-Yarred, Miss. Jamila', Sex='female', Age=14.0, SibSp=1, Parch=0, Ticket='2651', Fare=11.2417, Cabin=None, Embarked='C'), Row(PassengerId=41, Survived=0, Pclass=3, Name='Ahlin, Mrs. Johan (Johanna Persdotter Larsson)', Sex='female', Age=40.0, SibSp=1, Parch=0, Ticket='7546', Fare=9.475, Cabin=None, Embarked='S'), Row(PassengerId=42, Survived=0, Pclass=2, Name='Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)', Sex='female', Age=27.0, SibSp=1, Parch=0, Ticket='11668', Fare=21.0, Cabin=None, Embarked='S'), Row(PassengerId=44, Survived=1, Pclass=2, Name='Laroche, Miss. Simonne Marie Anne Andree', Sex='female', Age=3.0, SibSp=1, Parch=2, Ticket='SC/Paris 2123', Fare=41.5792, Cabin=None, Embarked='C'), Row(PassengerId=45, Survived=1, Pclass=3, Name='Devaney, Miss. Margaret Delia', Sex='female', Age=19.0, SibSp=0, Parch=0, Ticket='330958', Fare=7.8792, Cabin=None, Embarked='Q'), Row(PassengerId=48, Survived=1, Pclass=3, Name="O'Driscoll, Miss. Bridget", Sex='female', Age=None, SibSp=0, Parch=0, Ticket='14311', Fare=7.75, Cabin=None, Embarked='Q'), Row(PassengerId=50, Survived=0, Pclass=3, Name='Arnold-Franchi, Mrs. Josef (Josefine Franchi)', Sex='female', Age=18.0, SibSp=1, Parch=0, Ticket='349237', Fare=17.8, Cabin=None, Embarked='S'), Row(PassengerId=53, Survived=1, Pclass=1, Name='Harper, Mrs. Henry Sleeper (Myna Haxtun)', Sex='female', Age=49.0, SibSp=1, Parch=0, Ticket='PC 17572', Fare=76.7292, Cabin='D33', Embarked='C'), Row(PassengerId=54, Survived=1, Pclass=2, Name='Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)', Sex='female', Age=29.0, SibSp=1, Parch=0, Ticket='2926', Fare=26.0, Cabin=None, Embarked='S'), Row(PassengerId=57, Survived=1, Pclass=2, Name='Rugg, Miss. Emily', Sex='female', Age=21.0, SibSp=0, Parch=0, Ticket='C.A. 31026', Fare=10.5, Cabin=None, Embarked='S'), Row(PassengerId=59, Survived=1, Pclass=2, Name='West, Miss. Constance Mirium', Sex='female', Age=5.0, SibSp=1, Parch=2, Ticket='C.A. 34651', Fare=27.75, Cabin=None, Embarked='S'), Row(PassengerId=62, Survived=1, Pclass=1, Name='Icard, Miss. Amelie', Sex='female', Age=38.0, SibSp=0, Parch=0, Ticket='113572', Fare=80.0, Cabin='B28', Embarked=None), Row(PassengerId=67, Survived=1, Pclass=2, Name='Nye, Mrs. (Elizabeth Ramell)', Sex='female', Age=29.0, SibSp=0, Parch=0, Ticket='C.A. 29395', Fare=10.5, Cabin='F33', Embarked='S'), Row(PassengerId=69, Survived=1, Pclass=3, Name='Andersson, Miss. Erna Alexandra', Sex='female', Age=17.0, SibSp=4, Parch=2, Ticket='3101281', Fare=7.925, Cabin=None, Embarked='S'), Row(PassengerId=72, Survived=0, Pclass=3, Name='Goodwin, Miss. Lillian Amy', Sex='female', Age=16.0, SibSp=5, Parch=2, Ticket='CA 2144', Fare=46.9, Cabin=None, Embarked='S'), Row(PassengerId=80, Survived=1, Pclass=3, Name='Dowdell, Miss. Elizabeth', Sex='female', Age=30.0, SibSp=0, Parch=0, Ticket='364516', Fare=12.475, Cabin=None, Embarked='S'), Row(PassengerId=83, Survived=1, Pclass=3, Name='McDermott, Miss. Brigdet Delia', Sex='female', Age=None, SibSp=0, Parch=0, Ticket='330932', Fare=7.7875, Cabin=None, Embarked='Q'), Row(PassengerId=85, Survived=1, Pclass=2, Name='Ilett, Miss. Bertha', Sex='female', Age=17.0, SibSp=0, Parch=0, Ticket='SO/C 14885', Fare=10.5, Cabin=None, Embarked='S'), Row(PassengerId=86, Survived=1, Pclass=3, Name='Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)', Sex='female', Age=33.0, SibSp=3, Parch=0, Ticket='3101278', Fare=15.85, Cabin=None, Embarked='S'), Row(PassengerId=89, Survived=1, Pclass=1, Name='Fortune, Miss. Mabel Helen', Sex='female', Age=23.0, SibSp=3, Parch=2, Ticket='19950', Fare=263.0, Cabin='C23 C25 C27', Embarked='S'), Row(PassengerId=99, Survived=1, Pclass=2, Name='Doling, Mrs. John T (Ada Julia Bone)', Sex='female', Age=34.0, SibSp=0, Parch=1, Ticket='231919', Fare=23.0, Cabin=None, Embarked='S'), Row(PassengerId=101, Survived=0, Pclass=3, Name='Petranec, Miss. Matilda', Sex='female', Age=28.0, SibSp=0, Parch=0, Ticket='349245', Fare=7.8958, Cabin=None, Embarked='S'), Row(PassengerId=107, Survived=1, Pclass=3, Name='Salkjelsvik, Miss. Anna Kristine', Sex='female', Age=21.0, SibSp=0, Parch=0, Ticket='343120', Fare=7.65, Cabin=None, Embarked='S'), Row(PassengerId=110, Survived=1, Pclass=3, Name='Moran, Miss. Bertha', Sex='female', Age=None, SibSp=1, Parch=0, Ticket='371110', Fare=24.15, Cabin=None, Embarked='Q'), Row(PassengerId=112, Survived=0, Pclass=3, Name='Zabour, Miss. Hileni', Sex='female', Age=14.5, SibSp=1, Parch=0, Ticket='2665', Fare=14.4542, Cabin=None, Embarked='C'), Row(PassengerId=114, Survived=0, Pclass=3, Name='Jussila, Miss. Katriina', Sex='female', Age=20.0, SibSp=1, Parch=0, Ticket='4136', Fare=9.825, Cabin=None, Embarked='S'), Row(PassengerId=115, Survived=0, Pclass=3, Name='Attalah, Miss. Malake', Sex='female', Age=17.0, SibSp=0, Parch=0, Ticket='2627', Fare=14.4583, Cabin=None, Embarked='C'), Row(PassengerId=120, Survived=0, Pclass=3, Name='Andersson, Miss. Ellis Anna Maria', Sex='female', Age=2.0, SibSp=4, Parch=2, Ticket='347082', Fare=31.275, Cabin=None, Embarked='S'), Row(PassengerId=124, Survived=1, Pclass=2, Name='Webber, Miss. Susan', Sex='female', Age=32.5, SibSp=0, Parch=0, Ticket='27267', Fare=13.0, Cabin='E101', Embarked='S'), Row(PassengerId=129, Survived=1, Pclass=3, Name='Peter, Miss. Anna', Sex='female', Age=None, SibSp=1, Parch=1, Ticket='2668', Fare=22.3583, Cabin='F E69', Embarked='C'), Row(PassengerId=133, Survived=0, Pclass=3, Name='Robins, Mrs. Alexander A (Grace Charity Laury)', Sex='female', Age=47.0, SibSp=1, Parch=0, Ticket='A/5. 3337', Fare=14.5, Cabin=None, Embarked='S'), Row(PassengerId=134, Survived=1, Pclass=2, Name='Weisz, Mrs. Leopold (Mathilde Francoise Pede)', Sex='female', Age=29.0, SibSp=1, Parch=0, Ticket='228414', Fare=26.0, Cabin=None, Embarked='S'), Row(PassengerId=137, Survived=1, Pclass=1, Name='Newsom, Miss. Helen Monypeny', Sex='female', Age=19.0, SibSp=0, Parch=2, Ticket='11752', Fare=26.2833, Cabin='D47', Embarked='S'), Row(PassengerId=141, Survived=0, Pclass=3, Name='Boulos, Mrs. Joseph (Sultana)', Sex='female', Age=None, SibSp=0, Parch=2, Ticket='2678', Fare=15.2458, Cabin=None, Embarked='C'), Row(PassengerId=142, Survived=1, Pclass=3, Name='Nysten, Miss. Anna Sofia', Sex='female', Age=22.0, SibSp=0, Parch=0, Ticket='347081', Fare=7.75, Cabin=None, Embarked='S'), Row(PassengerId=143, Survived=1, Pclass=3, Name='Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck)', Sex='female', Age=24.0, SibSp=1, Parch=0, Ticket='STON/O2. 3101279', Fare=15.85, Cabin=None, Embarked='S'), Row(PassengerId=148, Survived=0, Pclass=3, Name='"Ford, Miss. Robina Maggie ""Ruby"""', Sex='female', Age=9.0, SibSp=2, Parch=2, Ticket='W./C. 6608', Fare=34.375, Cabin=None, Embarked='S'), Row(PassengerId=152, Survived=1, Pclass=1, Name='Pears, Mrs. Thomas (Edith Wearne)', Sex='female', Age=22.0, SibSp=1, Parch=0, Ticket='113776', Fare=66.6, Cabin='C2', Embarked='S'), Row(PassengerId=157, Survived=1, Pclass=3, Name='"Gilnagh, Miss. Katherine ""Katie"""', Sex='female', Age=16.0, SibSp=0, Parch=0, Ticket='35851', Fare=7.7333, Cabin=None, Embarked='Q'), Row(PassengerId=162, Survived=1, Pclass=2, Name='"Watt, Mrs. James (Elizabeth ""Bessie"" Inglis Milne)"', Sex='female', Age=40.0, SibSp=0, Parch=0, Ticket='C.A. 33595', Fare=15.75, Cabin=None, Embarked='S'), Row(PassengerId=167, Survived=1, Pclass=1, Name='Chibnall, Mrs. (Edith Martha Bowerman)', Sex='female', Age=None, SibSp=0, Parch=1, Ticket='113505', Fare=55.0, Cabin='E33', Embarked='S'), Row(PassengerId=168, Survived=0, Pclass=3, Name='Skoog, Mrs. William (Anna Bernhardina Karlsson)', Sex='female', Age=45.0, SibSp=1, Parch=4, Ticket='347088', Fare=27.9, Cabin=None, Embarked='S'), Row(PassengerId=173, Survived=1, Pclass=3, Name='Johnson, Miss. Eleanor Ileen', Sex='female', Age=1.0, SibSp=1, Parch=1, Ticket='347742', Fare=11.1333, Cabin=None, Embarked='S'), Row(PassengerId=178, Survived=0, Pclass=1, Name='Isham, Miss. Ann Elizabeth', Sex='female', Age=50.0, SibSp=0, Parch=0, Ticket='PC 17595', Fare=28.7125, Cabin='C49', Embarked='C'), Row(PassengerId=181, Survived=0, Pclass=3, Name='Sage, Miss. Constance Gladys', Sex='female', Age=None, SibSp=8, Parch=2, Ticket='CA. 2343', Fare=69.55, Cabin=None, Embarked='S'), Row(PassengerId=185, Survived=1, Pclass=3, Name='Kink-Heilmann, Miss. Luise Gretchen', Sex='female', Age=4.0, SibSp=0, Parch=2, Ticket='315153', Fare=22.025, Cabin=None, Embarked='S'), Row(PassengerId=187, Survived=1, Pclass=3, Name='"O\'Brien, Mrs. Thomas (Johanna ""Hannah"" Godfrey)"', Sex='female', Age=None, SibSp=1, Parch=0, Ticket='370365', Fare=15.5, Cabin=None, Embarked='Q'), Row(PassengerId=191, Survived=1, Pclass=2, Name='Pinsky, Mrs. (Rosa)', Sex='female', Age=32.0, SibSp=0, Parch=0, Ticket='234604', Fare=13.0, Cabin=None, Embarked='S'), Row(PassengerId=193, Survived=1, Pclass=3, Name='Andersen-Jensen, Miss. Carla Christine Nielsine', Sex='female', Age=19.0, SibSp=1, Parch=0, Ticket='350046', Fare=7.8542, Cabin=None, Embarked='S'), Row(PassengerId=195, Survived=1, Pclass=1, Name='Brown, Mrs. James Joseph (Margaret Tobin)', Sex='female', Age=44.0, SibSp=0, Parch=0, Ticket='PC 17610', Fare=27.7208, Cabin='B4', Embarked='C'), Row(PassengerId=196, Survived=1, Pclass=1, Name='Lurette, Miss. Elise', Sex='female', Age=58.0, SibSp=0, Parch=0, Ticket='PC 17569', Fare=146.5208, Cabin='B80', Embarked='C'), Row(PassengerId=199, Survived=1, Pclass=3, Name='"Madigan, Miss. Margaret ""Maggie"""', Sex='female', Age=None, SibSp=0, Parch=0, Ticket='370370', Fare=7.75, Cabin=None, Embarked='Q'), Row(PassengerId=200, Survived=0, Pclass=2, Name='"Yrois, Miss. Henriette (""Mrs Harbeck"")"', Sex='female', Age=24.0, SibSp=0, Parch=0, Ticket='248747', Fare=13.0, Cabin=None, Embarked='S'), Row(PassengerId=206, Survived=0, Pclass=3, Name='Strom, Miss. Telma Matilda', Sex='female', Age=2.0, SibSp=0, Parch=1, Ticket='347054', Fare=10.4625, Cabin='G6', Embarked='S'), Row(PassengerId=209, Survived=1, Pclass=3, Name='"Carr, Miss. Helen ""Ellen"""', Sex='female', Age=16.0, SibSp=0, Parch=0, Ticket='367231', Fare=7.75, Cabin=None, Embarked='Q'), Row(PassengerId=212, Survived=1, Pclass=2, Name='Cameron, Miss. Clear Annie', Sex='female', Age=35.0, SibSp=0, Parch=0, Ticket='F.C.C. 13528', Fare=21.0, Cabin=None, Embarked='S'), Row(PassengerId=216, Survived=1, Pclass=1, Name='Newell, Miss. Madeleine', Sex='female', Age=31.0, SibSp=1, Parch=0, Ticket='35273', Fare=113.275, Cabin='D36', Embarked='C'), Row(PassengerId=217, Survived=1, Pclass=3, Name='Honkanen, Miss. Eliina', Sex='female', Age=27.0, SibSp=0, Parch=0, Ticket='STON/O2. 3101283', Fare=7.925, Cabin=None, Embarked='S'), Row(PassengerId=219, Survived=1, Pclass=1, Name='Bazzani, Miss. Albina', Sex='female', Age=32.0, SibSp=0, Parch=0, Ticket='11813', Fare=76.2917, Cabin='D15', Embarked='C'), Row(PassengerId=230, Survived=0, Pclass=3, Name='Lefebre, Miss. Mathilde', Sex='female', Age=None, SibSp=3, Parch=1, Ticket='4133', Fare=25.4667, Cabin=None, Embarked='S'), Row(PassengerId=231, Survived=1, Pclass=1, Name='Harris, Mrs. Henry Birkhardt (Irene Wallach)', Sex='female', Age=35.0, SibSp=1, Parch=0, Ticket='36973', Fare=83.475, Cabin='C83', Embarked='S'), Row(PassengerId=234, Survived=1, Pclass=3, Name='Asplund, Miss. Lillian Gertrud', Sex='female', Age=5.0, SibSp=4, Parch=2, Ticket='347077', Fare=31.3875, Cabin=None, Embarked='S'), Row(PassengerId=236, Survived=0, Pclass=3, Name='Harknett, Miss. Alice Phoebe', Sex='female', Age=None, SibSp=0, Parch=0, Ticket='W./C. 6609', Fare=7.55, Cabin=None, Embarked='S'), Row(PassengerId=238, Survived=1, Pclass=2, Name='"Collyer, Miss. Marjorie ""Lottie"""', Sex='female', Age=8.0, SibSp=0, Parch=2, Ticket='C.A. 31921', Fare=26.25, Cabin=None, Embarked='S'), Row(PassengerId=241, Survived=0, Pclass=3, Name='Zabour, Miss. Thamine', Sex='female', Age=None, SibSp=1, Parch=0, Ticket='2665', Fare=14.4542, Cabin=None, Embarked='C'), Row(PassengerId=242, Survived=1, Pclass=3, Name='"Murphy, Miss. Katherine ""Kate"""', Sex='female', Age=None, SibSp=1, Parch=0, Ticket='367230', Fare=15.5, Cabin=None, Embarked='Q'), Row(PassengerId=247, Survived=0, Pclass=3, Name='Lindahl, Miss. Agda Thorilda Viktoria', Sex='female', Age=25.0, SibSp=0, Parch=0, Ticket='347071', Fare=7.775, Cabin=None, Embarked='S'), Row(PassengerId=248, Survived=1, Pclass=2, Name='Hamalainen, Mrs. William (Anna)', Sex='female', Age=24.0, SibSp=0, Parch=2, Ticket='250649', Fare=14.5, Cabin=None, Embarked='S'), Row(PassengerId=252, Survived=0, Pclass=3, Name='Strom, Mrs. Wilhelm (Elna Matilda Persson)', Sex='female', Age=29.0, SibSp=1, Parch=1, Ticket='347054', Fare=10.4625, Cabin='G6', Embarked='S'), Row(PassengerId=255, Survived=0, Pclass=3, Name='Rosblom, Mrs. Viktor (Helena Wilhelmina)', Sex='female', Age=41.0, SibSp=0, Parch=2, Ticket='370129', Fare=20.2125, Cabin=None, Embarked='S'), Row(PassengerId=256, Survived=1, Pclass=3, Name='Touma, Mrs. Darwis (Hanne Youssef Razi)', Sex='female', Age=29.0, SibSp=0, Parch=2, Ticket='2650', Fare=15.2458, Cabin=None, Embarked='C'), Row(PassengerId=257, Survived=1, Pclass=1, Name='Thorne, Mrs. Gertrude Maybelle', Sex='female', Age=None, SibSp=0, Parch=0, Ticket='PC 17585', Fare=79.2, Cabin=None, Embarked='C'), Row(PassengerId=258, Survived=1, Pclass=1, Name='Cherry, Miss. Gladys', Sex='female', Age=30.0, SibSp=0, Parch=0, Ticket='110152', Fare=86.5, Cabin='B77', Embarked='S'), Row(PassengerId=259, Survived=1, Pclass=1, Name='Ward, Miss. Anna', Sex='female', Age=35.0, SibSp=0, Parch=0, Ticket='PC 17755', Fare=512.3292, Cabin=None, Embarked='C'), Row(PassengerId=260, Survived=1, Pclass=2, Name='Parrish, Mrs. (Lutie Davis)', Sex='female', Age=50.0, SibSp=0, Parch=1, Ticket='230433', Fare=26.0, Cabin=None, Embarked='S'), Row(PassengerId=265, Survived=0, Pclass=3, Name='Henry, Miss. Delia', Sex='female', Age=None, SibSp=0, Parch=0, Ticket='382649', Fare=7.75, Cabin=None, Embarked='Q'), Row(PassengerId=269, Survived=1, Pclass=1, Name='Graham, Mrs. William Thompson (Edith Junkins)', Sex='female', Age=58.0, SibSp=0, Parch=1, Ticket='PC 17582', Fare=153.4625, Cabin='C125', Embarked='S'), Row(PassengerId=270, Survived=1, Pclass=1, Name='Bissette, Miss. Amelia', Sex='female', Age=35.0, SibSp=0, Parch=0, Ticket='PC 17760', Fare=135.6333, Cabin='C99', Embarked='S'), Row(PassengerId=273, Survived=1, Pclass=2, Name='Mellinger, Mrs. (Elizabeth Anne Maidment)', Sex='female', Age=41.0, SibSp=0, Parch=1, Ticket='250644', Fare=19.5, Cabin=None, Embarked='S'), Row(PassengerId=275, Survived=1, Pclass=3, Name='"Healy, Miss. Hanora ""Nora"""', Sex='female', Age=None, SibSp=0, Parch=0, Ticket='370375', Fare=7.75, Cabin=None, Embarked='Q'), Row(PassengerId=276, Survived=1, Pclass=1, Name='Andrews, Miss. Kornelia Theodosia', Sex='female', Age=63.0, SibSp=1, Parch=0, Ticket='13502', Fare=77.9583, Cabin='D7', Embarked='S'), Row(PassengerId=277, Survived=0, Pclass=3, Name='Lindblom, Miss. Augusta Charlotta', Sex='female', Age=45.0, SibSp=0, Parch=0, Ticket='347073', Fare=7.75, Cabin=None, Embarked='S'), Row(PassengerId=280, Survived=1, Pclass=3, Name='Abbott, Mrs. Stanton (Rosa Hunt)', Sex='female', Age=35.0, SibSp=1, Parch=1, Ticket='C.A. 2673', Fare=20.25, Cabin=None, Embarked='S'), Row(PassengerId=290, Survived=1, Pclass=3, Name='Connolly, Miss. Kate', Sex='female', Age=22.0, SibSp=0, Parch=0, Ticket='370373', Fare=7.75, Cabin=None, Embarked='Q'), Row(PassengerId=291, Survived=1, Pclass=1, Name='"Barber, Miss. Ellen ""Nellie"""', Sex='female', Age=26.0, SibSp=0, Parch=0, Ticket='19877', Fare=78.85, Cabin=None, Embarked='S'), Row(PassengerId=292, Survived=1, Pclass=1, Name='Bishop, Mrs. Dickinson H (Helen Walton)', Sex='female', Age=19.0, SibSp=1, Parch=0, Ticket='11967', Fare=91.0792, Cabin='B49', Embarked='C'), Row(PassengerId=294, Survived=0, Pclass=3, Name='Haas, Miss. Aloisia', Sex='female', Age=24.0, SibSp=0, Parch=0, Ticket='349236', Fare=8.85, Cabin=None, Embarked='S'), Row(PassengerId=298, Survived=0, Pclass=1, Name='Allison, Miss. Helen Loraine', Sex='female', Age=2.0, SibSp=1, Parch=2, Ticket='113781', Fare=151.55, Cabin='C22 C26', Embarked='S'), Row(PassengerId=300, Survived=1, Pclass=1, Name='Baxter, Mrs. James (Helene DeLaudeniere Chaput)', Sex='female', Age=50.0, SibSp=0, Parch=1, Ticket='PC 17558', Fare=247.5208, Cabin='B58 B60', Embarked='C'), Row(PassengerId=301, Survived=1, Pclass=3, Name='"Kelly, Miss. Anna Katherine ""Annie Kate"""', Sex='female', Age=None, SibSp=0, Parch=0, Ticket='9234', Fare=7.75, Cabin=None, Embarked='Q'), Row(PassengerId=304, Survived=1, Pclass=2, Name='Keane, Miss. Nora A', Sex='female', Age=None, SibSp=0, Parch=0, Ticket='226593', Fare=12.35, Cabin='E101', Embarked

In [33]:
# Use Map-reduceByKey to count how many people travelled in which class?

class_travelers = titanic_rdd.filter(lambda row: row[2] != None) \
                             .map(lambda x: (x[2],1)) \
                             .reduceByKey(lambda a, b: a + b  ) \
                             .collect()

print(class_travelers)

[(3, 491), (1, 216), (2, 184)]

## PySpark Dataframe API

The PySpark DataFrame is a structured data store representing a table of data consisting of columns, similar to the Pandas DataFrame. DataFrames have several advantages over RDDs, such as structured data management, faster operations, and support for Python Pandas-like language elements.

The PySpark DataFrame API provides various functions for manipulating data, including:

- Loading and saving data: the DataFrame API provides a number of functions for loading and saving data from various data sources such as CSV, JSON, Parquet, avro, etc. For example: spark.read.csv(), spark.write.parquet().

 - Data transformations: The DataFrame API allows you to transform data using standard SQL operations such as SELECT, WHERE, GROUP BY, JOIN, UNION, etc. For example: df.select(), df.filter(), df.groupBy(), df.join().

- Aggregation and Aggregation: The DataFrame API allows aggregation and aggregation of data using various methods such as agg() and groupBy(). For example: df.groupBy().agg()

- Data handling and processing: The DataFrame API allows data handling and processing, such as handling missing data, renaming columns, converting column type, etc. For example: df.na.fill(), df.withColumnRenamed(), df.withColumn()

- Window functions: the DataFrame API allows you to sort and aggregate data into windows using the window() function.

The DataFrame API provides additional functions, such as PySpark SQL functions. The PySpark DataFrame API can be explored in detail in the official PySpark documentation.

In [35]:
#Read our source file

titanic_df = spark.read.format("parquet").load("titanic_parquet")

### select function

The select() method is one of the data transformations that can be used in the PySpark DataFrame API to select or rename the columns of a given DataFrame.

The select() method can be used to select multiple columns at once:

```python
titanic_df.select("name", "age").show()
```

The select() method can also be used to rename columns:
```python
titanic_df.select(df["name"], df["age"].alias("years")).show()
```

In [36]:
# Please deselect the Survived and Name columns

selected = titanic_df.select("Survived", "Name")
selected.show()

+--------+--------------------+
|Survived|                Name|
+--------+--------------------+
|       0|Braund, Mr. Owen ...|
|       1|Cumings, Mrs. Joh...|
|       1|Heikkinen, Miss. ...|
|       1|Futrelle, Mrs. Ja...|
|       0|Allen, Mr. Willia...|
|       0|    Moran, Mr. James|
|       0|McCarthy, Mr. Tim...|
|       0|Palsson, Master. ...|
|       1|Johnson, Mrs. Osc...|
|       1|Nasser, Mrs. Nich...|
|       1|Sandstrom, Miss. ...|
|       1|Bonnell, Miss. El...|
|       0|Saundercock, Mr. ...|
|       0|Andersson, Mr. An...|
|       0|Vestrom, Miss. Hu...|
|       1|Hewlett, Mrs. (Ma...|
|       0|Rice, Master. Eugene|
|       1|Williams, Mr. Cha...|
|       0|Vander Planke, Mr...|
|       1|Masselmani, Mrs. ...|
+--------+--------------------+
only showing top 20 rows

In [37]:
# Please describe those who survived and their names where the name includes "Mrs."
selected = titanic_df.select("Survived", "Name") \
                     .filter(titanic_df.Survived == 1) \
                     .filter(titanic_df.Name.contains("Mrs"))
selected.show()

+--------+--------------------+
|Survived|                Name|
+--------+--------------------+
|       1|Cumings, Mrs. Joh...|
|       1|Futrelle, Mrs. Ja...|
|       1|Johnson, Mrs. Osc...|
|       1|Nasser, Mrs. Nich...|
|       1|Hewlett, Mrs. (Ma...|
|       1|Masselmani, Mrs. ...|
|       1|Asplund, Mrs. Car...|
|       1|Spencer, Mrs. Wil...|
|       1|Harper, Mrs. Henr...|
|       1|Faunthorpe, Mrs. ...|
|       1|Nye, Mrs. (Elizab...|
|       1|Backstrom, Mrs. K...|
|       1|Doling, Mrs. John...|
|       1|Weisz, Mrs. Leopo...|
|       1|Hakkarainen, Mrs....|
|       1|Pears, Mrs. Thoma...|
|       1|"Watt, Mrs. James...|
|       1|Chibnall, Mrs. (E...|
|       1|"O'Brien, Mrs. Th...|
|       1| Pinsky, Mrs. (Rosa)|
+--------+--------------------+
only showing top 20 rows

In [38]:
# Select and rename multiple columns with alias():
selected = titanic_df.select(titanic_df["Survived"].alias("is_alive"), titanic_df["Name"].alias("full_name"))
selected.show()

+--------+--------------------+
|is_alive|           full_name|
+--------+--------------------+
|       0|Braund, Mr. Owen ...|
|       1|Cumings, Mrs. Joh...|
|       1|Heikkinen, Miss. ...|
|       1|Futrelle, Mrs. Ja...|
|       0|Allen, Mr. Willia...|
|       0|    Moran, Mr. James|
|       0|McCarthy, Mr. Tim...|
|       0|Palsson, Master. ...|
|       1|Johnson, Mrs. Osc...|
|       1|Nasser, Mrs. Nich...|
|       1|Sandstrom, Miss. ...|
|       1|Bonnell, Miss. El...|
|       0|Saundercock, Mr. ...|
|       0|Andersson, Mr. An...|
|       0|Vestrom, Miss. Hu...|
|       1|Hewlett, Mrs. (Ma...|
|       0|Rice, Master. Eugene|
|       1|Williams, Mr. Cha...|
|       0|Vander Planke, Mr...|
|       1|Masselmani, Mrs. ...|
+--------+--------------------+
only showing top 20 rows

Columns can also be referenced using the col function, but first you need to import

In [39]:
from pyspark.sql.functions import col

In [40]:
# Let's select the names and ages of all passengers:

titanic_df.select(col("Name"), col("Age")).show()

+--------------------+----+
|                Name| Age|
+--------------------+----+
|Braund, Mr. Owen ...|22.0|
|Cumings, Mrs. Joh...|38.0|
|Heikkinen, Miss. ...|26.0|
|Futrelle, Mrs. Ja...|35.0|
|Allen, Mr. Willia...|35.0|
|    Moran, Mr. James|null|
|McCarthy, Mr. Tim...|54.0|
|Palsson, Master. ...| 2.0|
|Johnson, Mrs. Osc...|27.0|
|Nasser, Mrs. Nich...|14.0|
|Sandstrom, Miss. ...| 4.0|
|Bonnell, Miss. El...|58.0|
|Saundercock, Mr. ...|20.0|
|Andersson, Mr. An...|39.0|
|Vestrom, Miss. Hu...|14.0|
|Hewlett, Mrs. (Ma...|55.0|
|Rice, Master. Eugene| 2.0|
|Williams, Mr. Cha...|null|
|Vander Planke, Mr...|31.0|
|Masselmani, Mrs. ...|null|
+--------------------+----+
only showing top 20 rows

In [41]:
#Let's select the names, ages and embarkation dates of all passengers:

titanic_df.select(col("Name"), col("Age"), col("Embarked")).show()

+--------------------+----+--------+
|                Name| Age|Embarked|
+--------------------+----+--------+
|Braund, Mr. Owen ...|22.0|       S|
|Cumings, Mrs. Joh...|38.0|       C|
|Heikkinen, Miss. ...|26.0|       S|
|Futrelle, Mrs. Ja...|35.0|       S|
|Allen, Mr. Willia...|35.0|       S|
|    Moran, Mr. James|null|       Q|
|McCarthy, Mr. Tim...|54.0|       S|
|Palsson, Master. ...| 2.0|       S|
|Johnson, Mrs. Osc...|27.0|       S|
|Nasser, Mrs. Nich...|14.0|       C|
|Sandstrom, Miss. ...| 4.0|       S|
|Bonnell, Miss. El...|58.0|       S|
|Saundercock, Mr. ...|20.0|       S|
|Andersson, Mr. An...|39.0|       S|
|Vestrom, Miss. Hu...|14.0|       S|
|Hewlett, Mrs. (Ma...|55.0|       S|
|Rice, Master. Eugene| 2.0|       Q|
|Williams, Mr. Cha...|null|       S|
|Vander Planke, Mr...|31.0|       S|
|Masselmani, Mrs. ...|null|       C|
+--------------------+----+--------+
only showing top 20 rows

In [42]:
# Let's select the names of all passengers, their age and whether they survived the shipwreck:
titanic_df.select(col("Name"), col("Age"), col("Survived")).show()

+--------------------+----+--------+
|                Name| Age|Survived|
+--------------------+----+--------+
|Braund, Mr. Owen ...|22.0|       0|
|Cumings, Mrs. Joh...|38.0|       1|
|Heikkinen, Miss. ...|26.0|       1|
|Futrelle, Mrs. Ja...|35.0|       1|
|Allen, Mr. Willia...|35.0|       0|
|    Moran, Mr. James|null|       0|
|McCarthy, Mr. Tim...|54.0|       0|
|Palsson, Master. ...| 2.0|       0|
|Johnson, Mrs. Osc...|27.0|       1|
|Nasser, Mrs. Nich...|14.0|       1|
|Sandstrom, Miss. ...| 4.0|       1|
|Bonnell, Miss. El...|58.0|       1|
|Saundercock, Mr. ...|20.0|       0|
|Andersson, Mr. An...|39.0|       0|
|Vestrom, Miss. Hu...|14.0|       0|
|Hewlett, Mrs. (Ma...|55.0|       1|
|Rice, Master. Eugene| 2.0|       0|
|Williams, Mr. Cha...|null|       1|
|Vander Planke, Mr...|31.0|       0|
|Masselmani, Mrs. ...|null|       1|
+--------------------+----+--------+
only showing top 20 rows

The selectExpr() method allows you to use SQL-like expressions to select, transform and rename columns in a DataFrame.

Example of using selectExpr() on Titanic data:

```python
from pyspark.sql.functions import expr

# Create DataFrame
df = spark.read.format("csv").option("header", "true").load("titanic.csv")

# use selectExpr
df.selectExpr("Survived as label", "Age", "Fare", "Sex", "Embarked", "Pclass", "SibSp + Parch as FamilySize") \
  .show()


```

In this example, the Age, Fare, Sex, Embarked, Pclass columns are simply taken from the DataFrame, the SibSp and Parch columns are added together and renamed to the FamilySize column, and the Survived column is renamed to label.

When using selectExpr(), you can specify columns as space-separated strings and modify column names with SQL-like expressions. You can also use the expr() function to specify expressions.

In [43]:
# Name and ID of passengers with more than 5 siblings or spouses on board:

titanic_df.select("Name", "PassengerId", "SibSp").filter("SibSp > 5").show()

+--------------------+-----------+-----+
|                Name|PassengerId|SibSp|
+--------------------+-----------+-----+
|Sage, Master. Tho...|        160|    8|
|Sage, Miss. Const...|        181|    8|
| Sage, Mr. Frederick|        202|    8|
|Sage, Mr. George ...|        325|    8|
|Sage, Miss. Stell...|        793|    8|
|Sage, Mr. Douglas...|        847|    8|
|"Sage, Miss. Doro...|        864|    8|
+--------------------+-----------+-----+

In [44]:
#Name and age of passenger younger than 50 who bought the most expensive ticket:

from pyspark.sql.functions import desc

titanic_df.select("Name", "Age", "Fare").filter("Age < 50").orderBy(desc("Fare")).limit(1).show()

+----------------+----+--------+
|            Name| Age|    Fare|
+----------------+----+--------+
|Ward, Miss. Anna|35.0|512.3292|
+----------------+----+--------+

## Practice

In [45]:
# Please select the Survived and Name columns

selected = titanic_df.select("Survived", "Name")
selected.show()

+--------+--------------------+
|Survived|                Name|
+--------+--------------------+
|       0|Braund, Mr. Owen ...|
|       1|Cumings, Mrs. Joh...|
|       1|Heikkinen, Miss. ...|
|       1|Futrelle, Mrs. Ja...|
|       0|Allen, Mr. Willia...|
|       0|    Moran, Mr. James|
|       0|McCarthy, Mr. Tim...|
|       0|Palsson, Master. ...|
|       1|Johnson, Mrs. Osc...|
|       1|Nasser, Mrs. Nich...|
|       1|Sandstrom, Miss. ...|
|       1|Bonnell, Miss. El...|
|       0|Saundercock, Mr. ...|
|       0|Andersson, Mr. An...|
|       0|Vestrom, Miss. Hu...|
|       1|Hewlett, Mrs. (Ma...|
|       0|Rice, Master. Eugene|
|       1|Williams, Mr. Cha...|
|       0|Vander Planke, Mr...|
|       1|Masselmani, Mrs. ...|
+--------+--------------------+
only showing top 20 rows

In [49]:
# Please describe those who survived and their names where the name includes "Mrs"

selected = titanic_df.select("Survived", "Name") \
                     .filter(titanic_df.Survived == 1) \
                     .filter(titanic_df.Name.contains("Mrs"))
selected.show()

+--------+--------------------+
|Survived|                Name|
+--------+--------------------+
|       1|Cumings, Mrs. Joh...|
|       1|Futrelle, Mrs. Ja...|
|       1|Johnson, Mrs. Osc...|
|       1|Nasser, Mrs. Nich...|
|       1|Hewlett, Mrs. (Ma...|
|       1|Masselmani, Mrs. ...|
|       1|Asplund, Mrs. Car...|
|       1|Spencer, Mrs. Wil...|
|       1|Harper, Mrs. Henr...|
|       1|Faunthorpe, Mrs. ...|
|       1|Nye, Mrs. (Elizab...|
|       1|Backstrom, Mrs. K...|
|       1|Doling, Mrs. John...|
|       1|Weisz, Mrs. Leopo...|
|       1|Hakkarainen, Mrs....|
|       1|Pears, Mrs. Thoma...|
|       1|"Watt, Mrs. James...|
|       1|Chibnall, Mrs. (E...|
|       1|"O'Brien, Mrs. Th...|
|       1| Pinsky, Mrs. (Rosa)|
+--------+--------------------+
only showing top 20 rows

In [51]:
# Select multiple columns and rename them with alias():

selected = titanic_df.select(titanic_df["Survived"].alias("is_alive"), titanic_df["Name"].alias("full_name"))
selected.show()

+--------+--------------------+
|is_alive|           full_name|
+--------+--------------------+
|       0|Braund, Mr. Owen ...|
|       1|Cumings, Mrs. Joh...|
|       1|Heikkinen, Miss. ...|
|       1|Futrelle, Mrs. Ja...|
|       0|Allen, Mr. Willia...|
|       0|    Moran, Mr. James|
|       0|McCarthy, Mr. Tim...|
|       0|Palsson, Master. ...|
|       1|Johnson, Mrs. Osc...|
|       1|Nasser, Mrs. Nich...|
|       1|Sandstrom, Miss. ...|
|       1|Bonnell, Miss. El...|
|       0|Saundercock, Mr. ...|
|       0|Andersson, Mr. An...|
|       0|Vestrom, Miss. Hu...|
|       1|Hewlett, Mrs. (Ma...|
|       0|Rice, Master. Eugene|
|       1|Williams, Mr. Cha...|
|       0|Vander Planke, Mr...|
|       1|Masselmani, Mrs. ...|
+--------+--------------------+
only showing top 20 rows

### withColumn function

Apache Spark's withColumn() method modifies the columns in the DataFrame or adds a new column to the DataFrame.

Example of adding a new column to a DataFrame:

```python

from pyspark.sql.functions import col

# Create DataFrame
data = [("John", 25), ("Jane", 22), ("Bob", 30)]
df = spark.createDataFrame(data, ["Name", "Age"])

# Add a new column to the DataFrame
df = df.withColumn("AgePlusTen", col("Age") + 10)

# Show result
df.show()

```

In this example, a new column named "AgePlusTen" has been added to the DataFrame, adding 10 to the value of the column "Age". The withColumn() method uses the name "AgePlusTen" as the third parameter for the mathematical expression required to create the new column.

Example of modifying an existing column:

```python
# Create DataFrame
data = [("John", 25), ("Jane", 22), ("Bob", 30)]
df = spark.createDataFrame(data, ["Name", "Age"])

# Change column in DataFrame
df = df.withColumn("Age", col("Age") + 10)

# Show result
df.show()

```

In this example, the value of column "Age" is incremented by 10. The withColumn() method uses the name "Age" as the first parameter, which specifies the name of the column to modify, then uses the value of the existing column as the second parameter using the col() function, and then adds 10 to get the modified value.

In [53]:
# Query Name, Age and Embarked columns using col function

titanic_df.select(("Name"), ("Age"),("Embarked")).show()

+--------------------+----+--------+
|                Name| Age|Embarked|
+--------------------+----+--------+
|Braund, Mr. Owen ...|22.0|       S|
|Cumings, Mrs. Joh...|38.0|       C|
|Heikkinen, Miss. ...|26.0|       S|
|Futrelle, Mrs. Ja...|35.0|       S|
|Allen, Mr. Willia...|35.0|       S|
|    Moran, Mr. James|null|       Q|
|McCarthy, Mr. Tim...|54.0|       S|
|Palsson, Master. ...| 2.0|       S|
|Johnson, Mrs. Osc...|27.0|       S|
|Nasser, Mrs. Nich...|14.0|       C|
|Sandstrom, Miss. ...| 4.0|       S|
|Bonnell, Miss. El...|58.0|       S|
|Saundercock, Mr. ...|20.0|       S|
|Andersson, Mr. An...|39.0|       S|
|Vestrom, Miss. Hu...|14.0|       S|
|Hewlett, Mrs. (Ma...|55.0|       S|
|Rice, Master. Eugene| 2.0|       Q|
|Williams, Mr. Cha...|null|       S|
|Vander Planke, Mr...|31.0|       S|
|Masselmani, Mrs. ...|null|       C|
+--------------------+----+--------+
only showing top 20 rows

In [54]:
# Example that adds an age category column to our data using the when function

from pyspark.sql.functions import when


df_with_age_category = titanic_df.withColumn("age_category",when(col("age") < 18, "child").otherwise("adult"))
df_with_age_category.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+------------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|age_category|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+------------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|       adult|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|       adult|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|       adult|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|       adult|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|       adult|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|       adult|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|       adult|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S|       child|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|       adult|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|       child|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|       child|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|       adult|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| null|       S|       adult|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| null|       S|       adult|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| null|       S|       child|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| null|       S|       adult|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| null|       Q|       child|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0| null|       S|       adult|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| null|       S|       adult|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|       adult|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+------------+
only showing top 20 rows

In [55]:
# Example that multiplies the age by -1

df_with_minus_age = titanic_df.withColumn("age",col("age") *-1)
df_with_minus_age.show()

+-----------+--------+------+--------------------+------+-----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex|  age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+-----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|-22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|-38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|-26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|-35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|-35.0|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male| null|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|-54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| -2.0|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|-27.0|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|-14.0|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| -4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|-58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|-20.0|    0|    0|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|-39.0|    1|    5|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|-14.0|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|-55.0|    0|    0|          248706|   16.0| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| -2.0|    4|    1|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male| null|    0|    0|          244373|   13.0| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|-31.0|    1|    0|          345763|   18.0| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female| null|    0|    0|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+------+-----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

### withColumnRenamed

The withColumnRenamed function can be used to rename an existing column in the given DataFrame. The function takes two arguments: the first is the name of the current column, and the second is the new name to rename the column to.

An example of how to rename a column in the Titanic database:
```python
from pyspark.sql.functions import col

# df is the name of the Titanic DataFrame
df = df.withColumnRenamed("Pclass", "PassengerClass")

# Applying a new name to the PassengerClass column
df.show()

```

In [56]:
from pyspark.sql.functions import col

# data loading
titanic_df = spark.read.format("csv") \
    .option("header", "true") \
    .load("titanic.csv")

# Rename 'Name' column to 'PassengerName'
titanic_df = titanic_df.withColumnRenamed("Name", "PassengerName")

# print the new column
titanic_df.select(col("PassengerName")).show(5)

+--------------------+
|       PassengerName|
+--------------------+
|Braund, Mr. Owen ...|
|Cumings, Mrs. Joh...|
|Heikkinen, Miss. ...|
|Futrelle, Mrs. Ja...|
|Allen, Mr. Willia...|
+--------------------+
only showing top 5 rows

In [57]:
# Rename the "Embarked" column to "Port_of_Embarkation":

titanic_df = titanic_df.withColumnRenamed("Embarked", "Port_of_Embarkation")
titanic_df.printSchema()

root
 |-- PassengerId: string (nullable = true)
 |-- Survived: string (nullable = true)
 |-- Pclass: string (nullable = true)
 |-- PassengerName: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- SibSp: string (nullable = true)
 |-- Parch: string (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: string (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Port_of_Embarkation: string (nullable = true)

In [58]:
# Rename the column "SibSp" to "Siblings_or_Spouses_on_Board":

titanic_df = titanic_df.withColumnRenamed("SibSp", "Siblings_or_Spouses_on_Board")
titanic_df.printSchema()

root
 |-- PassengerId: string (nullable = true)
 |-- Survived: string (nullable = true)
 |-- Pclass: string (nullable = true)
 |-- PassengerName: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Siblings_or_Spouses_on_Board: string (nullable = true)
 |-- Parch: string (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: string (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Port_of_Embarkation: string (nullable = true)

In [59]:
# Rename the column "Parch" to "Parents_or_Children_on_Board":

titanic_df = titanic_df.withColumnRenamed("Parch", "Parents_or_Children_on_Board")
titanic_df.printSchema()

root
 |-- PassengerId: string (nullable = true)
 |-- Survived: string (nullable = true)
 |-- Pclass: string (nullable = true)
 |-- PassengerName: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Siblings_or_Spouses_on_Board: string (nullable = true)
 |-- Parents_or_Children_on_Board: string (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: string (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Port_of_Embarkation: string (nullable = true)

In [60]:
# Rename multiple columns
renamed_df = titanic_df.withColumnRenamed("Age", "NewAge").withColumnRenamed("Name", "FullName")
renamed_df.printSchema()

root
 |-- PassengerId: string (nullable = true)
 |-- Survived: string (nullable = true)
 |-- Pclass: string (nullable = true)
 |-- PassengerName: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- NewAge: string (nullable = true)
 |-- Siblings_or_Spouses_on_Board: string (nullable = true)
 |-- Parents_or_Children_on_Board: string (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: string (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Port_of_Embarkation: string (nullable = true)

In [61]:
# Rename all columns
from functools import reduce
new_column_names = ["Col_" + str(i) for i in titanic_df.columns]
renamed_df = reduce(lambda df, idx: df.withColumnRenamed(df.columns[idx], new_column_names[idx]), range(len(titanic_df.columns)), titanic_df)
renamed_df.printSchema()

root
 |-- Col_PassengerId: string (nullable = true)
 |-- Col_Survived: string (nullable = true)
 |-- Col_Pclass: string (nullable = true)
 |-- Col_PassengerName: string (nullable = true)
 |-- Col_Sex: string (nullable = true)
 |-- Col_Age: string (nullable = true)
 |-- Col_Siblings_or_Spouses_on_Board: string (nullable = true)
 |-- Col_Parents_or_Children_on_Board: string (nullable = true)
 |-- Col_Ticket: string (nullable = true)
 |-- Col_Fare: string (nullable = true)
 |-- Col_Cabin: string (nullable = true)
 |-- Col_Port_of_Embarkation: string (nullable = true)

## Practice

In [62]:
# Example, multiplying the age by -1

df_with_minus_age = titanic_df.withColumn("age", titanic_df.Age * -1) # can use col('age') as well
df_with_minus_age.show()

+-----------+--------+------+--------------------+------+-----+----------------------------+----------------------------+----------------+-------+-----+-------------------+
|PassengerId|Survived|Pclass|       PassengerName|   Sex|  age|Siblings_or_Spouses_on_Board|Parents_or_Children_on_Board|          Ticket|   Fare|Cabin|Port_of_Embarkation|
+-----------+--------+------+--------------------+------+-----+----------------------------+----------------------------+----------------+-------+-----+-------------------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|-22.0|                           1|                           0|       A/5 21171|   7.25| null|                  S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|-38.0|                           1|                           0|        PC 17599|71.2833|  C85|                  C|
|          3|       1|     3|Heikkinen, Miss. ...|female|-26.0|                           0|                           0|STON/O2. 3101282|  7.925| null|                  S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|-35.0|                           1|                           0|          113803|   53.1| C123|                  S|
|          5|       0|     3|Allen, Mr. Willia...|  male|-35.0|                           0|                           0|          373450|   8.05| null|                  S|
|          6|       0|     3|    Moran, Mr. James|  male| null|                           0|                           0|          330877| 8.4583| null|                  Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|-54.0|                           0|                           0|           17463|51.8625|  E46|                  S|
|          8|       0|     3|Palsson, Master. ...|  male| -2.0|                           3|                           1|          349909| 21.075| null|                  S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|-27.0|                           0|                           2|          347742|11.1333| null|                  S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|-14.0|                           1|                           0|          237736|30.0708| null|                  C|
|         11|       1|     3|Sandstrom, Miss. ...|female| -4.0|                           1|                           1|         PP 9549|   16.7|   G6|                  S|
|         12|       1|     1|Bonnell, Miss. El...|female|-58.0|                           0|                           0|          113783|  26.55| C103|                  S|
|         13|       0|     3|Saundercock, Mr. ...|  male|-20.0|                           0|                           0|       A/5. 2151|   8.05| null|                  S|
|         14|       0|     3|Andersson, Mr. An...|  male|-39.0|                           1|                           5|          347082| 31.275| null|                  S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|-14.0|                           0|                           0|          350406| 7.8542| null|                  S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|-55.0|                           0|                           0|          248706|     16| null|                  S|
|         17|       0|     3|Rice, Master. Eugene|  male| -2.0|                           4|                           1|          382652| 29.125| null|                  Q|
|         18|       1|     2|Williams, Mr. Cha...|  male| null|                           0|                           0|          244373|     13| null|                  S|
|         19|       0|     3|Vander Planke, Mr...|female|-31.0|                           1|                           0|          345763|     18| null|                  S|
|         20|       1|     3|Masselmani, Mrs. ...|female| null|                           0|                           0|            2649|  7.225| null|                  C|
+-----------+--------+------+--------------------+------+-----+----------------------------+----------------------------+----------------+-------+-----+-------------------+
only showing top 20 rows

In [63]:
# Rename the column "Port_of_Embarkation" to "Embarked":

titanic_df = titanic_df.withColumnRenamed("Port_of_Embarkation", "Embarked")
titanic_df.printSchema()

root
 |-- PassengerId: string (nullable = true)
 |-- Survived: string (nullable = true)
 |-- Pclass: string (nullable = true)
 |-- PassengerName: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Siblings_or_Spouses_on_Board: string (nullable = true)
 |-- Parents_or_Children_on_Board: string (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: string (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

In [64]:
# Rename multiple columns NewAge -> Age, FullName-> Name
renamed_df = titanic_df.withColumnRenamed("NewAge", "Age").withColumnRenamed("FullName", "Name")
renamed_df.printSchema()

root
 |-- PassengerId: string (nullable = true)
 |-- Survived: string (nullable = true)
 |-- Pclass: string (nullable = true)
 |-- PassengerName: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Siblings_or_Spouses_on_Board: string (nullable = true)
 |-- Parents_or_Children_on_Board: string (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: string (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

In [65]:
titanic_df.show()

+-----------+--------+------+--------------------+------+----+----------------------------+----------------------------+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|       PassengerName|   Sex| Age|Siblings_or_Spouses_on_Board|Parents_or_Children_on_Board|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+----------------------------+----------------------------+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|  22|                           1|                           0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|  38|                           1|                           0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|  26|                           0|                           0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|  35|                           1|                           0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|  35|                           0|                           0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|                           0|                           0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|  54|                           0|                           0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male|   2|                           3|                           1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|  27|                           0|                           2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|  14|                           1|                           0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female|   4|                           1|                           1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|  58|                           0|                           0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|  20|                           0|                           0|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|  39|                           1|                           5|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|  14|                           0|                           0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|  55|                           0|                           0|          248706|     16| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male|   2|                           4|                           1|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|                           0|                           0|          244373|     13| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|  31|                           1|                           0|          345763|     18| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|                           0|                           0|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+------+----+----------------------------+----------------------------+----------------+-------+-----+--------+
only showing top 20 rows

### The groupBy and agg functions

The groupBy and agg operations within the PySpark DataFrame API group data by a given column value and then apply different aggregation functions to the groups. These operations are extremely useful when you want to perform complex data manipulations.

Here is an example of using groupby and agg with the PySpark DataFrame API:

```python
# Load data into DataFrame
from pyspark.sql.functions import *

data = [("Alice", "female", 25),
        ("Bob", "male", 30),
        ("Charlie", "male", 35),
        ("Diana", "female", 40),
        ("Emily", "female", 45)]

df = spark.createDataFrame(data, ["name", "gender", "age"])

# Group by gender and calculate average age
df.groupBy("gender").agg(avg("age").alias("average_age")).show()

```

In this example, we load a simple data set containing the names, gender and age of people into the DataFrame. We then use the groupBy and agg functions to group by gender and calculate the average age. The result will be as follows:

```python
+------+-----------+
|gender|average_age|
+------+-----------+
|female| 36.6      |
| male | 32.5      |
+------+-----------+
```
This indicates that women are on average 36.6 years old, while men are on average 32.5 years old.

Of course, groupBy and agg operations can be combined with other data manipulation functions such as filter, select or orderBy. By combining the individual operations, complex data manipulation chains can be created.

In [67]:
# Reload our dataframe

titanic_df = spark.read.format("parquet").load("titanic_parquet")

In [68]:
# Calculate the maximum age by sex and class

from pyspark.sql.functions import max

max_age_df = titanic_df.groupBy(['Sex', 'Pclass']).agg(max('Age').alias('MaxAge'))

max_age_df.show()

+------+------+------+
|   Sex|Pclass|MaxAge|
+------+------+------+
|  male|     3|  74.0|
|female|     3|  63.0|
|female|     1|  63.0|
|female|     2|  57.0|
|  male|     2|  70.0|
|  male|     1|  80.0|
+------+------+------+

In [69]:
# So can it be:

titanic_df.groupBy("Sex").agg({"Age": "avg", "Fare": "max"}).show()

+------+------------------+---------+
|   Sex|          avg(Age)|max(Fare)|
+------+------------------+---------+
|female|27.915708812260537| 512.3292|
|  male| 30.72664459161148| 512.3292|
+------+------------------+---------+

In [70]:
# Calculate the average price paid by all passengers per class:

from pyspark.sql.functions import avg

titanic_df.groupBy("Pclass").agg(avg("Fare")).show()

+------+------------------+
|Pclass|         avg(Fare)|
+------+------------------+
|     1| 84.15468749999992|
|     3|13.675550101832997|
|     2| 20.66218315217391|
+------+------------------+

### join function

The join operation allows you to join two different sets of data based on a common key. In the PySpark DataFrame API, different types of join operations are available: inner join, outer join, left outer join and right outer join.

Below is an example of how to join data in one table with data in another table.

Suppose you have two PySpark DataFrames containing the following data:
    
```python
# DataFrame 1
df1 = spark.createDataFrame([[
  ("John", "Doe", 35),
  ("Jane", "Doe", 30),
  ("Max", "Smith", 25),
], ["first_name", "last_name", "age"])

# DataFrame 2
df2 = spark.createDataFrame([
  ("Doe", "Marketing"),
  ("Smith", "Sales"),
], ["last_name", "department"])

```
In this example, we will link the data in table df1 to table df2 based on the last_name key. The join type will be inner join, i.e. only those rows that are found in both tables will be kept.
```python
# inner join
df3 = df1.join(df2, "last_name", "inner")

df3.show()
+---------+----------+---+----------+
|last_name|first_name|age|department|
+---------+----------+---+----------+
| Doe     | John     | 35| Marketing|
| Doe     | Jane     | 30| Marketing|
| Smith   | Max      | 25| Sales    |
+---------+----------+---+----------+

```
The join operation will return a new DataFrame in which the two tables have been joined based on the specified key. In the example above, the last_name column was used as the key. The joined table contains the columns first_name, age and department.

In [71]:
# Example of joining Titanic data between two DataFrames based on the "PassengerId" column:

# Let's read the data
titanic_df = spark.read.format("parquet").load("titanic_parquet")
titanic_df.show()

# Create another DataFrame containing the PassengerId and age
age_df = titanic_df.select("PassengerId", "Age")
age_df.show()

# Connect the two DataFrames by PassengerId
joined_df = titanic_df.join(age_df, "PassengerId","inner")
joined_df.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

+-----------+----+
|PassengerId| Age|
+-----------+----+
|          1|22.0|
|          2|38.0|
|          3|26.0|
|          4|35.0|
|          5|35.0|
|          6|null|
|          7|54.0|
|          8| 2.0|
|          9|27.0|
|         10|14.0|
|         11| 4.0|
|         12|58.0|
|         13|20.0|
|         14|39.0|
|         15|14.0|
|         16|55.0|
|         17| 2.0|
|         18|null|
|         19|31.0|
|         20|null|
+-----------+----+
only showing top 20 rows

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+----+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked| Age|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+----+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|22.0|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|38.0|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|26.0|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|35.0|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|35.0|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|null|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|54.0|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S| 2.0|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|27.0|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|14.0|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S| 4.0|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|58.0|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| null|       S|20.0|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| null|       S|39.0|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| null|       S|14.0|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| null|       S|55.0|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| null|       Q| 2.0|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0| null|       S|null|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| null|       S|31.0|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|null|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+----+
only showing top 20 rows

## Practice

In [73]:
# Calculate the minimum age by sex and class

from pyspark.sql.functions import min

min_age_df = titanic_df.groupBy(["Age","Sex"]).agg(min('Age').alias('MinAge'))

min_age_df.show()

+----+------+------+
| Age|   Sex|MinAge|
+----+------+------+
|49.0|female|  49.0|
|55.0|female|  55.0|
|47.0|  male|  47.0|
|0.83|  male|  0.83|
|12.0|  male|  12.0|
|66.0|  male|  66.0|
|64.0|  male|  64.0|
|18.0|female|  18.0|
|36.0|  male|  36.0|
|44.0|  male|  44.0|
|48.0|female|  48.0|
|37.0|female|  37.0|
|34.0|  male|  34.0|
|60.0|female|  60.0|
|55.5|  male|  55.5|
|43.0|  male|  43.0|
|35.0|  male|  35.0|
|21.0|female|  21.0|
|41.0|female|  41.0|
|16.0|  male|  16.0|
+----+------+------+
only showing top 20 rows

In [74]:
# Calculates the average price paid by all passengers per class:

from pyspark.sql.functions import avg

titanic_df.groupBy("Pclass").agg(avg("Fare")).show()

+------+------------------+
|Pclass|         avg(Fare)|
+------+------------------+
|     1| 84.15468749999992|
|     3|13.675550101832997|
|     2| 20.66218315217391|
+------+------------------+